Repository aristanetworks/avd, pull requests merged in 2019-10, with the labels that each got.

#22 Fix ibgp overlay vrf
  examples/evpn-l3ls-design-guide/config_backup/DC1-BL1A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-BL1B_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-LEAF1A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-LEAF2A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-LEAF2B_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-SVC3A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-SVC3B_running-config.conf
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-BL1A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-BL1B.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-LEAF1A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-LEAF2A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-LEAF2B.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-SVC3A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-SVC3B.md
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF1A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3B.yml
  examples/evpn-l3ls-design-guide/group_vars/DC1_TENANTS_NETWORKS.yml
  examples/evpn-l3ls-design-guide/intended_configs/DC1-BL1A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-BL1B.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-LEAF1A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-LEAF2A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-LEAF2B.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-SVC3A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-SVC3B.cfg
  roles/eos-cli-config-gen/templates/eos/router-bgp.j2
  roles/eos-l3ls-evpn/defaults/main.yml
  roles/eos-l3ls-evpn/templates/mlag/leaf-mlag-vlan-interfaces.j2
  roles/eos-l3ls-evpn/templates/tenant-evpn-vxlan/leaf-tenant-router-bgp-evpn.j2
  roles/eos-l3ls-evpn/templates/tenant-evpn-vxlan/leaf-tenant-vlan-interfaces.j2
  roles/eos-l3ls-evpn/templates/tenant-evpn-vxlan/leaf-tenant-vlans.j2
  roles/eos-l3ls-evpn/templates/tenant-evpn-vxlan/leaf-vxlan-vtep-interface.j2
Labels: EVPN design guide, bug

#23 Fix shared mac mlag vxlan 1
  examples/evpn-l3ls-design-guide/config_backup/DC1-BL1A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-BL1B_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-LEAF2A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-LEAF2B_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-SVC3A_running-config.conf
  examples/evpn-l3ls-design-guide/config_backup/DC1-SVC3B_running-config.conf
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-BL1A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-BL1B.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-LEAF2A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-LEAF2B.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-SVC3A.md
  examples/evpn-l3ls-design-guide/documentation/devices/DC1-SVC3B.md
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3B.yml
  examples/evpn-l3ls-design-guide/intended_configs/DC1-BL1A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-BL1B.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-LEAF2A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-LEAF2B.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-SVC3A.cfg
  examples/evpn-l3ls-design-guide/intended_configs/DC1-SVC3B.cfg
  roles/eos-cli-config-gen/templates/eos/vxlan-interface.j2
  roles/eos-l3ls-evpn/templates/tenant-evpn-vxlan/leaf-vxlan-vtep-interface.j2
Labels: EVPN design guide, bug

#24 Fix hardware profiles
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-BL1B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF1A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-LEAF2B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SPINE1.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SPINE2.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-SVC3B.yml
  roles/eos-cli-config-gen/templates/eos-intended-config.j2
  roles/eos-cli-config-gen/templates/eos/tcam-profile.j2
  roles/eos-l3ls-evpn/defaults/main.yml
  roles/eos-l3ls-evpn/templates/base/tcam-profile.j2
  roles/eos-l3ls-evpn/templates/evpn-fabric-l2leaf-yml.j2
  roles/eos-l3ls-evpn/templates/evpn-fabric-l3leaf-yml.j2
  roles/eos-l3ls-evpn/templates/evpn-fabric-spine-yml.j2
Labels: EVPN design guide, bug

#32 Fix p2p links csv
  examples/evpn-l3ls-design-guide/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  examples/evpn-l3ls-design-guide/generated_vars/DC1-L2LEAF4A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-L2LEAF5A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-L2LEAF5B.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-L2LEAF6A.yml
  examples/evpn-l3ls-design-guide/generated_vars/DC1-L2LEAF6B.yml
  roles/eos-l3ls-evpn/templates/documentation/dc-fabric-p2p-links.j2
  roles/eos-l3ls-evpn/templates/evpn-fabric-l2leaf-yml.j2
Labels: EVPN design guide, bug

#31 ADDED DOCKERFILE FOR CONTAINERIZATION
  Dockerfile
  Makefile
  README.md
  requirements-dev.txt
  requirements.txt
Labels: avd tools

#40 breakout bgp configuration in sub-templates
  roles/eos-l3ls-evpn/templates/evpn-fabric-l3leaf-yml.j2
  roles/eos-l3ls-evpn/templates/evpn-fabric-spine-yml.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/leaf-router-bgp-base.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/leaf-router-bgp-neighbors.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/leaf-router-bgp-peer-groups.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/leaf-router-bgp-redistribute-routes.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/leaf-router-bgp.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/spine-router-bgp-base.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/spine-router-bgp-neighbors.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/spine-router-bgp-peer-groups.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/spine-router-bgp-redistribute-routes.j2
  roles/eos-l3ls-evpn/templates/underlay-overlay/spine-router-bgp.j2
Labels: EVPN design guide, refactor
