Repository aristanetworks/avd, pull requests merged in 2020-07, with the labels that each got.

#182 Development stack with docker-compose
  .github/workflows/installation-test.yml
  ansible_collections/arista/avd/docs/Dockerfile
  development/Makefile
  development/README.md
  development/docker-compose.yml
  development/install.sh
Labels: avd tools

#184 Implement IS-IS as underlay option in eos_l3ls_evpn
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/mlag/leaf-mlag-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-router-bgp-address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-router-bgp-address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/leaf-vtep-vxlan-tunnel-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/router-isis.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/spine-overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/spine-p2p-interfaces.j2
  testing/avd-underlay-isis/ansible.cfg
  testing/avd-underlay-isis/group_vars/CVP.yml
  testing/avd-underlay-isis/group_vars/DC1.yml
  testing/avd-underlay-isis/group_vars/DC1_FABRIC.yml
  testing/avd-underlay-isis/group_vars/DC1_L2LEAFS.yml
  testing/avd-underlay-isis/group_vars/DC1_L3LEAFS.yml
  testing/avd-underlay-isis/group_vars/DC1_SERVERS.yml
  testing/avd-underlay-isis/group_vars/DC1_SPINES.yml
  testing/avd-underlay-isis/group_vars/DC1_TENANTS_NETWORKS.yml
  testing/avd-underlay-isis/group_vars/all.yml
  testing/avd-underlay-isis/group_vars/cvp_sync.yml
  testing/avd-underlay-isis/inventory.yml
  testing/avd-underlay-isis/playbook-validation.yml
Labels: EVPN design guide, enhancement

#183 Update development stack
  development/Dockerfile
  development/Makefile
  development/docker-compose.yml
Labels: avd tools

#186 Fix issue where installation script failed to clone AVD
  .github/workflows/installation-test.yml
  development/install.sh
Labels: avd tools

#189 Change name of example repository
  development/install.sh
Labels: type: Code quality, type: dependencies

#191 added vlan state to eos_cli_config_gen
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlans.j2
Labels: role: eos_cli_config_gen, state: accepted, type: enhancement

#210 Release 1.0.2
  ansible_collections/arista/avd/galaxy.yml
Labels: New Release

#208 vrrp: initial support for redundancy of vlan interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, type: enhancement
