Repository aristanetworks/avd, pull requests merged in 2020-09, with the labels that each got.

#216 Add EVPN ESI Support for Active/Active server connections
  .github/workflows/molecule.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/converge.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/create.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/destroy.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/host_vars/all.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/inventory/hosts
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/molecule.yml
  ansible_collections/arista/avd/molecule/avd-l3ls-server-connections/verify.yml
  ansible_collections/arista/avd/plugins/filter/esi_management.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge-ports/leaf-server-port-channels.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: testing, type: enhancement

#194 add next hop interfaces to static route templates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/static-routes.j2
Labels: role: eos_cli_config_gen, state: accepted, state: testing, type: enhancement

#221 Minor updates to eos_cli_config_gen role
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: accepted, state: testing, type: enhancement

#225 Add CI action to build docker image
  .github/workflows/ansible_test.yml
  .github/workflows/docker_build.yml
  .github/workflows/installation-test.yml
  .github/workflows/linting.yml
  development/requirements.txt
Labels: avd tools, state: testing, type: enhancement

#223 Add support for no_password for local users
  ansible_collections/arista/avd/molecule/avd-l3ls-ebgp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/local-users.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/local-users.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, type: enhancement

#226 Critical Fix - ESI malformed by filter plugin
  ansible_collections/arista/avd/plugins/filter/esi_management.py
Labels: type: bug

#230 eos_cli_config_gen - minor fixes
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/name-servers.j2
Labels: role: eos_cli_config_gen, type: bug

#231 ip name-server - sort to match EOS output
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/name-servers.j2
Labels: role: eos_cli_config_gen, type: bug

#227 Update documentation for cvp_configlet_upload
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
Labels: role: cvp_configlet_upload, type: documentation

#209 create role eos_validate_state
  Makefile
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/media/example-playbook-evpn-deploy-cvp.gif
  ansible_collections/arista/avd/media/example-playbook-evpn-deploy-eapi.gif
  ansible_collections/arista/avd/media/figure-1-example-playbook-evpn-deploy-cvp.gif
  ansible_collections/arista/avd/media/figure-2-example-playbook-evpn-deploy-eapi.gif
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/media/role-eos_validate_state.gif
  ansible_collections/arista/avd/roles/eos_validate_state/meta/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/mlag.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ntp.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reload_cause.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reports.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-md.j2
  media/example-playbook-evpn-deploy-cvp.gif
  media/example-playbook-evpn-deploy-eapi.gif
  media/figure-1-example-playbook-evpn-deploy-cvp.gif
  media/figure-2-example-playbook-evpn-deploy-eapi.gif
Labels: role: eos_validate_state, state: testing

#232 New Theme RTD like + Add EOS Validate State
  CNAME
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/docs/stylesheets/extra.ivory.css
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  mkdocs.yml
Labels: type: documentation

#233 How to use NAT Gateway with AVD
  .github/workflows/documentation-build.yml
  ansible_collections/arista/avd/docs/_media/lab-nat-topology-example.png
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/stylesheets/extra.ivory.css
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  mkdocs.yml
Labels: type: documentation

#235 Sanity fix in documentation
  ansible_collections/arista/avd/CNAME
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/installation/development.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: type: documentation, type: enhancement

#238 Update CSS var for code block
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  development/README.md
  mkdocs.yml
Labels: type: documentation

#237 Update build_output_dir documentation
  ansible_collections/arista/avd/roles/build_output_folders/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
Labels: type: documentation

#242 Add CI workflow to validate documentation content
  .github/workflows/documentation-build.yml
  .github/workflows/documentation-check.yml
  Makefile
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/docs/installation/development.md
  development/Makefile
  development/docker-compose.yml
Labels: avd tools, state: in-progress, type: code quality, type: documentation

#247 Fix eos validate state reporting
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: role: eos_validate_state, type: bug

#246 Fix #245 - Add specific task exec at container lvl
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/present.yml
Labels: role: eos_config_deploy_cvp, state: testing, type: bug

#248 Eos config deploy eapi pre post backup
  ansible_collections/arista/avd/roles/build_output_folders/README.md
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/media/role_eos_config_deploy_eapi.gif
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
Labels: role: build_output_folders, role: eos_config_deploy_eapi

#253 updated mlag heartbeat VRF logic
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
Labels: role: eos_cli_config_gen, state: testing, type: bug
