Repository aristanetworks/avd, pull requests merged in 2020-12, with the labels that each got.

#408 release notes v1.1.1 + formatting update
  ansible_collections/arista/avd/docs/release-notes/1.0.x.md
  ansible_collections/arista/avd/docs/release-notes/1.1.x.md
Labels: type: documentation

#410 Add extra newline after custom_template include
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/custom-templates.j2
Labels: role: eos_cli_config_gen

#414 Conditional bgp multihop value
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-peer-groups.j2
Labels: role: eos_l3ls_evpn

#413 Add option to disable MLAG IBGP Peering in VRFs
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/overlay-controller-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/super-spine-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlans.j2
Labels: role: build_output_folders, role: eos_cli_config_gen, role: eos_l3ls_evpn, type: documentation

#419 Update pre-commit configuration
  .pre-commit-config.yaml
  development/requirements-dev.txt
Labels: type: dependencies

#417 Update CI image to use stable v1
  .github/workflows/docker_build.yml
  .github/workflows/installation-test.yml
  .github/workflows/linting.yml
  development/Makefile
  development/docker-compose.yml
Labels: type: code quality

#434 eos_cli_config_gen add support for platform sand lag and mode
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: documentation

#433 Update contributing guide
  ansible_collections/arista/avd/docs/contributing.md
  contributing.md
Labels: type: documentation

#427 Aggregate bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: documentation, type: enhancement

#442 Setting maximum paths & ecmp for eBGP in eos_l3ls_evpn role
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-base.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-base.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: documentation

#448 Delete redundant prefix-list that is not used in any route-map
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-prefix-lists.j2
Labels: role: eos_l3ls_evpn

#431 Update development toolkit
  development/Makefile
  development/docker-compose.yml
Labels: type: code quality

#415 Fix issues SVI state not applied & management ssh vrf
  ansible_collections/arista/avd/molecule/README.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-ssh.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: bug, type: documentation

#443 issue #275 add device document for management API HTTP
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-http.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-http.j2
Labels: role: eos_cli_config_gen, type: documentation

#411 Fix missing CR in alias template
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aliases.j2
Labels: role: eos_cli_config_gen

#424 Disable STP for VLAN 4093
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-spanning-tree.j2
Labels: role: eos_l3ls_evpn

#450 SNMP settings documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
Labels: role: eos_cli_config_gen

#459 Revert to labeler v2
  .github/workflows/pr_labeler.yml
Labels: state: CI Updated, type: code quality

#462 Update CI workflow
  .github/workflows/pr_labeler.yml
Labels: type: code quality

#460 Eos_cli_config_gen Doc Standardization
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-authentication.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-server-groups.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/custom-templates.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemon-terminattr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/domain-list.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handler.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/hardware-counters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-dhcp-relay.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-extended-communities.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-tacacs-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-standard-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/local-users.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-gnmi.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-http.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-ssh.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/name-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ntp-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/peer-filters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/platform.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/radius-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/route-maps.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-l2-vpn.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/sflow.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/spanning-tree.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/standard-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tacacs-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-source-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vmtracer-sessions.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vrf-instances.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
Labels: role: eos_cli_config_gen

#457 Add support centralized routing designs
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-vtep-vxlan-tunnel-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-virtual-source-nat-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-vxlan-vtep-interface.j2
Labels: role: eos_l3ls_evpn, type: enhancement

#465 Update PR triage worklfow configuration
  .github/labeler.yml
  .github/reviewers.yml
  .github/workflows/pr_labeler.yml
Labels: type: code quality

#490 bgp: docu: afi ipv4 neighbors supoprt routemaps, too
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#484 Fixed the condition for interfaces description configuration
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen

#468 Ethernet interfaces documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, type: documentation

#485 Update device port channel documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, type: documentation

#426 Option to disable IP ICMP redirects
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-routing.j2
Labels: role: eos_cli_config_gen

#482 Optimize Molecule execution and cleanup Github actions
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/git-repo-state-monitor.sh
  .github/labeler.yml
  .github/reviewers.yml
  .github/run-test-playbooks
  .github/workflows/installation-test.yml
  .github/workflows/linting.yml
  .github/workflows/molecule-cli-config-gen.yml
  .github/workflows/molecule-l3ls-evpn.yml
  .github/workflows/molecule-new-release.yml
  .github/workflows/pr_conflict.yml
  ansible_collections/arista/avd/molecule/Makefile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_l3leaf_no_mlag/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/molecule.yml
  development/requirements-dev.txt
  development/requirements.txt
Labels: state: CI Updated, type: code quality, type: dependencies

#500 Fix exception for passing empty dict
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
Labels: module: inventory_to_container, type: bug

#344 ethernet: extend speed options
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: data model change, role: eos_cli_config_gen, type: documentation

#522 Fixed the jinja comment in the router isis template
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
Labels: role: eos_cli_config_gen, type: documentation

#519 IGMP snooping documentation fix
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/igmp-snooping.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/igmp-snooping.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/igmp-snooping.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-igmp-snooping.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: documentation

#517 Errdisable feature
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/errdisable.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet_interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/loopbacks-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-gnmi.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mcast-pim.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/none_configuration.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/prefix-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/route-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-static.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/sflow.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp_v3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-cloud.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-prem-disableaaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-prem.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlans.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vrfs.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/errdisable.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/errdisable.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/errdisable.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/errdisable.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: documentation

#525 Fix code rendering in cli_config_gen README
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#526 Change location for MTU knob so SVI 4093 uses it
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-vlan-interfaces.j2
Labels: role: eos_l3ls_evpn, type: bug

#528 Collection documentation moved to Read The Doc CDN
  .github/workflows/documentation-build.yml
  .github/workflows/documentation-check.yml
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  ansible_collections/arista/avd/docs/release-notes/1.1.x.md
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
Labels: role: cvp_configlet_upload, role: eos_config_deploy_cvp, state: Documentation role Updated, type: code quality, type: documentation

#498 Fix LLDP topology validation when there is no domain name
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: eos_validate_state

#531 Added loopback0 reachability tests
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback0_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: help wanted, role: eos_validate_state, state: Documentation role Updated

#514 Add route-map support to peer groups for EVPN
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#516 Add module startup checks for Python lib
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
Labels: module: configlet_build_config, module: inventory_to_container

#527 bgp: ipv6: fix rendering of prefix-lists to mirror ipv4 behavior
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-prefix-lists.j2
Labels: role: eos_cli_config_gen

#535 BUGFIX: No VRF loopback when evpn_services_l2_only is true
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vrf-loopbacks.j2
Labels: role: eos_l3ls_evpn, type: bug

#536 svi and l2vlan keys to check and tested as int
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-vxlan-vtep-interface.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: bug

#533 Include default VRF in mgmt api for eos_l3ls_evpn
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-api-http.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-api-http.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-api-http.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-http.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated, type: bug

#545 Fix l3ls role documentation about igmp snooping
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_l3ls_evpn, state: Documentation role Updated, type: documentation

#544 Fix L2 leaves uplinks when MLAG is not desired
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l2leaf-port-channel-uplinks.j2
Labels: cherry-pick, role: eos_l3ls_evpn, state: CI Updated

#547 Add ability to not enable mlag dual primary detection
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-configuration.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#502 Add a role to collect EOS commands
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  ansible_collections/arista/avd/roles/eos_snapshot/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/media/role_eos_snapshot.png
  ansible_collections/arista/avd/roles/eos_snapshot/meta/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/markdown.yml
  ansible_collections/arista/avd/roles/eos_snapshot/templates/device_text_command.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_yaml_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/md_report.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/md_table_of_content.j2
  ansible_collections/arista/avd/roles/eos_snapshot/tests/inventory
  ansible_collections/arista/avd/roles/eos_snapshot/tests/test.yml
  ansible_collections/arista/avd/roles/eos_snapshot/vars/main.yml
Labels: role: build_output_folders, state: Documentation role Updated, type: documentation, type: enhancement

#556 Update documentation for router ospf and VRF support
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#551 Upgrade mkdocs & theme
  ansible_collections/arista/avd/docs/requirements.txt
  mkdocs.yml
Labels: type: dependencies, type: documentation

#562 Skip l2leaf devices from lo0 reachability tests
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback0_reachability.yml
Labels: role: eos_validate_state

#559 Add filter feature in default section for l2leaf and l3leaf devices
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#563 L2leaf inband management
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/route-maps.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-router-bgp-redistribute-routes.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/leaf-l2leaf-inband-management-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/leaf-l2leaf-inband-management-vlan.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/routing/static-routes.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#557 Storm control in l3ls_evpn the unit as optional
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-interfaces.j2
Labels: cherry-pick, role: eos_l3ls_evpn, state: Documentation role Updated, type: bug

#567 Add Test Plugin arista.avd.defined
  .github/labeler.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/is_valid.py
  ansible_collections/arista/avd/plugins/test/defined.py
Labels: filter: defined, type: Python filters, type: code quality
