Repository aristanetworks/avd, pull requests merged in 2020-08, with the labels that each got.

#212 Update README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: accepted, type: documentation

#163 BGP: OSPF: routing extensions to eos_cli_config_ren role
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/lldp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, type: enhancement

#217 Fix and optimize ansible-test CI execution
  .github/workflows/ansible_test.yml
  Makefile
Labels: avd tools, type: bug, type: code quality

#219 Add CVPRAC part of requirements
  README.md
  ansible_collections/arista/avd/README.md
  development/requirements.txt
Labels: type: dependencies, type: documentation
