Repository aristanetworks/avd, pull requests merged in 2020-02, with the labels that each got.

#69 add support to enter multiple cvp ips
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemon-terminattr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/daemon-terminattr.j2
Labels: EVPN design guide

#74 Add tools to manage repository
  .github/pre-commit
  Makefile
  ansible_collections/arista/avd/galaxy.yml
  pylintrc
Labels: avd tools

#75 When setting execute_tasks, tasks are not executing
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/present.yml
Labels: bug
