Repository aristanetworks/avd, pull requests merged in 2020-05, with the labels that each got.

#105 Update Dockerfile for better user experience
  .github/workflows/docker.yml
  development/Dockerfile
  development/Makefile
  development/README.md
  development/requirements-dev.txt
  development/requirements.txt
Labels: avd tools

#122 Fix incorrect name in inventory_to_container module
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
Labels: avd tools, bug

#121 Add support for event-handler
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handler.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handler.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/event-handler.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
Labels: EVPN design guide, documentation, enhancement

#126 Fix #125 - Add support for tag with no VNI
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-router-bgp-evpn-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-router-bgp-evpn-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-router-bgp-evpn-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-virtual-source-nat-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-vrf-loopbacks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-vxlan-vtep-interface.j2
  testing/avd-no-svi-in-tag-125/ansible.cfg
  testing/avd-no-svi-in-tag-125/group_vars/AVD_LAB.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_FABRIC.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_L2LEAFS.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_LEAFS.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_SERVERS.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_SPINES.yml
  testing/avd-no-svi-in-tag-125/group_vars/DC1_TENANTS_NETWORKS.yml
  testing/avd-no-svi-in-tag-125/inventory.yml
  testing/avd-no-svi-in-tag-125/playbook-validation.yml
Labels: enhancement

#132 Features/refactor tenant networking 1
  .github/workflows/ansible_test.yml
  .github/workflows/playbook_validation.yml
  Makefile
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf-l2leafs-uplinks/l3leaf-port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant-evpn-vxlan/leaf-tenant-vlan-interfaces.j2
  testing/avd-eos-only-generic/group_vars/AVD_LAB.yml
  testing/avd-eos-only-generic/group_vars/DC1_TENANTS_NETWORKS.yml
  testing/avd-eos-only-generic/inventory.yml
Labels: enhancement

#134 add branching model, move devel to default branch
  README.md
Labels: documentation

#136 Fix #135 - Configure explicicit root folder for intended, documentation, config_backup folders
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/tasks/main.yml
Labels: refactor

#139 Update documentation about Server Edge Port Connectivity
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: documentation

#141 refactor platform specific settings
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/tcam-profile.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/mlag/leaf-mlag-configuration.j2
Labels: bug, enhancement, refactor
