Repository aristanetworks/avd, pull requests merged in 2020-10, with the labels that each got.

#258 initial release notes
  ansible_collections/arista/avd/docs/release-notes/1.0.x.md
  ansible_collections/arista/avd/docs/release-notes/1.1.x.md
  mkdocs.yml
Labels: type: documentation

#259 update version and documentation links
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#260 Fix nested list rendering issue
  ansible_collections/arista/avd/docs/requirements.txt
  mkdocs.yml
Labels: type: documentation

#266 Enable PR labeler engine
  .github/labeler.yml
  .github/workflows/pr_conflict.yml
  .github/workflows/pr_labeler.yml
Labels: type: code quality

#280 Add new AVD logo + minor doc fixes
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/media/avd-logo.png
Labels: type: documentation

#283 Fix CI ignoring README.md update
  .github/workflows/documentation-build.yml
Labels: type: code quality, type: documentation

#287 Add jsonschema
  development/requirements.txt
Labels: type: dependencies

#289 fix #286 - alias documention
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aliases.j2
Labels: role: eos_cli_config_gen, type: documentation

#291 CI - Update labeler action
  .github/labeler.yml
Labels: type: code quality

#288 Change GH action to load env variables #281
  .github/workflows/ansible_test.yml
  .github/workflows/molecule.yml
Labels: state: testing, type: code quality

#251 OSPF: support detailed neighbor changes log and authentication on VLAN interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, type: documentation, type: simple enhancement

#304 documentation/eos l3ls evpn esi doc update
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_l3ls_evpn, type: documentation

#305 eos_validate_state - Add Check box for test result
  ansible_collections/arista/avd/plugins/filter/markdown_rendering.py
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-md.j2
Labels: role: eos_validate_state, type: documentation

#290 #274 - add template for management ssh documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-ssh.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
Labels: role: eos_cli_config_gen, type: documentation

#249 Add How-to start AVD with CVP deployment
  ansible_collections/arista/avd/docs/_media/cloudvision-deployed-configlet.png
  ansible_collections/arista/avd/docs/_media/cloudvision-device-topology.png
  ansible_collections/arista/avd/docs/_media/cloudvision-initial-configlet.png
  ansible_collections/arista/avd/docs/_media/cloudvision-uploaded-configlets.png
  ansible_collections/arista/avd/docs/_media/cloudvision-ztpd-devices.png
  ansible_collections/arista/avd/docs/_media/figure-2-cloudvision-change-control.png
  ansible_collections/arista/avd/docs/_media/first-cvp-avd-topology.png
  ansible_collections/arista/avd/docs/_media/streaming-inventory.png
  ansible_collections/arista/avd/docs/how-to/first-cvp-avd-project.md
  ansible_collections/arista/avd/docs/how-to/ztp.md
  mkdocs.yml
Labels: state: testing, type: documentation

#318 How to integrate AVD with AWX/Tower
  ansible_collections/arista/avd/docs/_media/awx-create-inventory.png
  ansible_collections/arista/avd/docs/_media/awx-create-project-venv.png
  ansible_collections/arista/avd/docs/_media/awx-create-source.png
  ansible_collections/arista/avd/docs/_media/awx-create-template.png
  ansible_collections/arista/avd/docs/_media/awx-inventory-add-source.png
  ansible_collections/arista/avd/docs/_media/awx-inventory-list-devices.png
  ansible_collections/arista/avd/docs/_media/awx-inventory-sync-source.png
  ansible_collections/arista/avd/docs/_media/awx-playbook-run.png
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  mkdocs.yml
Labels: type: documentation

#308 Add BFD for OSPF
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/underlay-overlay/router-ospf.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, type: documentation

#254 Logging extension for format option in eos and doc jinja templates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: testing, type: enhancement

#309 Update doc for cvp auth options
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
Labels: role: cvp_configlet_upload, role: eos_config_deploy_cvp, type: documentation

#296 #282 add a table of contents at the begining of the generated device doc
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/name-servers.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, type: documentation

#324 #297 splitted the eos and documentation templates virtual-router-mac-…
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-router-mac-address-virtual-source-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-source-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/virtual-router-mac-address-virtual-source-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/virtual-source-nat.j2
Labels: role: eos_cli_config_gen

#321 Refactor eos evpn l3ls template structure
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-port-channels.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/leaf-router-bgp-address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/route-maps.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/spine-overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/spine-peer-filters.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/spine-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_overlay/spine-router-bgp-address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-router-bgp-address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-router-bgp-neighbors-ipv4.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/leaf-router-bgp-redistribute-routes.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/spine-router-bgp-address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/spine-router-bgp-neighbors-ipv4.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/spine-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/spine-router-bgp-redistribute-routes.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-vtep-vxlan-tunnel-loopback.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/isis_underlay/router-isis.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/leaf-router-bgp-base.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-peer-link.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-spanning-tree.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ospf_underlay/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/spine-router-bgp-base.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l2leaf-ethernet-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l2leaf-port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l3leaf-ethernet-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l3leaf-port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-virtual-source-nat-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlans.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vrf-loopbacks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vrfs.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-vxlan-vtep-interface.j2
Labels: role: eos_l3ls_evpn, state: in-progress, type: code quality

#327 Add conditional execution for Management interface
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
Labels: role: eos_cli_config_gen

#334 Make server block optional in eos_l3ls_evpn
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-port-channels.j2
Labels: role: eos_l3ls_evpn

#335 #301 add a template to generate radius documentation for devices
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/radius-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tacacs-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/radius-servers.j2
Labels: role: eos_cli_config_gen, type: documentation

#330 #328 add IPv4 global configuration status in the IP Routing Summary r…
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-routing.j2
Labels: role: eos_cli_config_gen

#340 updated the template that generates managenent interface documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-interfaces.j2
Labels: role: eos_cli_config_gen, type: documentation
