Repository aristanetworks/avd, pull requests merged in 2020-06, with the labels that each got.

#144 Release v1.0.2
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/tcam-profile.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/mlag/leaf-mlag-configuration.j2
Labels: New Release

#142 Add pre-commit tool
  .pre-commit-config.yaml
  Makefile
  development/Makefile
  development/README.md
Labels: avd tools

#149 cli_config_gen: support bpduguard on ethernet-interface and port-channel interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: enhancement

#151 Update development tool for docker image
  development/Makefile
  development/README.md
  development/install.sh
Labels: avd tools

#157 Update CI to use avd standard docker image
  .github/workflows/ansible_test.yml
  .github/workflows/docker.yml
  .github/workflows/linting.yml
  .github/workflows/playbook_validation.yml
  Makefile
  development/Makefile
Labels: avd tools, enhancement, refactor

#150 Fix incorrect configlet lookup path
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
Labels: bug

#165 consolidate backup handler to 1 task instead of 2
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
Labels: refactor

#169 Fix gh pages links
  mkdocs.yml
Labels: documentation

#171 Fix issue when devices are part of inventory and not managed by Cloudvision
  ansible_collections/arista/avd/plugins/filter/is_in_filter.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
Labels: bug

#173 Fix issue when devices are part of inventory and not managed by CloudVision
  ansible_collections/arista/avd/plugins/filter/is_in_filter.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
Labels: bug
