Repository aristanetworks/avd, pull requests merged in 2021-10, with the labels that each got.

#1230 Fix(eos_cli_config_gen): Variable protection in spanning tree documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/spanning-tree.j2
Labels: role: eos_cli_config_gen

#1214 Feat(dhcp_provisioner): Update to support new eos_designs model
  ansible_collections/arista/avd/molecule/dhcp_configuration/intended/structured_configs/cvp/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/TOOLS.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/molecule.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/intended/configs/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisionning/intended/structured_configs/cvp/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/molecule.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Labels: state: CI Updated, role: dhcp_provisioner

#1188 Feat(eos_cli_config_gen)!: Add support for multiple virtual router addresses for vlans
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-vlan-interfaces.j2
Labels: type: documentation, role: eos_cli_config_gen, data model change, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1287 Feat(eos_cli_config_gen): EOS feature parity for queue_monitor_streaming
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/queue_monitor_streaming.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/queue_monitor_streaming.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/queue_monitor_streaming.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/queue-monitor-streaming.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1249 Feat(eos_cli_config_gen): Add BGP VRF prefix-list support (#1248)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1298 Cut(eos_designs): aaa_authorization
  ansible_collections/arista/avd/roles/eos_designs/templates/base/aaa-authorization.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/base/main.j2
Labels: type: bug, role: eos_designs
