Repository aristanetworks/avd, pull requests merged in 2021-12, with the labels that each got.

#1322 Feat(eos_cli_config_gen): Support connectivity monitor configuration
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-connectivity.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-connectivity.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-connectivity.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-connectivity.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-connectivity.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1367 Feat(eos_cli_config_gen): enhance router multicast data model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-multicast.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-multicast.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1383 Doc(eos_cli_config_gen): Add no autostate to readme
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-connectivity.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1335 Fix(eos_cli_config_gen): Port-channel can use LACP fallback configuration on physical interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1392 Refactor(plugins): Minor optimization in convert_dicts filter
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
Labels: type: Python filters

#1312 Feat(eos_cli_config_gen): Add support for IPv6 address virtual in vlan_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1331 Feat(eos_cli_config_gen): Add bandwidth_guaranteed_percent for QoS Profiles.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1376 Feat(eos_cli_config_gen): Support error-correction encoding on ethernet interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1388 Feat(eos_cli_config_gen): interface vlans add ip igmp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1390 Feat(eos_designs): Add support for adapter key 'enabled' to admin shutdown interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1373 Feat(eos_validate_state): Allowing configurable xcvr manufacturers
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: role: eos_validate_state, state: Documentation role Updated

#1374 Feat(eos_cli_config_gen): Support shape rate in qos profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1394 Fix(eos_designs): Honor evpn_services_l2_only setting
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/loopback-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1393 Doc(eos_designs): Minor documentation fixes
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
Labels: state: Documentation role Updated, role: eos_designs

#1403 CI(eos_designs): Update the artifacts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
Labels: state: CI Updated

#1386 Feat(eos_designs): Platform management interface
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/upgrade/upgrade-2.x-to-3.0/ntp.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1405 Feat(eos_cli_config_gen): Support no qos trust
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1404 Feat(eos_designs): Customisable interface descriptions for MLAG
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1408 Doc: Release Notes 3.2.0
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1409 Fix(eos_cli_config_gen): Fix extra blank lines in upgrade templates
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/eos_cli_config_gen_upgrade_2.x_to_3.0/aaa.yml
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/eos_cli_config_gen_upgrade_2.x_to_3.0/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/upgrade/upgrade-2.x-to-3.0/aaa_accounting.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/upgrade/upgrade-2.x-to-3.0/vxlan_interface.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1417 Fix(eos_designs): Fix ip_helpers when defined under tenant vrf
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: type: bug, state: CI Updated, role: eos_designs

#1414 Fix(eos_designs): Management interface renders incorrectly when set other than default
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
Labels: type: bug, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1419 Doc: Release-notes v3.2.1
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1420 Bump: Release 3.2.1
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1421 Doc(eos_cli_config_gen): OSPF network prefixes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
