Repository aristanetworks/avd, pull requests merged in 2021-06, with the labels that each got.

#996 Remove deprecated leaf_as_range from ci & md files
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn_deprecation_test/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
Labels: state: CI Updated, state: Documentation role Updated

#981 Add support for additional PTP parameters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ptp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ptp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#982 Add support for setting router pim sparse-mode ssm range
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#953 Doc(mkdocs): Add section for contribution guide
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  mkdocs.yml
Labels: type: documentation

#973 Add option to define custom daemon
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/daemons.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/daemons.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/daemons.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemons.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemons.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#1007 Refactor raw_eos_cli to produce consistent newline
  ansible_collections/arista/avd/roles/eos_designs/templates/base/eos-cli.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/super-spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/eos-cli.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
Labels: role: eos_designs

#1008 Remove Unused Profile from Structured Config
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
Labels: role: eos_designs, state: CI Updated

#994 TerminAttr Updates
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/daemon_terminattr.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/daemon_terminattr.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/daemon_terminattr.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1013 Fix documentation for Custom Structured Config
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/common-settings.md
Labels: role: eos_designs, state: Documentation role Updated

#1012 added delegate_to: localhost to some eos_designs tasks
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: role: eos_designs

#1009 Update CI workflow - molecule scenarios
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
Labels: state: CI Updated, type: code quality

#916 NTP authentication
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ntp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ntp-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ntp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ntp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1023 Update link to jinja2 extensions doc
  README.md
Labels: type: documentation

#1024 Add option to not generate device documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/generate_device_documentation.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/generate_device_documentation.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#984 Add support for configuring router igmp ssm aware
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-igmp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-igmp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-igmp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-igmp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-igmp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#983 Add support for configuring interface_profiles and setting them on et…
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/interface-profiles.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/interface-profiles.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/interface-profiles.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/interface-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/interface-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#1015 Add option to not generate default configuration in eos_cli_config_gen
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/generate-default-config.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/generate-default-config.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/generate-default-config.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-root.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/enable-password.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/end.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hostname.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/rancid-content-type.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/transceiver-qsfp-default-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1011 Use directory vars in all tasks
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/defaults/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/offline.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/online.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: data model change, role: build_output_folders, role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_designs, role: eos_validate_state

#1028 eos_config_deploy_cvp(fix): galaxy importer issues
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
Labels: role: eos_config_deploy_cvp

#1029 Update version and release-notes
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1030 Update to v2.2.0
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
Labels: type: documentation

#1031 eos_cli_config_gen(fix) molecule scenario duplicate key
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
Labels: state: CI Updated

#1034 ci(action): Enable concurrency management in workflow
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#1035 Fix invalid link to first-project
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
Labels: type: documentation

#1036 Fix CI condition for eos_designs
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#1037 Add support for `no logging event link-status`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1016 Add platform setting for `queue_monitor_length_notify_support`
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/common-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/queue-monitor-length.j2
Labels: role: eos_cli_config_gen, role: eos_designs, state: CI Updated, state: Documentation role Updated, state: testing

#1019 eos_designs(refactor): rfc5549 to avoid `eos_designs` variable from being parsed in `eos_cli_config_gen`
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
Labels: role: eos_cli_config_gen, role: eos_designs, state: CI Updated, state: Documentation role Updated

#985 Add support for match_lists and using them in logging policy
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-match-list.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/match-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging-match-list.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/match-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging-match-list.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/match-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/match-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/match-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#900 eos_designs(feature): Add support for custom `structured_config` on various `eos_designs` objects
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/common/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/common-settings.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/base/struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/custom-structured-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-ethernet-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-port-channel-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-router-bgp-vrfs-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-vlan-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/super-spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/structured-config.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
Labels: role: cvp_configlet_upload, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_designs, state: CI Updated, state: Documentation role Updated, type: code quality

#1018 Add support for vlan_aware_bundle_number_base
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vlan-aware-bundles.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#1038 Minor documentation fixes
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
Labels: role: cvp_configlet_upload, role: eos_cli_config_gen, role: eos_config_deploy_cvp, state: Documentation role Updated

#1049 ci(molecule): Fix inventory extension
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/molecule.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/molecule.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/molecule.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/molecule.yml
Labels: state: CI Updated

#1017 eos_cli_config_gen(feature):Add support for maintenance groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/groups.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/groups.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bgp-groups.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/interface-groups.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/maintenance-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/bgp-groups.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/interface-groups.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1054 eos_designs(fix): incorrect topology/ip calculation when max_l3leaf_to_spine_links > 1
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/topology/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-peer-ip.j2
Labels: role: eos_designs, state: CI Updated

#1058 eos_designs(fix): Update documentation for l3_interface sub-interfaces
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
Labels: role: eos_designs, state: Documentation role Updated

#1059 Release notes 2.2.1
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1060 Release 2.2.1
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/topology/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-peer-ip.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated, type: documentation

#1065 Local sshkey field added to local-users.j2 to enable sshkey definitio…
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/local-users.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1044 feat(eos_cli_config): Ensure required directories are present
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
Labels: role: eos_cli_config_gen

#1048 feat(eos_*):Ensure required directories are present in all roles
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_designs, role: eos_snapshot, role: eos_validate_state
