Repository aristanetworks/avd, pull requests merged in 2021-05, with the labels that each got.

#920 docs(avd.sh): Provide links to different versions: latest & devel
  README.md
  ansible_collections/arista/avd/README.md
Labels: type: documentation

#921 docs(avd.sh): Update code rendering on home page
  ansible_collections/arista/avd/README.md
Labels: type: documentation

#904 Feature(eos_cli_config_gen): Added pbr support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/class-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/policy-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/class-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/policy-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/class-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/policy-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/class-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#896 include device structured config conditionally + playbook code style
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/offline.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/online.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/absent.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/cv-device-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/cv-device-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback0_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/mlag.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ntp.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ping_inband.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reload_cause.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
  ansible_collections/arista/avd/roles/upgrade_tools/tasks/main.yml
  ansible_collections/arista/avd/roles/upgrade_tools/tasks/v1.0_to_v1.1.yml
Labels: role: build_output_folders, role: cvp_configlet_upload, role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_designs, role: eos_snapshot, role: eos_validate_state

#926 Release notes 2.1.0
  ansible_collections/arista/avd/docs/how-to/first-cvp-avd-project.md
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/installation/development.md
  ansible_collections/arista/avd/docs/installation/setup-environment.md
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  mkdocs.yml
Labels: module: configlet_build_config, type: documentation

#925 BGP: add support for address-family IPv6 prefix-lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#930 eos_validate_state: fix lldp tests
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
Labels: type: bug

#931 Refactor IP logic for mlag, vtep, router_id
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/super-spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/overlay-controller/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/super-spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/vlan-interfaces.j2
Labels: role: eos_designs

#935 Fix: galaxy importer issues
  ansible_collections/arista/avd/docs/_media/git-structure.gif
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/media/role_eos_cli_config_gen.gif
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/markdown.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reports.yml
  ansible_collections/arista/avd/roles/upgrade_tools/tasks/v1.0_to_v1.1.yml
Labels: role: build_output_folders, role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_designs, role: eos_snapshot, role: eos_validate_state, type: documentation

#936 Release notes 2.1.1
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#937 Release 2.1.1
  ansible_collections/arista/avd/docs/_media/git-structure.gif
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/media/role_eos_cli_config_gen.gif
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/super-spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/overlay-controller/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/super-spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/markdown.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reports.yml
  ansible_collections/arista/avd/roles/upgrade_tools/tasks/v1.0_to_v1.1.yml
Labels: role: build_output_folders, role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_designs, role: eos_snapshot, role: eos_validate_state, state: CI Updated, state: Documentation role Updated, type: documentation

#933 Add support for configurable "short_esi" prefix
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/interfaces/port-channel-interfaces.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#938 Ensure netcommon filters are called as FQCN
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/inband-management-gw.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/inband-management-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l2leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/topology-links-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/l3leaf/vtep-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/overlay-controller/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/overlay-controller/topology-links-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/overlay-controller/topology-links-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/spine/topology-links-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/spine/topology-links-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/ip-addressing/super-spine/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/virtual-source-nat-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/interfaces/l2leaf-management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/interfaces/l3leaf-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/l2leaf-static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/l3_edge/logic.j2
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback0_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ping_inband.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
  ansible_collections/arista/avd/roles/upgrade_tools/templates/DC1_TENANTS_NETWORKS.j2
Labels: role: dhcp_provisioner, role: eos_designs, role: eos_validate_state

#941 Add support for not setting mgmt_ip on devices
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-RS1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-RS1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/switch/super-spine.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#946 update documentation links
  mkdocs.yml
Labels: type: documentation

#947 fix link to contribution guide
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: code quality, type: documentation

#940 Fix(inventory_to_container): Add return guard if no children in inven…
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
Labels: module: inventory_to_container, role: eos_config_deploy_cvp, type: bug

#917 Ansible 3.x support
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/avd/galaxy.yml
Labels: role: dhcp_provisioner, role: eos_designs, role: eos_validate_state, type: code quality

#956 Remove extra spaces from rendering of ntp with default VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ntp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ntp-servers.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#954 Fix(eos_cli_config_gen): Add missing GATEWAY v4 and v6 for management interface
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#959 add icmp redirect to the eos_cli_config_gen README
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#955 Add support for subinterfaces as tenant l3_interfaces
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/ethernet-interfaces.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#971 eos_cli_config_gen(fix) ethernet-interfaces dot1q-tunnel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: bug

#976 eos_cli_config_gen(feature): vrf neighbor bgp weight
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
Labels: role: eos_cli_config_gen, role: eos_designs, state: CI Updated, state: Documentation role Updated

#934 Implement role with CV modules in version 3
  .github/workflows/continuous_integration.yml
  .github/workflows/molecule-cvp-deployment.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/converge.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/molecule.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/cvp_configlet_upload/defaults/main.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v1.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v3.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/absent.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/absent.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices-v3.j2
Labels: role: cvp_configlet_upload, role: eos_config_deploy_cvp, state: CI Updated, state: Documentation role Updated, type: code quality

#978 Bugfix endpoint adapters with unsorted `switches` variable
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
Labels: role: eos_designs, state: CI Updated

#965 eos_cli_config_gen(feature): router bgp - implement default originate for peer groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#944 eos_cli_config_gen(feature): switchport default mode trunk phone
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/switchport-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/switchport-default.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/switchport-default.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#987 Revert "eos_cli_config_gen(feature): switchport default mode trunk phone"
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/switchport-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/switchport-default.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/switchport-default.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#951 Plugins(feature): Add Optional Warning or Error to Defined test
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/test/defined.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/overlay/logic-evpn-route-servers.j2
Labels: role: eos_designs, type: Python filters
