Repository aristanetworks/avd, pull requests merged in 2021-01, with the labels that each got.

#577 BUGFIX: Add Inband management vlan to L2Leaf uplinks
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l2leaf-port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l3leaf-port-channel-uplinks.j2
Labels: role: eos_l3ls_evpn

#518 Update supported BGP knobs in VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#512 BGP RT Membership support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-rtc.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-rtc.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, role: eos_validate_state, state: CI Updated, state: Documentation role Updated, type: Python filters, type: code quality, type: dependencies, type: documentation

#583 Redone iBGP over MLAG in VRF - SVI MTU fix
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-vlan-interfaces.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: bug

#574 Update Templates for Issues and PRs
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
Labels: type: code quality

#570 Add support for logging event under interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#582 Add qos_profile support to l3ls
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-port-channels.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/overlay-controller-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/super-spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/switch-p2p-interfaces-overlay-controller.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-peer-link.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l2leaf-port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/l3leaf-port-channel-uplinks.j2
Labels: role: eos_l3ls_evpn, state: Documentation role Updated

#571 Documentation to use VSCode container for demo & testing
  ansible_collections/arista/avd/docs/_media/vscode-container-demo-overview.png
  ansible_collections/arista/avd/docs/how-to/vscode-container.md
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  development/Makefile
  mkdocs.yml
Labels: type: code quality, type: documentation

#581 Fix bug SS and Overlay C support bgp max-path/ecmp
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/overlay-controller-router-bgp-base.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/super-spine-router-bgp-base.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated, type: bug, type: code quality, type: documentation

#589 Fix qos order structured and take ! out of if
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: documentation

#588 Updated QOS section in readme file
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: documentation

#590 Fix MKDOC checks in Continuous Integration
  .github/workflows/documentation-check.yml
Labels: type: code quality

#596 Fix issue with upgrade role validation
  .github/workflows/molecule-avd-upgrade.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/cleanup.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/converge.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/create.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/destroy.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/DC1_FABRIC/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/host_vars/.gitkeep
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/host_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/upgrade_1.0_to_1.1/DC1_TENANTS_NETWORKS_v1.0.x.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/inventory/upgrade_1.0_to_1.1/group_vars/.gitkeep
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/verify.yml
Labels: state: CI Updated, type: code quality

#592 Fix incorrect send_community for underlay on spines
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/super-spine-router-bgp-peer-groups.j2
Labels: cherry-pick, role: eos_l3ls_evpn, state: CI Updated

#476 Add more AAA and TACACS commands to eos_cli_config_gen
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-authentication.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-authorization.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tacacs-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-authentication.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-authorization.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tacacs-servers.j2
Labels: data model change, role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated, type: documentation

#594 Enable support for flexible speed configurations
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: Documentation role Updated

#604 Molecule artifacts with "0" instead 0
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/spanning-tree.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: bug

#587 bgp: vrf: support originating a default-route
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#606 Activate stale bot to close inactive issues
  .github/workflows/stale.yml
Labels: type: code quality

#607 Add "defined" checks to natural_sort
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
Labels: filter: natural_sort, type: Python filters

#568 Implement Aggregate routes in BGP VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#602 Fix PEP8 linting and docstring
  .github/workflows/ansible_test_python.yml
  .github/workflows/ansible_test_releases.yml
  .github/workflows/linting.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/plugins/filter/default.py
  ansible_collections/arista/avd/plugins/test/defined.py
Labels: type: Python filters, type: code quality

#598 Fix readme for AAA Accounting
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: documentation

#605 Fix stp readme
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: documentation

#610 run molecule scenarios when plugins are updates
  .github/workflows/molecule-avd-upgrade.yml
  .github/workflows/molecule-cli-config-gen.yml
  .github/workflows/molecule-cvp-deployment.yml
  .github/workflows/molecule-dhcp.yml
  .github/workflows/molecule-l3ls-evpn.yml
Labels: type: code quality

#566 Add routing table tests in eos_validate_state role (lo0 and lo1 addresses check)
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: role: eos_validate_state, state: Documentation role Updated

#614 Ignore molecule path from pre-commit
  .pre-commit-config.yaml
Labels: type: code quality, type: enhancement

#608 Switch to delegated provisioner in molecule
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v1.0_to_v1.1/molecule.yml
Labels: refactor, type: code quality

#600 Set origin incomplete on routes from MLAG iBGP peer
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/route-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/route-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/route-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/route-maps.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#496 Router OSPF documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/arp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/enable-password.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/errdisable.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet_interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/igmp-snooping.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/loopbacks-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-api-http.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-gnmi.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mcast-pim.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/none_configuration.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/prefix-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/route-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-rtc.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-static.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/sflow.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp_v3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/spanning-tree-rapid-pvst.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/spanning-tree-rstp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/spanning-tree.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-cloud.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-prem-disableaaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-prem.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlans.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vrfs.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#548 Data-model update in eos_cli_config_gen for SNMP local interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-api-http.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp_v3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/snmp_v3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/snmp_v3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/snmp-settings.j2
Labels: data model change, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#618 make mlag Dual Primary Detection disabled by default
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#628 Fix underlay BGP and description for overlay_controller uplinks
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-super-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/switch-router-bgp-neighbors-overlay-controllers.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/switch-p2p-interfaces-overlay-controller.j2
Labels: role: eos_l3ls_evpn

#627 Add BGP RTC knob for evpn overlay
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-overlay-controller-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-super-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_overlay/switch-router-bgp-address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/ebgp_underlay/super-spine-router-bgp-address-family-ipv4.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#630 Overlay Controller bugfixes and underlay BFD
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-overlay-controller-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/overlay-controller-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/switch-router-bgp-neighbors-overlay-controllers.j2
Labels: role: eos_l3ls_evpn, state: Documentation role Updated

#629 Update documentation to reflect one-liner install change
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/docs/installation/setup-git.md
Labels: type: documentation

#633 PTP support for l3ls_evpn
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/super-spine-p2p-interfaces.j2
Labels: role: eos_l3ls_evpn, state: Documentation role Updated, type: enhancement

#635 Enable automatic project allocation from CI
  .github/workflows/auto_assign_projects.yml
Labels: type: code quality

#637 Remove non-working github action for project allocation
  .github/workflows/auto_assign_projects.yml
Labels: type: code quality

#599 SNMP documentation to include ACL support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp_v3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/snmp_v3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/snmp_v3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/snmp-settings.j2
Labels: data model change, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#643 Fix template to support unknown_unicast key for storm-control in port-channel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: bug

#644 Fix MSTP readme missing vlans: key
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: documentation

#645 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/reviewers.yml
  .github/workflows/pr_labeler.yml
Labels: type: code quality

#653 Management SSH documentation creation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-ssh.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#641 Additional Tenant VRF settings to support BGP and static
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/route-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-static.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/route-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-static.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/route-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-static.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/route-maps.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/routing/static-routes.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/tenant_evpn_vxlan/leaf-tenant-router-bgp-evpn-vrfs.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#657 Fix readme for MACsec keys to be in " "
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: documentation

#655 Refactor fabric documentation
  ansible_collections/arista/avd/molecule/Makefile
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/roles/build_output_folders/README.md
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/meta/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-documentation.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-fabric-topology.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/dc-topology.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/documentation/fabric-topology.j2
Labels: role: build_output_folders, role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#646 Add support for multiple custom_structured_configuration prefixes
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/custom_structured_configuration.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#658 Add tenant:system to l2leaf-inband-mgmt vlan
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/l3leaf_l2leafs_uplinks/leaf-l2leaf-inband-management-vlan.j2
Labels: role: eos_l3ls_evpn

#663 add collection dependencies
  ansible_collections/arista/avd/galaxy.yml
Labels: cherry-pick, state: testing, type: dependencies

#659 Fixed documentation bugs introduced in PR#641
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-rtc.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
Labels: role: build_output_folders, role: eos_cli_config_gen, role: eos_l3ls_evpn, state: CI Updated

#632 Add more PTP features, port-channel support and bugfix
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ptp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ptp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ptp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: bug, type: enhancement
