Repository aristanetworks/avd, pull requests merged in 2021-02, with the labels that each got.

#675 Fix issue with MKDOCS check in CI
  .github/workflows/documentation-check.yml
Labels: state: investigating, type: code quality

#679 Bugfixes for refactor of overlay bgp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/logic/switch-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/logic/switch-evpn-route-servers.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: Documentation role Updated

#680 Fix ansible-lint and ansible-test lint issues
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/filter/esi_management.py
  ansible_collections/arista/avd/plugins/filter/is_in_filter.py
  ansible_collections/arista/avd/plugins/filter/markdown_rendering.py
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback0_reachability.yml
Labels: filter: is_in_filter, role: eos_config_deploy_eapi, role: eos_validate_state, state: CI Updated, type: Python filters

#691 Move cURL validation in mkdocs container + CI simplification
  .github/workflows/documentation-check.yml
  Makefile
Labels: type: code quality

#695 Refactor router isis
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
Labels: refactor, role: eos_cli_config_gen

#702 fix(eos_cli_config_gen): Cancel refactor router isis
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
Labels: role: eos_cli_config_gen, type: bug

#710 Refactor router isis
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#693 Refactor eos_cli_config_gen router bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: refactor, role: eos_cli_config_gen, state: CI Updated

#698 docs(eos_cli_config_gen): Refactor Readme file for better readability
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  mkdocs.yml
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: Documentation role Updated, type: documentation

#718 docs(eos_l3ls_evpn): Fix incorrect links breaking CI execution
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, state: Documentation role Updated, type: documentation

#681 Fix readme typos, add lag_hardware command
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_l3ls_evpn, state: Documentation role Updated, type: documentation

#711 Refactor eos_cli_config_gen router ospf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: refactor, role: eos_cli_config_gen, state: CI Updated

#701 ci(development-stack): Add a gitconfig support in development stack
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  development/Makefile
  development/docker-compose.yml
  development/docker-stack.env
  mkdocs.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: code quality, type: documentation

#717 Bugfix overlay controller ip addressing
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/overlay-controller-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/switch-router-bgp-neighbors-overlay-controllers.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/overlay-controller-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/switch-p2p-interfaces-overlay-controller.j2
Labels: role: eos_l3ls_evpn, state: Documentation role Updated

#714 Refactor eos cli config gen block 7
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/redundancy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bfd.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-l2-vpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/service-routing-protocols-model.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/redundancy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bfd.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-l2-vpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/service-routing-protocols-model.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/redundancy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bfd.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-l2-vpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-multicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/service-routing-protocols-model.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-l2-vpn.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/redundancy.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/route-maps.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bfd.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-l2-vpn.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/service-routing-protocols-model.j2
Labels: refactor, role: eos_cli_config_gen, state: CI Updated

#720 Refactor eos cli config gen static routes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ipv6-static-routes.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/static-routes.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ipv6-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ipv6-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/static-routes.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/static-routes.j2
Labels: refactor, role: eos_cli_config_gen, state: CI Updated

#725 Add short release-note for 2.0.0rc1
  ansible_collections/arista/avd/docs/release-notes/2.0.x.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/DC1_FABRIC/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/DC1_FABRIC/DC1_FABRIC.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/cvp/cv_server_configlets.yml
  mkdocs.yml
Labels: New Release, state: CI Updated, type: documentation

#727 doc(eos_l3ls_evpn): Fixed a typo about p2p_links_profiles
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_l3ls_evpn, state: Documentation role Updated

#721 ci(development-stack): Development tools updates
  ansible_collections/arista/avd/docs/getting-started.md
  ansible_collections/arista/avd/docs/installation/development.md
  development/Makefile
  development/docker-compose.yml
Labels: type: code quality, type: documentation

#726 doc(eos_cli_config_gen): Update syntax to create a static LAG bundle
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/README.md
Labels: role: eos_l3ls_evpn, state: CI Updated, state: Documentation role Updated

#730 fix(eos_l3ls_evpn): Fix p2p links profile mtu
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC1-POD2-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC2-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/documentation/devices/DC2-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC1-POD2-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC2-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/configs/DC2-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/molecule/eos_l3ls_evpn-twodc-5stage-clos/inventory/host_vars/all.yml
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/switch-l3-edge-p2p-interfaces.j2
Labels: role: eos_l3ls_evpn, state: CI Updated, type: bug

#729 RFC5549 support for underlay
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/base/routing.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l2leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-l3leaf-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-overlay-controller-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/evpn-fabric-super-spine-yml.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/leaf-router-bgp-rfc5549-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-peer-filters.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/spine-router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_base/switch-router-bgp-base.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_overlay/switch-router-bgp-neighbors-evpn.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/bgp_overlay/switch-router-bgp-peer-groups-evpn.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/leaf-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/interfaces/spine-p2p-interfaces.j2
  ansible_collections/arista/avd/roles/eos_l3ls_evpn/templates/fabric/mlag/leaf-mlag-vlan-interfaces.j2
Labels: role: eos_cli_config_gen, role: eos_l3ls_evpn, type: enhancement

#728 ci(ACTIONS): Enforce git status in molecule actions
  .github/workflows/molecule-avd-upgrade.yml
  .github/workflows/molecule-cli-config-gen.yml
  .github/workflows/molecule-cvp-deployment.yml
  .github/workflows/molecule-l3ls-evpn.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
Labels: state: CI Updated, type: code quality

#735 fix(eos_config_deploy_cvp): Fix an issue where idempotency is broken
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp_list/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
Labels: role: eos_config_deploy_cvp, state: CI Updated

#736 doc(eos_cli_config_gen): Fix typo under vlan_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#722 refactor(eos_cli_config_gen): Apply code style to end of block 09
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vmtracer-sessions.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vrf-instances.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vxlan-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vmtracer-sessions.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vrf-instances.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vxlan-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vmtracer-sessions.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vrf-instances.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vmtracer-sessions.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vrf-instances.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#739 ci(development-stack): Remove mkdoc autoreload function
  development/Makefile
  development/docker-compose.yml
Labels: type: code quality

#708 fix(dhcp_provisionner): Fix registration not generated
  .github/workflows/molecule-dhcp.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/intended/structured_configs/cvp/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisionning/intended/configs/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisionning/intended/structured_configs/cvp/ztp_configuration.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Labels: role: dhcp_provisioner, state: CI Updated, type: bug, type: code quality

#742 RFC5549, add IPv6 routing to interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-routing.j2
Labels: role: eos_cli_config_gen
