Repository aristanetworks/avd, pull requests merged in 2021-04, with the labels that each got.

#854 feature(eos_designs): Add routed interfaces to VRF
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenant_evpn_vxlan/l3leaf-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenant_evpn_vxlan/leaf-tenant-vrf-interfaces.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#832 Add snmp communities to eos_cli_config_Gen
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp_v3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/snmp_v3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/snmp_v3.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/snmp-settings.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#856 Add bgp authentication for BGP peers in VRFs
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/network-services.md
Labels: role: eos_cli_config_gen, role: eos_designs, state: CI Updated, state: Documentation role Updated

#852 Feature:(eos_designs) lacp fallback
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/servers.md
  ansible_collections/arista/avd/roles/eos_designs/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/edge_ports/leaf-server-port-channels.j2
Labels: role: eos_cli_config_gen, role: eos_designs, state: CI Updated, state: Documentation role Updated

#859 Feature:(eos_designs) multiple keys support for connected endpoints
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/common/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/build-dictionary-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/leaf-ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/leaf-port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/edge_ports/leaf-server-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/edge_ports/leaf-server-port-channels.j2
  mkdocs.yml
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#863 Github Action refactoring
  .github/workflows/ansible_test_python.yml
  .github/workflows/ansible_test_releases.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/docker_build.yml
  .github/workflows/documentation-check.yml
  .github/workflows/installation-test.yml
  .github/workflows/linting.yml
  .github/workflows/molecule-cli-config-gen.yml
  .github/workflows/molecule-eos-designs.yml
  .github/workflows/molecule-new-release.yml
  .github/yamllintrc
  .pre-commit-config.yaml
  Makefile
  ansible_collections/arista/avd/docs/_build/ansible2rst.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/cvp_configlet_upload/meta/main.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tests/test.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/vars/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/meta/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/meta/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tests/test.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/meta/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/vars/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/handlers/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/meta/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tests/test.yml
  ansible_collections/arista/avd/roles/eos_snapshot/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/meta/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/meta/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reports.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
  ansible_collections/arista/avd/roles/upgrade_tools/tasks/v1.0_to_v1.1.yml
  mkdocs.yml
Labels: role: cvp_configlet_upload, role: dhcp_provisioner, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_snapshot, role: eos_validate_state, type: code quality, type: documentation

#867 update molecule job dependency
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#868 update dependency
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#869 ci(actions): Make ansible_test dependant of molecule_eos_designs stage
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#872 ci(actions): Add stage to test python requirements
  .github/workflows/continuous_integration.yml
Labels: type: code quality

#873 Fix filter to leverage namespace
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/build-dictionary-logic.j2
Labels: type: bug

#881 Merge releases/v2.x.x into devel
  ansible_collections/arista/avd/docs/release-notes/2.0.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: dependencies, type: documentation

#882 fix(ansible2rst): Remove pylint test disabled
  ansible_collections/arista/avd/docs/_build/ansible2rst.py
Labels: type: documentation

#887 Fix(eos_cli_config_gen): Update template to support dst_fields for traffic-policy
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#883 Add options to change MLAG vlan ids
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/isis/l3leaf-router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/ospf/l3leaf-router-ospf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/spanning-tree.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/vlans.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#889 Enable execution environment support & ansible version update
  .github/workflows/continuous_integration.yml
  Makefile
  ansible_collections/arista/avd/docs/_build/ansible2rst.py
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  ansible_collections/arista/avd/docs/installation/requirements.md
  ansible_collections/arista/avd/docs/installation/setup-environement.md
  ansible_collections/arista/avd/docs/installation/setup-galaxy.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/requirements-dev.txt
Labels: type: code quality, type: dependencies, type: documentation

#747 feat(development-stack): Add VScode dev container
  .devcontainer/devcontainer.json
  .gitignore
  development/Makefile
  development/docker-compose.yml
Labels: avd tools, type: code quality

#895 Support for 2-level inheritance on port-profiles
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/common/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#892 Lacp timer fast option
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#894 L2 proto encap
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#897 Refactor tenants logic
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l2leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l3leaf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/virtual-source-nat-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/tenants/vxlan-tunnel-interface.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/interfaces/l3leaf-port-channel-interfaces.j2
Labels: role: eos_designs

#905 Fix(eos_cli_config_gen): Make ingestkey optional in TerminAttr doc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-prem-no-ingestkey.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/terminattr-prem-no-ingestkey.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminattr-prem-no-ingestkey.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#898 feat(mkdocs): Look & Feel enhancements + code snippets
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/avd/docs/installation/requirements.md
  ansible_collections/arista/avd/docs/requirements.txt
  development/docker-compose.yml
  mkdocs.yml
Labels: avd tools, type: code quality, type: dependencies, type: documentation, type: enhancement

#909 Issues/907
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: role: eos_designs, state: CI Updated, type: bug

#908 eos_validate_state(fix): provide protection when description is not defined
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: role: eos_validate_state, type: bug

#911 eos_designs(feature): define uplink to spine interfaces per node
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/facts/l3leaf.j2
Labels: role: eos_designs, state: CI Updated, state: Documentation role Updated

#912 doc(mkdocs): Site enhancements
  .github/workflows/continuous_integration.yml
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/_overrides/main.html
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  mkdocs.yml
Labels: type: code quality, type: dependencies, type: documentation

#913 Define all BGP peers on spines for RFC5549 explicitly
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/overlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/designs/l3ls-evpn/underlay/ebgp/spine-router-bgp.j2
Labels: role: eos_designs, state: CI Updated

#919 doc(how-to-vscode): Fix incorrect documentation statements
  ansible_collections/arista/avd/docs/how-to/vscode-container.md
Labels: type: bug, type: documentation
