Repository aristanetworks/avd, pull requests merged in 2021-07, with the labels that each got.

#1072 Doc(contribution): Document conventional commit approach
  ansible_collections/arista/avd/docs/contribution/overview.md
Labels: type: documentation

#1073 Bump(cvprac): Update cvprac version to 1.0.7
  ansible_collections/arista/avd/requirements.txt
Labels: type: dependencies

#1070 Feat(eos_cli_config_gen): Add OSPF timers to router ospf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: enhancement

#1053 Feat(eos_designs): Implement tag for documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: role: eos_cli_config_gen, role: eos_designs, type: enhancement

#1075 Doc(mkdocs): update incorrect link to topology diagram
  .github/workflows/continuous_integration.yml
  README.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/installation/setup-environment.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  media/topology.gif
  mkdocs.yml
Labels: role: eos_designs, state: Documentation role Updated, type: code quality, type: documentation

#1077 Optimize(molecule): Add ANSIBLE_OPTIONS to pass ansible options to molecule scenario
  ansible_collections/arista/avd/molecule/Makefile
Labels: state: CI Updated

#1078 Doc(mkdocs): update incorrect link to topology diagram - release 2.x.x
  .github/workflows/continuous_integration.yml
  README.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/installation/setup-environment.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3ls-evpn/fabric-topology.md
  media/topology.gif
  mkdocs.yml
Labels: role: eos_designs, state: Documentation role Updated, type: code quality, type: documentation

#1076 Feat(eos_cli_config_gen): Implement OSPF inter area filtering
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1085 Feat(eos_cli_config_gen): Add support for transceiver media override on ethernet_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1069 Feat(eos_cli_config_gen):Add support for mlag heartbeat-interval and system control-plane section
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mlag-configuration.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/system-control-plane.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mlag-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/system-control-plane.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mlag-configuration.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/system-control-plane.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/system-control-plane.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/system-control-plane.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1086 Doc(eos_cli_config_gen): Add missing documentation for `storm_control` on `port_channel_interfaces`
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#1080 Support for NSSA in Router OSPF Configuration
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1109 DOC: Add CI badge in README file
  README.md
Labels: good first issue, type: documentation

#1095 Feat(eos_cli_config_gen): Add single-connection to tacacs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tacacs-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tacacs-servers.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1114 Doc: Update Contributing URL on checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: code quality

#1112 Make(mkdoc): Add support for light/dark mode
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  ansible_collections/arista/avd/docs/stylesheets/highlight.js
  ansible_collections/arista/avd/docs/stylesheets/tables.js
  mkdocs.yml
Labels: type: dependencies, type: documentation

#1118 Feat(eos_cli_config_gen): Add RADIUS Source-Interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-radius-source-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-radius-source-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-radius-source-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-radius-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-radius-source-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1119 Feat(eos_cli_config_gen): Http client source interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-http-client-source-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-http-client-source-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-http-client-source-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-http-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-http-client-source-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
