Repository aristanetworks/avd, pull requests merged in 2022-05, with the labels that each got.

#1746 Refactor(eos_designs): Wildcard dict to list router_bgp.vrfs.[].bgp_peers
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vrfs.j2
Labels: state: Documentation role Updated, role: eos_designs

#1734 Refactor(eos_cli_config_gen): Wildcard dict to list for router-bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-vpn-ipv4-vpn-ipv6.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1753 Refactor(eos_cli_config_gen): Wildcard dict to list for tcam-profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/tcam-profile.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tcam-profile.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tcam-profile.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1723 Feat(eos_designs): Support for IPv6 in underlay with RFC5549
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE5.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE6.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE5.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE6.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-SPINE5.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-SPINE6.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/ipv6-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/main.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1719 Feat(eos_designs): Support for IPv6 overlay peerings with RFC5549 underlay
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE5.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE5.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-SPINE5.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1741 Feat(eos_designs): RFC5549 support for core_interfaces
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/core-interfaces-BETA.md
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/router-bgp-neighbors.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1735 Feat(eos_cli_config_gen): Extend listen_range support for BGP
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1739 Feat(eos_cli_config_gen): Add support for multiple dot1x interface features
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1743 Doc(eos_designs): add precisions regarding eos_designs and eos_cli_config_gen variables
  ansible_collections/arista/avd/media/variables_precedence.png
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/custom-structured-configuration.md
Labels: state: Documentation role Updated, role: eos_designs

#1761 Feat(eos_cli_config_gen): Support for multiple VARPv6 addresses
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, data model change, state: CI Updated, state: Documentation role Updated

#1777 Fix(plugins): convert_dicts resolve corner case with dictionary with invalid value
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/tests/unit/filters/test_convert_dicts.py
Labels: state: CI Updated, type: Python filters

#1760 Feat(eos_designs): Support for Ipv6 network services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vrfs.j2
Labels: EVPN design guide, role: eos_cli_config_gen, type: code quality, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1763 Feat(eos_cli_config_gen): BGP VRF IPv4 RM support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1779 Feat(eos_cli_config_gen): Add Listenranges to VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1778 Fix(eos_designs): Fix IPv6 static routes tenants
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/static-routes.j2
Labels: type: bug, state: CI Updated, role: eos_designs

#1780 Refactor(eos_cli_config_gen): New data model for port-channel ESI variables
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1737 Feat(eos_cli_config_gen): Add Tap Aggregation support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tap-aggregation.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tap-aggregation.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/tap-aggregation.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tap-aggregation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tap-aggregation.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: Python filters, role: eos_designs

#1752 Refactor(eos_cli_config_gen): Wildcard dict to list for traffic-policies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1787 CI: Add ansible-test units and intergrations test cases
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
Labels: type: code quality, state: CI Updated

#1754 Refactor(eos_designs): Move eos_designs facts to Python
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/main.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/eos_designs_set_peer_facts.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/filter/list_compress.py
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/module_utils/utils.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_set_peer_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/node_type/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/topology/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/topology/p2p-uplinks.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/topology/port-channel-uplinks.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/ip-virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/l3_edge/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis-sr/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ospf/router-ospf.j2
  ansible_collections/arista/avd/tests/unit/filters/test_list_compress.py
  ansible_collections/arista/avd/tests/unit/filters/test_natural_sort.py
  ansible_collections/arista/avd/tests/unit/filters/test_range_expand.py
Labels: filter: list_compress, filter: natural_sort, state: CI Updated, state: Documentation role Updated, type: Python filters, role: eos_designs

#1785 Refactor(eos_designs): Wildcard dict to list management-settings local-users
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/local-users.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#1790 Refactor(eos_designs): Wildcard dict to list management-settings event_handlers
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/event-handler.j2
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#1791 Test(eos_designs): add event-handlers test
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/DC1-BL1A.yml
Labels: state: CI Updated

#1789 Feat(eos_designs): Add ability to set mlag port-channel id
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1800 Fix(eos_cli_config_gen): Render error-correction encoding on port-channel members
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1799 Feat(eos_config_deploy_cvp): support for !vault value in inventory file
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/tests/inventory/inventory.yml
  ansible_collections/arista/avd/tests/unit/modules/test_inventory_to_container.py
Labels: module: inventory_to_container

#1806 Refactor(eos_cli_config_gen): Wildcard dict to list for hardware
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1804 Refactor(eos_cli_config_gen): Wildcard dict to list for hardware-counters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/hardware-counter.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/hardware-counters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware-counters.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1794 Doc: Network services data model in v4.0 mpls docs
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-mpls-BETA-v4.0.md
Labels: state: Documentation role Updated, role: eos_designs

#1803 Refactor(eos_designs): Wildcard dict to list platform_speed_groups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/hardware.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1810 Feat(eos_cli_config_gen): Add support for authenticating only ntp servers
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dns-ntp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ntp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ntp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ntp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1793 Refactor(eos_designs): Wildcard dict to list node_type_keys
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1812 Fix(eos_designs): ipv6_underlay should not apply for l2 switches
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/routing.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis-sr/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/main.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1795 Refactor(eos_designs): Wildcard dict to list svi_profiles
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1816 Fix(eos_designs): Error in eos_designs_facts when dot in hostname
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-RS1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-RS1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/device.with.dots.in.hostname.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/EOS_DESIGNS_UNIT_TESTS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/device.with.dots.in.hostname.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/device.with.dots.in.hostname.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/device.with.dots.in.hostname.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/module_utils/utils.py
  ansible_collections/arista/avd/tests/unit/module_utils/test_utils.py
Labels: state: CI Updated

#1815 Refactor(eos_cli_config_gen): Wildcard dict to list for community-lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ip-community-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/community-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1817 Feat(eos_cli_config_gen): Add BGP neighbor interfaces in VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE6.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1745 Feat(eos_designs): Shutdown underlay links if the peer device is not deployed
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1_UNDEPLOYED_LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1_UNDEPLOYED_LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/EOS_DESIGNS_UNIT_TESTS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/EOS_DESIGNS_UNIT_TESTS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/EOS_DESIGNS_UNIT_TESTS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/documentation/fabric/EOS_DESIGNS_UNIT_TESTS-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
Labels: role: eos_config_deploy_cvp, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1829 Doc(eos_cli_config_gen): Improve documentation for router_general
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#1813 Refactor(eos_designs): Wildcard dict to list for connected_endpoints_keys
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints-mpls-BETA-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/logic.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1835 CI: Removing ignore from jinja2 templates for j2lint S2(operator-enclosed-by-spaces) check
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/as-path.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-tech-support.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
Labels: role: eos_cli_config_gen, role: eos_validate_state
