Repository aristanetworks/avd, pull requests merged in 2022-03, with the labels that each got.

#1534 Feat(eos_cli_config_gen): Add support for Management Defaults Secret Hash
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-defaults.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-defaults.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-defaults.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-defaults.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-defaults.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1551 Doc(eos_designs): Fix missing max_parallel_uplinks
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
Labels: state: Documentation role Updated, role: eos_designs

#1555 Fix: Detection of default PR template
  .github/pull_request_template.md
Labels: type: code quality

#1561 Feat(eos_cli_config_gen): Support Unicast and Multicast TX queues in qos profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1563 Doc: Release-notes v3.3.3
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1558 Feat(eos_cli_config_gen): Add support for bgp neighbor peer filter
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: type: enhancement, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1547 Refactor(eos_cli_config_gen): Wildcard dict to list for `access_lists`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/acl.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/access-lists.j2
Labels: role: eos_cli_config_gen, type: code quality, state: CI Updated, state: Documentation role Updated

#1550 CI: Removed ignore for jinja-statements-delimeter[S6] check from j2lint job
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/_build/rst.j2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/loopbacks-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/loopbacks-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-1-isis-sr-ldp.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
Labels: type: documentation, role: eos_cli_config_gen, type: code quality, state: CI Updated, role: eos_snapshot, role: eos_designs

#1538 Feat(eos_designs): macsec support fabric links #1506
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-SUPER-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-SUPER-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD2.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/topology/p2p-uplinks.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1570 CI(eos_cli_config_gen): Update artifacts after missing rebase
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-bgp-vrf-lite.cfg
Labels: state: CI Updated

#1560 Feat(eos_cli_config_gen): Add dr_priority to pim ipv4 configuration on interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1574 CI: Minor updates to workflow and 4.0 scenario
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/molecule.yml
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
Labels: type: code quality, state: CI Updated, type: Python filters

#1541 Optimize(eos_designs): Set topology peer facts
  ansible_collections/arista/avd/plugins/action/eos_designs_set_peer_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_set_peer_facts.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
Labels: role: eos_designs

#1499 Feat(eos_designs): Support default vrf in Network Services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_L2LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/default-vrf-route-map.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-default-vrf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vrfs.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1565 Refactor(eos_cli_config_gen): Wildcard dict to list for `local_users`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/local-users.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/local-users.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: Python filters

#1566 Refactor(eos_cli_config_gen): Wildcard dict to list for `prefix_lists`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/prefix-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/prefix-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: Python filters

#1576 Fix(eos_cli_config_gen): dhcp relay missing !
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-relay.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-relay.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/dhcp-relay.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/dhcp-relay.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dhcp-relay.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1577 Fix(eos_cli_config_gen): logging config order
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/logging.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1531 Feat(eos_designs): l3ls: svi_profiles should support referencing a base svi_profile
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1571 Feat(eos_cli_config_gen): interface bfd echo
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bfd-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1587 Refactor(eos_cli_config_gen): Wildcard dict to list for ipv6-standard_access_lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ipv6-access-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-standard-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-standard-access-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1590 Refactor(eos_cli_config_gen): Wildcard dict to list for standard_access_lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/acl.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-api-http.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/standard-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/standard-access-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1589 Feat(eos_cli_config_gen): dns config consolidation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC2-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC2-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dns-domain.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/domain-list.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/domain-lookup.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1582 Feat(eos_cli_config_gen): router multicast ipv4 counters support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-multicast.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-multicast.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1592 Refactor(eos_cli_config_gen): Wildcard dict to list for ipv6_access_lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ipv6-access-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-access-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1597 Fix(eos_cli_config_gen): Allow no logging source-interface in VRFs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1598 Fix(eos_cli_config_gen): mgmt config order
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
Labels: role: eos_cli_config_gen

#1607 Fix(eos_cli_config_gen): community-list config order
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-community-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-community-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-community-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1584 Fix(eos_designs): Remove unneeded j2lint ignore
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/router-bgp.j2
Labels: role: eos_designs

#1614 Refactor(eos_designs): Set peer facts per device instead of shared
  ansible_collections/arista/avd/plugins/modules/eos_designs_set_peer_facts.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
Labels: role: eos_designs

#1586 Feat(plugins): Add arista.avd.range_expand filter
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/tests/unit/filters/test_range_expand.py
Labels: type: Python filters

#1616 Refactor(eos_cli_config_gen): Wildcard dict to list for ip_domain_lookup
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/dns-ntp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/domain-lookup.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/domain-lookup.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1600 Refactor(eos_cli_config_gen): Wildcard dict to list for match_list_input
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/match-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/match-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/match-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1613 Refactor(eos_cli_config_gen): Wildcard dict to list for interface_profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/maintenance.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/interface-profiles.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/maintenance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/interface-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/maintenance.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/interface-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/maintenance.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1623 Fix(eos_validate_state): additional check in generate vars
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
Labels: role: eos_validate_state

#1585 Fix(eos_validate_state): Failures on shutdown interfaces
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_state_report_results.j2
Labels: role: eos_validate_state

#1622 Refactor(eos_cli_config_gen): Wildcard dict to list for peer_filters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/peer-filters.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/peer-filters.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/peer-filters.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/peer-filters.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/peer-filters.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/peer-filters.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/peer-filters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/peer-filters.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1633 Feat(eos_cli_config_gen): Add support for ebgp_multihop under bgp neighbors
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1634 Refactor(eos_cli_config_gen): Wildcard dict to list for event-handlers
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handler.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handler.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1632 Refactor(eos_cli_config_gen): Wildcard dict to list for daemons
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/daemons.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemons.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1631 Refactor(eos_cli_config_gen): Wildcard dict to list for maintenance
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/maintenance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/maintenance.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/maintenance.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1618 Feat(eos_cli_config_gen): Support for show tech-support policy (#1617)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-tech-support.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-tech-support.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-tech-support.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-tech-support.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-tech-support.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1627 Refactor(eos_cli_config_gen): Wildcard dict to list for management_api_http
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-api-http.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-http.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-http.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1624 Refactor(eos_cli_config_gen): Wildcard dict to list for management_ssh
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-ssh-custom-cipher.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-ssh.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-ssh.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1619 Refactor(eos_cli_config_gen): Wildcard dict to list for management_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1630 Refactor(eos_cli_config_gen): Use arista.avd.defined filter in hardware_counters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/hardware-counters.j2
Labels: role: eos_cli_config_gen

#1635 Refactor(eos_cli_config_gen): Wildcard dict to list for vmtracer-sessions
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vmtracer-sessions.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vmtracer-sessions.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vmtracer-sessions.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1642 Fix(plugins): Issue in convert_dicts with empty dictionary values
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dns-ntp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/dns-ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/dns-ntp.yml
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
Labels: state: CI Updated, type: Python filters

#1629 Feat(eos_cli_config_gen): add support for object tracking
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/object-tracking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/object-tracking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/object-tracking.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/object-tracking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/object-tracking.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1628 Refactor(eos_cli_config_gen): Wildcard dict to list for mac_security
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1643 Refactor(eos_cli_config_gen): Wildcard dict to list for loopback-interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/loopbacks-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/loopback-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1644 Refactor(eos_cli_config_gen): Wildcard dict to list for interface-groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/groups.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/interface-groups.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/interface-groups.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1645 Refactor(eos_cli_config_gen): Wildcard dict to list for route_maps
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/route-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/route-maps.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/route-maps.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
