Repository aristanetworks/avd, pull requests merged in 2022-12, with the labels that each got.

#2301 Feat(eos_cli_config_gen): Add schema for service_unsupported_transceiver
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/service_unsupported_transceiver.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2299 CI: Fix incorrect key in eos_cli_config_gen/ip-routing-fib scenario
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-routing-fib.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-routing-fib.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-routing-fib.yml
Labels: state: CI Updated, EPIC - AVD Schema

#2107 Feat(eos_cli_config_gen): Add schema for ethernet-interfaces
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2283 Refactor(eos_designs): Move Structured Config for Inband Management to Python
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/child-management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/child-static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/child-vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/ip-virtual-router-mac-address.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/inband_management/parent-vlans.j2
Labels: role: eos_designs

#2281 Feat: Add peer hosts to CVX
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/cvx.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/cvx.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/cvx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/cvx.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2306 Doc: Refactor landing page and installation guide
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/contributing.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/setup-environment.md
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/installation/requirements.md
  ansible_collections/arista/avd/examples/campus-fabric/README.md
  ansible_collections/arista/avd/examples/campus-fabric/ansible.cfg
  ansible_collections/arista/avd/examples/l2ls-fabric/README.md
  ansible_collections/arista/avd/examples/l2ls-fabric/ansible.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/ansible.cfg
  mkdocs.yml
Labels: type: documentation

#2137 Feat(eos_cli_config_gen): Add schema for port_channel_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2305 Doc(eos_designs): Addition of L2LS documentation
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology-mpls-BETA.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
Labels: state: Documentation role Updated, role: eos_designs

#2318 Fix: Incorrect table rendering for L2LS
  ansible_collections/arista/avd/roles/eos_designs/README.md
Labels: state: Documentation role Updated, role: eos_designs

#1916 Feat(eos_designs): Support for PTP configuration based on best practices
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/ptp-tests-leaf1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/ptp-tests-leaf2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/ptp-tests-spine1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/ptp-tests-spine2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-node-type-keys.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
  ansible_collections/arista/avd/roles/eos_designs/doc/ptp.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/ethernet-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2325 Fix(eos_designs): Avoid configuring "vxlan virtual-router encapsulation mac-address mlag-system-id" when not applicable
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-CL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-CL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_ROUTING_PROTOCOL_HER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vxlan_interface.py
Labels: state: CI Updated, role: eos_designs

#2320 Feat(eos_cli_config_gen, eos_designs): Support Track BFD in static routes
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ipv6-static-routes.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/static-routes.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ipv6-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ipv6-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_static_routes.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/static_routes.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-static-routes.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2296 Feat(eos_cli_config_gen): Add graceful-restart support for router_bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2289 Feat(eos_designs): Add support for system mac address derived engine ID
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_AUTOGEN_ENGINEID.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_AUTOGEN_ENGINEID.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_AUTOGEN_ENGINEID.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2316 Fix(eos_designs): Create MLAG peer-group when needed for non-BGP underlays
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Labels: state: CI Updated, role: eos_designs

#2291 Feat(eos_designs): Add support for multiple descriptions for l3_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2330 Fix(eos_validate_state): Handle missing interfaces, MLAG and BGP peers
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/mlag.yml
Labels: role: eos_validate_state

#2331 Fix(eos_designs): PTP feature in eos_designs has flaws
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
Labels: state: CI Updated, role: eos_designs

#2278 Feat(eos_cli_config_gen): Add Router MSDP Data Model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-msdp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-msdp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-msdp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_msdp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-msdp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-msdp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2340 CI: update stale message
  .github/workflows/stale.yml
Labels: type: code quality

#2317 Refactor(plugins): Data validation tooling
  ansible_collections/arista/avd/plugins/action/validate.py
  ansible_collections/arista/avd/plugins/modules/validate.py
  ansible_collections/arista/avd/plugins/plugin_utils/errors/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/errors/errors.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.11.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.12.txt
Labels: role: eos_designs

#2346 CI: add example molecule scenarios data validation
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE1.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE2.yml
  ansible_collections/arista/avd/molecule/example-campus-fabric/molecule.yml
  ansible_collections/arista/avd/molecule/example-l2ls-fabric/molecule.yml
  ansible_collections/arista/avd/molecule/example-single-dc-l3ls/molecule.yml
Labels: state: CI Updated

#2348 Doc: Fix Images in Campus Fabric Example
  ansible_collections/arista/avd/examples/campus-fabric/README.md
  ansible_collections/arista/avd/examples/campus-fabric/images/ansible_groups.svg
  ansible_collections/arista/avd/examples/campus-fabric/images/campus_topo.svg
Labels: type: documentation, EPIC - AVD L2LS

#2356 Feat(eos_designs): Adding 7020R to plattform settings
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-platform-settings.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings.md
Labels: state: Documentation role Updated, role: eos_designs

#2355 Feat(eos_cli_config_gen): Support access-lists & options on rp addresses
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_pim_sparse_mode.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2358 Doc(eos_cli_config_gen): Fix documentation for cvx.peer_hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#2363 Cut(eos_designs): Remove unused overlay jinja2 templates
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-vpn-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-vpn-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/ip-extcommunity-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/router-bfd.j2
Labels: role: eos_designs
