Repository aristanetworks/avd, pull requests merged in 2022-04, with the labels that each got.

#1350 Feat(eos_designs): Add support for network_services_keys
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1647 Feat: Print AVD collection version in role tasks
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_validate_state, role: eos_snapshot, role: eos_designs

#1654 Refactor(eos_cli_config_gen): Wildcard dict to list for ip_igmp_snooping
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/igmp-snooping.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ip-igmp-snooping-enable.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-igmp-snooping.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1657 Feat(eos_cli_config_gen): FlexRoute - add support for TCAM assisted ACLs #1656
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/hardware.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1652 Fix(eos_cli_config_gen): fix the dual-primary recovery delay if check
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
Labels: role: eos_cli_config_gen

#1649 Feat(eos_designs): Default value "all" for l2vlans.tags and svis.tags
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: type: bug, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1650 Fix(eos_designs): Check for network_services_l3:true when creating iBGP peering in overlay VRFs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-CL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-CL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
Labels: type: bug, state: CI Updated, role: eos_designs

#1588 Fix(eos_validate_state): bugs and refactor
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/mlag.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ntp.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reload_cause.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_state_report_results.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
Labels: type: bug, role: eos_validate_state

#1659 Refactor(eos_cli_config_gen): Wildcard dict to list for class-maps
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/class-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/class-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/class-maps-qos.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1648 Feat(eos_cli_config_gen): Support multiple VRRP VRID per interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1660 Refactor(eos_cli_config_gen): Wildcard dict to list for qos-profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1658 Refactor(eos_cli_config_gen): Wildcard dict to list for router_pim_sparse_mode
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1655 Refactor(eos_cli_config_gen): Wildcard dict to list for policy_maps
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/policy-maps-pbr.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/policy-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-pbr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-pbr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-qos.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1639 Refactor(eos_cli_config_gen): Wildcard dict to list for ethernet-interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/lldp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bfd-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bfd.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/lldp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1661 Fix(eos_cli_config_gen): ethernet interface documentation output
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-1-isis-sr-ldp.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-2-ospf-ldp.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1640 Feat(eos_cli_config_gen): Hardware Accelerated Sflow
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/sflow.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/sflow.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/sflow.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/sflow.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/sflow.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1669 Refactor(eos_cli_config_gen): Wildcard dict to list for spanning-tree
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/spanning-tree-rapid-pvst.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/spanning-tree.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/spanning-tree.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/spanning-tree.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1670 Refactor(eos_cli_config_gen): Wildcard dict to list for virtual_source_nat_vrfs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/virtual-source-nat.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/virtual-source-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/virtual-source-nat.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1667 Feat(eos_cli_config_gen): Support bpduguard rate-limit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/spanning-tree-bpdu.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/spanning-tree-bpdu.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/spanning-tree-bpdu.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/spanning-tree.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1676 Feat(eos_cli_config_gen): add dynamic prefix-lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/prefix-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/prefix-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/prefix-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dynamic-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dynamic-prefix-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1688 Refactor(eos_cli_config_gen): Wildcard dict to list for logging
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/logging-match-list.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1675 Feat(eos_cli_config_gen): router_multicast rpf route
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-multicast.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-multicast.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1679 Feat(eos_cli_config_gen): dot1x-port-control
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1674 Doc(eos_cli_config_gen): custom templates doc improvements
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/custom_templates/test-template-1.j2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/custom_templates/test-template-2.j2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/custom_templates/test-template-3.j2
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/custom-templates.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/custom-templates.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/custom-templates.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1651 Feat(eos_cli_config_gen): Add new and improved ip_community_lists model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-community-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-community-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-community-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-community-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1678 Refactor(eos_cli_config_gen): Wildcard dict to list for router-ospf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1664 Refactor(eos_cli_config_gen): Wildcard dict to list for router-general
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-general.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-general.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1689 Refactor(eos_cli_config_gen): Wildcard dict to list for vrfs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ip-routing.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vrf-instances.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vrf-instances.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vrf-instances.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1677 Feat(eos_cli_config_gen): router_general routes dynamic prefix-list
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-general.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-general.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1698 Doc: Fix typo in release-notes for v3.4.0
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#1699 CI: remove dependencies and conditions for galaxy-importer
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#1707 Feat(eos_cli_config_gen): Add eos_cli for loopback_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/loopbacks-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/loopbacks-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/loopbacks-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/loopback-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1713 Doc: Update links to github documentation
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  contributing.md
Labels: type: documentation, type: code quality

#1712 Refactor(eos_cli_config_gen): Wildcard dict to list for snmp_server
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/snmp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/snmp-settings.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1716 CI: Fix wrong key `helpers` in molecule vars
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vlan-interfaces.yml
Labels: state: CI Updated

#1715 Fix(eos_cli_config_gen): Documentation template for IPv6 on port-channels
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-1-isis-sr-ldp.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-2-ospf-ldp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1700 Feat(eos_cli_config_gen): dot1x-reauthentication
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1718 Fix: Various galaxy-importer issues
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_validate_state, role: eos_snapshot, role: eos_designs

#1703 Feat(eos_cli_config_gen): Support interfaces snmp trap link-change
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1686 Feat(eos_cli_config_gen): Support platfom sand qos-mapping
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/platform.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1697 Refactor(eos_cli_config_gen): Wildcard dict to list for vlans
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/igmp-snooping.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vlans.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlans.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlans.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1710 Refactor(eos_cli_config_gen): Wildcard dict to list for sflow
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/sflow.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/sflow.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/sflow.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1694 Feat(plugins): Updated convert_dicts filter for list values in dictionary
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/tests/unit/filters/test_convert_dicts.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, type: Python filters

#1687 Refactor(eos_cli_config_gen): Wildcard dict to list for daemon_terminattr
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/terminattr-multi-cluster.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemon-terminattr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1690 Feat(eos_designs): Add platform settings for 7368X4
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-CL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/platform-settings.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1682 Feat(eos_cli_config_gen): Added support for CVX client
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-cvx.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-cvx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-cvx.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1717 Refactor(eos_cli_config_gen): Wildcard dict to list for vxlan_interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1722 Feat(eos_cli_config_gen): dot1x-pae-mode
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1732 Fix(molecule): Add mpls scenarios to molecule file and PR mgmt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE3-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-RR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE3-LER1.cfg
Labels: type: code quality, state: CI Updated

#1729 Refactor(eos_cli_config_gen): Wildcard dict to list for ip-extended-community-lists-regexp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ip-extended-community-lists-regexp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-extended-community-lists-regexp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-extended-community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-extended-community-lists-regexp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1638 Feat(eos_cli_config_gen): Aegis Traffic Policies on Interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1706 Feat(eos_cli_config_gen): VRRP timer delay and IPv4 version options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1709 Feat(eos_cli_config_gen): Extend logging format timestamp options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1731 Feat(eos_designs): Custom name for underlay isis process
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/SITE2_P_ROUTERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1601 Feat(eos_designs): EVPN VXLAN gateway feature
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/switch/switch.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1602 Refactor(eos_cli_config_gen): Wildcard dict to list for ip_extcommunity_lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ip-extended-community-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-extended-community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-extended-community-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1738 Feat(eos_designs): Auto short_esi support for connected_endpoints and l2leaf uplinks (#1609)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF4A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF5A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF5B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF4A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF5A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF5B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF5A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF5B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/facts/topology/port-channel-uplinks.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1747 Feat(eos_cli_config_gen): Adding support for ssl profile for gnmi
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-gnmi-new-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-gnmi-new-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-gnmi-new-flags.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/management-gnmi-new-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/management-gnmi-new-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-gnmi-new-flags.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-gnmi.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-gnmi.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1740 Feat(plugins): Updated convert_dicts filter for list/string values in dictionary
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/tests/unit/filters/test_convert_dicts.py
Labels: type: Python filters

#1714 Refactor(eos_cli_config_gen): Wildcard dict to list for vlan-interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bfd-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/bfd.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1751 Doc: Minor Corrections on Documentation
  README.md
  ansible_collections/arista/avd/docs/how-to/first-project.md
Labels: type: documentation

#1749 Doc: Improve documentation, fix typo
  ansible_collections/arista/avd/molecule/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs
