Repository aristanetworks/avd, pull requests merged in 2022-02, with the labels that each got.

#1473 Doc(eos_validate_state): Update link to loopback test
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: role: eos_validate_state, state: Documentation role Updated

#1460 Feat(eos_cli_config_gen): Add spanning_tree_guard to switched ethernet interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1470 Fix(eos_designs): Fixing template errors and invalid config when configuring cloudvision as a service
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/cvp-instance-ips-cvaas.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cvp-instance-ips-cvaas.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cvp-instance-ips-cvaas.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cvp-instance-ips-cvaas.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/base/daemon-terminattr.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1469 Feat(eos_cli_config_gen): Add support for reversible encryption algorithm #1468
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1477 Optimize(plugins): Optimize the esi_management filter with join
  ansible_collections/arista/avd/plugins/filter/esi_management.py
Labels: type: Python filters

#1478 Refactor(eos_designs, eos_cli_config_gen, eos_validate_state): structured_config file generation, json support
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-ethernet-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-port-channel-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-router-bgp-vrfs-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-vlan-interfaces-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/generate-structured-config.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/eos-cli-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/structured-config-vrfs.j2
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: eos_cli_config_gen, role: eos_validate_state, state: CI Updated, role: eos_designs

#1402 Doc(eos_designs): Fix markdown errors, typos and update documentation
  ansible_collections/arista/avd/docs/contributing.md
  ansible_collections/arista/avd/docs/contribution/development.md
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/setup-environment.md
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/docs/how-to/first-cvp-avd-project.md
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  ansible_collections/arista/avd/docs/how-to/ztp.md
  ansible_collections/arista/avd/docs/release-notes/1.1.x.md
  ansible_collections/arista/avd/docs/release-notes/2.x.x.md
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/custom-structured-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
Labels: type: documentation, state: Documentation role Updated, role: eos_designs

#1485 Fix(eos_cli_config_gen): Fix logic in daemon_terminattr
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen

#1481 Fix(eos_cli_config_gen): Block delimers between Extended IPv4 ACLs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/acl.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/access-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1483 Fix(eos_designs): Pull endpoint interface information from combined adapter+port profile settings
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, role: eos_designs

#1487 Feat(eos_cli_config_gen): Add support for MPLS and LDP on port-channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mpls.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1491 CI(eos_designs): Fix eos_designs_unit_tests artifacts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
Labels: state: CI Updated

#1492 Fix(eos_designs): Documentation CSVs column headings
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
Labels: state: CI Updated, role: eos_designs

#1490 Feat(eos_cli_config_gen): logging facility
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging-minimal.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging-minimal.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1494 Doc(eos_cli_config_gen): Add information about gnmi provider configured with octa
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#1396 Feat(eos_cli_config_gen): port-channel-interfaces enhancement
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1484 Feat(eos_cli_config_gen): Add PIM RP addresses on VRF instance
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1495 Feat(eos_cli_config_gen): Add fast-failover and router-id support under router general
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-general.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-general.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1493 Refactor(eos_validate_state): Refactor validation-report generation
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reports.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_state_report_results.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-csv.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/validate_state_report-md.j2
Labels: role: eos_validate_state, state: Documentation role Updated

#1496 Feat(eos_designs): Add L2 subinterface support on port-channels under Connected-endpoints
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1486 Feat(eos_cli_config_gen): Add support for segment-routing traffic-engineering
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-traffic-engineering.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-traffic-engineering.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-traffic-engineering.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-traffic-engineering.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-traffic-engineering.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1504 Feat(eos_cli_config_gen): Support cos in policy-map and service-policy in qos profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/policy-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/policy-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/policy-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1510 Doc(eos_cli_config_gen): Key exchange under management_ssh incorrectly documented in the README file
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#1509 Feat(eos_cli_config_gen): Add vpws control-word, mtu and label flow knobs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vpws.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vpws.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vpws.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1515 Feat(eos_cli_config_gen): IPv6 ACL support for QOS policy map class maps
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/class-maps-qos.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1472 Feat(eos_designs): Add Monitor Session support
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/CLEAN_UNIT_TESTS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/monitor-sessions.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1516 Cut: Requirement for community.general
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/galaxy.yml
Labels: type: dependencies

#1518 Doc: Release-notes 3.3.0
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1520 Fix: collection ansible-test linting issues
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/tests/unit/filters/filter_utils.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_default.py
  ansible_collections/arista/avd/tests/unit/filters/test_esi_management.py
  ansible_collections/arista/avd/tests/unit/filters/test_list_compress.py
  ansible_collections/arista/avd/tests/unit/filters/test_markdown_rendering.py
  ansible_collections/arista/avd/tests/unit/filters/test_natural_sort.py
  ansible_collections/arista/avd/tests/unit/module_utils/test_strip_empties.py
  ansible_collections/arista/avd/tests/unit/modules/test_configlet_build_config.py
  ansible_collections/arista/avd/tests/unit/modules/test_inventory_to_container.py
  ansible_collections/arista/avd/tests/unit/test/test_defined_plugin.py
Labels: type: documentation, role: eos_cli_config_gen, module: inventory_to_container, type: code quality, state: Documentation role Updated

#1523 Doc: Release-notes 3.3.1
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#1524 Bump: Release 3.3.1
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/tests/unit/filters/filter_utils.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_default.py
  ansible_collections/arista/avd/tests/unit/filters/test_esi_management.py
  ansible_collections/arista/avd/tests/unit/filters/test_list_compress.py
  ansible_collections/arista/avd/tests/unit/filters/test_markdown_rendering.py
  ansible_collections/arista/avd/tests/unit/filters/test_natural_sort.py
  ansible_collections/arista/avd/tests/unit/module_utils/test_strip_empties.py
  ansible_collections/arista/avd/tests/unit/modules/test_configlet_build_config.py
  ansible_collections/arista/avd/tests/unit/modules/test_inventory_to_container.py
  ansible_collections/arista/avd/tests/unit/test/test_defined_plugin.py
Labels: type: documentation, role: eos_cli_config_gen, module: inventory_to_container, type: code quality, state: Documentation role Updated

#1528 Feat(eos_cli_config_gen): Allow PIM RP without groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#1529 Feat(eos_cli_config_gen): Add support for dual primary detection recovery delay
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mlag-configuration.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mlag-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mlag-configuration.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1530 Feat(eos_cli_config_gen): Add Management SSH log
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-ssh.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-ssh.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1543 Fix(eos_validate_state): lldp tests fails
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
Labels: type: bug, role: eos_validate_state

#1535 Doc(eos_designs): Fix typos in Monitor Session Documentation
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
Labels: state: Documentation role Updated, role: eos_designs

#1548 Doc: Release-notes v3.3.2
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1542 Feat(eos_designs): Support vrf description in Network services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vrfs.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1549 Bump: Release 3.3.2
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
Labels: type: documentation, role: eos_validate_state, state: Documentation role Updated, role: eos_designs
