Repository aristanetworks/avd, pull requests merged in 2022-08, with the labels that each got.

#1975 CI: Limit runtime by only testing older Ansible on a few scenarios
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#1972 Test(eos_designs): Add molecule scenario for L2LS
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/create.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/destroy.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/BGP_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/BGP_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_BGP.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_OSPF.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/OSPF_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/OSPF_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/host_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/verify.yml
Labels: type: code quality, state: CI Updated, EPIC - AVD L2LS

#1970 Fix(eos_designs): Correct underlay routing for overlay_routing_protocol: "none"
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-node-type-keys.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/ipv6-prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/prefix-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis-sr/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ospf/router-ospf.j2
Labels: state: CI Updated, role: eos_designs, EPIC - AVD L2LS

#1968 Fix(eos_designs): Remove unneeded mlag ibgp vlan for vrf default
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
Labels: state: CI Updated, role: eos_designs, EPIC - AVD L2LS

#1969 Fix(eos_designs): Only configure EVPN filtering on EVPN nodes
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vrfs.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp.j2
Labels: role: eos_designs

#1952 Doc: refactoring
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/contribution/development.md
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/setup-environment.md
  ansible_collections/arista/avd/docs/contribution/setup-git.md
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
  ansible_collections/arista/avd/docs/how-to/first-cvp-avd-project.md
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/docs/how-to/lab-with-nat.md
  ansible_collections/arista/avd/docs/how-to/tower-integration.md
  ansible_collections/arista/avd/docs/how-to/vscode-container.md
  ansible_collections/arista/avd/docs/how-to/ztp.md
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/installation/requirements.md
  ansible_collections/arista/avd/docs/modules/configlet_build_config.rst.md
  ansible_collections/arista/avd/docs/modules/inventory_to_container.rst.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/molecule/README.md
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology-mpls-BETA.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: type: documentation, type: dependencies, role: cvp_configlet_upload, role: eos_cli_config_gen, module: inventory_to_container, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, type: code quality, role: eos_validate_state, state: CI Updated, role: dhcp_provisioner, state: Documentation role Updated, role: eos_snapshot, role: eos_designs, EPIC - AVD Documentation Improvements

#1978 Fix(eos_designs): only create igmp snooping querier configuration on l3 devices
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1974 Fix(eos_designs): Missing IGP no-passive for single MLAG VLAN
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis-sr/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/ospf/router-ospf.j2
Labels: state: CI Updated, role: eos_designs

#1977 Feat(eos_designs): support switch_id and offset in rd admin subfield
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/RD_RT_ADMIN_SUBFIELD_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1964 Refactor(plugins): Replacing ansible combine filter with deepmerge in yaml_templates_to_facts
  .gitignore
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/merge/__init__.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/tests/.gitignore
  ansible_collections/arista/avd/tests/integration/inventory
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/error.txt
Labels: type: code quality, EPIC - Decoupling Core arista.avd Logic

#1959 Feat(eos_cli_config_gen): Support multicast routing under ethernet and vlan interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1987 CI: Update CODEOWNERS after group was renamed
  .github/CODEOWNERS
Labels: type: code quality

#1976 Refactor(eos_designs): Wildcard dict to list for tenants.vrfs.svis.nodes
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#1990 CI: Update to run on ubuntu 20.04 instead of 18.04
  .github/workflows/devel-push.yml
  .github/workflows/installation-test.yml
  .github/workflows/pull-request-conflict.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/molecule.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/meta/main.yml
Labels: type: code quality, state: CI Updated, role: dhcp_provisioner

#1907 Feat(eos_designs): evpn l2 multicast in network services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vlan-aware-bundles.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vxlan-interface.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1821 Feat(eos_designs): Only configure vlans in use by connected endpoints or downstream L2 switches
  ansible_collections/arista/avd/media/only_local_vlan_trunk_groups.png
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/filter.only_vlans_in_use.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf2a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf2b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/filter.only_vlans_in_use.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf2a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L2LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L3LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/filter.only_vlans_in_use.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l2leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l3leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/module_utils/utils.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/vlans.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1989 Feat(eos_designs): custom_templates_extra_vars
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected-endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected-endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/loopbacks/overlay-loopback.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/loopbacks/vtep-loopback.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/p2p-uplinks-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/router-id-ipv6.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/vtep-ip-mlag.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/vtep-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1993 Bump: Release v3.7.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.7.0.yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#1994 Doc: Add new requirement to release-notes
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#1888 Feat: Schemas for input validation and documentation
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/input-variable-validation-BETA.md
  ansible_collections/arista/avd/docs/installation/requirements.md
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/build_schemas_and_docs/converge.yml
  ansible_collections/arista/avd/molecule/build_schemas_and_docs/molecule.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/MH_LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/cvp-instance-ips-cvaas.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/molecule.yml
  ansible_collections/arista/avd/playbooks/_build_documentation.yml
  ansible_collections/arista/avd/playbooks/_build_schemas.yml
  ansible_collections/arista/avd/plugins/action/validate.py
  ansible_collections/arista/avd/plugins/filter/convert_schema.py
  ansible_collections/arista/avd/plugins/module_utils/utils.py
  ansible_collections/arista/avd/plugins/modules/validate.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschema.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtodocumentationschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/errors.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/avd_schema_documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/vars/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/avd_schema_documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/vars/main.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/access_lists.schema.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/acl.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/combined.schema.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/ipv6-access-lists.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/ipv6_standard_access_lists.schema.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/test_avdschema.py
  mkdocs.yml
Labels: type: documentation, role: eos_cli_config_gen, type: code quality, state: CI Updated, state: Documentation role Updated, type: Python filters, role: eos_designs

#1982 Feat(eos_designs): Support for Static Flood Lists, HER
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_ROUTING_PROTOCOL_HER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vtep-logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vxlan-interface.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1947 Feat(eos_designs): Support structured config under network services svis and l2vlans for bgp commands
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD2-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD2-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/logic-router-bgp-vlans-struct-cfg.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/custom_structured_configuration/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vlans.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2000 Feat(eos_cli_config_gen): add support for SSL profile cipher-list
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2010 Fix: Remove ansible-test enforced GPL3 header from modules
  ansible_collections/arista/avd/plugins/module_utils/strip_empties.py
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/validate.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/tests/sanity/ignore-2.11.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.12.txt
Labels: module: inventory_to_container, module: configlet_build_config

#2021 Feat(eos_designs): Support for custom naming of trunk groups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/mlag/vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2018 Feat(eos_cli_config_gen): Add schema for community_lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/community_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/community-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/community-lists.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#2022 Feat(eos_cli_config_gen): Add schema for standard_access_lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/standard_access_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/standard-access-lists.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/standard-access-lists.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated
