Repository aristanetworks/avd, pull requests merged in 2022-11, with the labels that each got.

#2165 Feat(eos_cli_config_gen): Add schema for ipv6_unicast_routing
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_unicast_routing.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2088 Feat(eos_cli_config_gen): Add schema for vrfs
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vrfs.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vrf-instances.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vrf-instances.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2246 Fix(eos_designs): Create mgmt interface even if no gateway is set
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/no_mgmt_gateway.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/no_mgmt_gateway.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/no_mgmt_gateway.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/base.py
Labels: state: CI Updated, role: eos_designs

#2201 Feat(eos_cli_config_gen): Add schema for management_tech_support
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_tech_support.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2238 Doc: Exclude test files from site build, enable twitter, update links
  .github/workflows/pull-request-management.yml
  Makefile
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
  ansible_collections/arista/avd/docs/requirements.txt
  mkdocs.yml
Labels: type: documentation, type: dependencies, type: code quality

#2156 Feat(eos_cli_config_gen): Add schema for mac_address_table
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_address_table.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2192 Feat(eos_cli_config_gen): Add schema for router_traffic_engineering
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_traffic_engineering.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2097 Feat(eos_cli_config_gen): Add schema for vxlan-interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vxlan_interface.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2200 Feat(eos_cli_config_gen): Add schema for ip_hardware
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_hardware.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2239 Feat(eos_designs): Support the ip_virtual_router_addresses and ip_address_virtual under the same svi
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/main.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SVI_PROFILE_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2221 Feat(eos_validate_state): skip lldp topology for shutdown
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
Labels: role: eos_validate_state, state: Documentation role Updated, role: eos_designs

#2135 Feat(eos_cli_config_gen): Add schema for link_tracking_groups
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/link_tracking_groups.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2247 Feat(plugins): Add schema support for auto-conversion of floats
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD Schema

#2262 Feat( eos_cli_config_gen): Add "bfd" key to router_pim_sparse_mode
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_pim_sparse_mode.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2267 CI: Trim whitespace in PR labels
  .github/actions/rn-pr-labeler-action/action.yml
Labels: type: code quality

#2109 Refactor(eos_designs): Underlay/Overlay internal logic refactor to better support future MPLS interworking abstraction.
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-structured-config-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-structured-config-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-structured-config-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-structured-config-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS_STRUCTURED_CONFIG.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-node-type-keys.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables-mpls-BETA-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis-sr/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/isis/router-isis.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2273 Test: Fix unknown_unicast in molecule
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
Labels: state: CI Updated

#2258 Feat(eos_cli_config_gen): Add key_type for ntp.authentication_keys
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dns-ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ntp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ntp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ntp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/ntp.md
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/documentation/devices/ntp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ntp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ntp.j2
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2272 Doc: Role diagram support for light and dark modes
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/_media/avd_roles_dark.svg
  ansible_collections/arista/avd/docs/_media/avd_roles_light.svg
  ansible_collections/arista/avd/docs/_media/avd_workflow_eapi_dark.svg
  ansible_collections/arista/avd/docs/_media/avd_workflow_eapi_light.svg
  ansible_collections/arista/avd/docs/_media/cvp_configlet_upload_dark.svg
  ansible_collections/arista/avd/docs/_media/cvp_configlet_upload_light.svg
  ansible_collections/arista/avd/docs/_media/eos_cli_config_gen_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_cli_config_gen_light.svg
  ansible_collections/arista/avd/docs/_media/eos_config_deploy_cvp_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_config_deploy_cvp_light.svg
  ansible_collections/arista/avd/docs/_media/eos_config_deploy_eapi_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_config_deploy_eapi_light.svg
  ansible_collections/arista/avd/docs/_media/eos_designs_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_designs_light.svg
  ansible_collections/arista/avd/docs/_media/eos_snapshot_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_snapshot_light.svg
  ansible_collections/arista/avd/docs/_media/eos_validate_state_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_validate_state_light.svg
  ansible_collections/arista/avd/docs/_media/excalidraw/avd_roles.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/avd_workflow_eapi.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/cvp_configlet_upload.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_cli_config_gen.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_config_deploy_cvp.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_config_deploy_eapi.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_designs.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_snapshot.excalidraw
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_validate_state.excalidraw
  ansible_collections/arista/avd/docs/how-to/first-project.md
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_designs/README.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: type: documentation, role: cvp_configlet_upload, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_validate_state, state: Documentation role Updated, role: eos_snapshot, role: eos_designs

#2266 Feat(eos_designs): Add support for setting node_type by matching regexes against the hostname
  .github/.markdownlintignore
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_NODE_TYPE_LEAF01.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_NODE_TYPE_SPINE01.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_NODE_TYPE_SPINE02.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_NODE_TYPE_UNGROUPED_LEAF02.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_NODE_TYPE_LEAF01.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_NODE_TYPE_SPINE01.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_NODE_TYPE_SPINE02.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_NODE_TYPE_UNGROUPED_LEAF02.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AUTO_NODE_TYPE.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/_defaults.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/default_node_types.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2231 Refactor(eos_validate_state): Support for new data models
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ping_inband.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_state_report_results.j2
  ansible_collections/arista/avd/roles/eos_validate_state/templates/generate_vars_for_testing.j2
Labels: role: eos_validate_state, EPIC - AVD Schema

#2274 CI: Fix molecule config files and a dir typo. Prep for new molecule version.
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/molecule.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/converge.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/create.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/destroy.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/TOOLS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/host_vars/all.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/molecule.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/verify.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/molecule.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ospf_overlay_ebgp/molecule.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/molecule.yml
Labels: type: code quality, state: CI Updated

#2105 Feat(eos_cli_config_gen): Add schema for router-bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2094 Feat(eos_cli_config_gen): Add schema for snmp_server
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/snmp_server.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/snmp-settings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/snmp-settings.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2086 Feat(eos_cli_config_gen): Add schema for loopback_interfaces
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE3-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/loopback_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/loopback-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/loopback-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2260 Feat(eos_cli_config_gen): Add tunnel interface functionality
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tunnel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tunnel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/tunnel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tunnel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tunnel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mlag-configuration.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tunnel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2284 Refactor(eos_designs): Move structured_config for core_interfaces to Python
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/router_ospf.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/router-bgp-neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/core_interfaces/router-ospf.j2
Labels: state: CI Updated, role: eos_designs

#2290 Refactor(eos_validate_state): Improve performance by delagation asserts to localhost
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/bgp_check.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/interface_state.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/lldp_topology_no_fqdn.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/loopback_reachability.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/mlag.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ntp.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/reload_cause.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/routing_table.yml
Labels: role: eos_validate_state

#2295 Fix(eos_designs): Python import error for AristaAvdMissingVariableError
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
Labels: role: eos_designs

#2151 Feat(eos_cli_config_gen): Add schema for ntp
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/documentation/devices/ntp.md
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/eos_cli_config_gen_upgrade_2.x_to_3.0/ntp-upgrade-debug.yml
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/intended/configs/ntp.cfg
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/inventory/host_vars/ntp.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ntp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD Schema

#2294 Feat(eos_cli_config_gen): Source-interface for management cvx
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-cvx.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_cvx.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-cvx.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2286 Feat(eos_cli_config_gen): Add macsec commands
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mac-security-eth-po-entropy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/mac-security-eth-po-entropy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2292 Fix: File permissions for documentation and schema tasks
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-schemas.yml
Labels: role: eos_cli_config_gen, role: eos_designs

#2297 Feat(eos_cli_config_gen): Fix macsec template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mac-security-eth-po-entropy.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#2277 Feat(eos_cli_config_gen): Add support for EVPN multicast ipv4 AF transit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2106 Feat(eos_cli_config_gen): Add schema for vlan_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD Schema

#2300 Feat(eos_cli_config_gen): Add schema for ip_access_lists_max_entries
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_access_lists_max_entries.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2302 Refactor: Change variable names for schema and update docs
  ansible_collections/arista/avd/docs/input-variable-validation-BETA.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_eos_designs-twodc-5stage-clos/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_isis_overlay_ibgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/modules/validate_and_template.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, role: eos_designs
