Repository aristanetworks/avd, pull requests merged in 2022-10, with the labels that each got.

#2068 Feat(eos_cli_config_gen): Add schema for router_igmp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_igmp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2142 Refactor: Nice print jsonschema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-schemas.yml
Labels: role: eos_cli_config_gen, role: eos_designs

#2108 Fix(eos_designs): BGP Default Originate produced invalid key for route-map
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-vrfs.j2
Labels: state: CI Updated, role: eos_designs

#2123 Feat(eos_cli_config_gen): Add schema for eos_cli
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/eos_cli.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2125 Feat(eos_cli_config_gen): Add schema for as_path
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/as_path.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2058 Feat(eos_cli_config_gen): Add schema for mac_security
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD Schema

#2126 Feat(eos_cli_config_gen): Add schema for generate_device_documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/generate_device_documentation.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2118 Feat(eos_cli_config_gen): Add schema for mac_access_lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_access_lists.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2081 Feat(eos_cli_config_gen): Add schema for daemon terminattr
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/daemon_terminattr.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/daemon-terminattr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2066 Feat(eos_cli_config_gen): Add schema for policy_maps
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/policy_maps.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-pbr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-pbr.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-qos.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2127 Feat(eos_cli_config_gen): Add schema for generate_default_config
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/generate_default_config.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2146 Feat(eos_cli_config_gen): Add schema for management_console
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_console.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2148 Feat(eos_cli_config_gen): Add schema for aaa_root
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/aaa_root.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2147 Feat(eos_cli_config_gen): Add schema for ip_http_client_source_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_http_client_source_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2150 Feat(eos_cli_config_gen): Add schema for ip_ssh_client_source_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_ssh_client_source_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2138 Feat(eos_cli_config_gen): Add schema for ip_dhcp_relay
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_dhcp_relay.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2132 Feat(eos_cli_config_gen): Add schema for dns_domain
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dns_domain.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2122 Feat(eos_cli_config_gen): Add schema for dhcp_relay
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dhcp_relay.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2117 Feat(eos_cli_config_gen): Add schema for banners
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/banners.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2139 Feat(eos_cli_config_gen): Add schema for ip_icmp_redirect
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_icmp_redirect.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2140 Feat(eos_cli_config_gen): Add schema for ipv6_icmp_redirect
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_icmp_redirect.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2133 Feat(eos_cli_config_gen): Add schema for clock
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/clock.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#2129 Feat(eos_cli_config_gen): Add schema for redundancy
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/redundancy.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2152 Revert(eos_designs): Removing switch.x facts
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: state: CI Updated, role: eos_designs

#2130 Feat(eos_cli_config_gen): Add schema for interface_defaults
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/interface_defaults.schema.yml
Labels: role: eos_cli_config_gen, state: conflict, state: Documentation role Updated, EPIC - AVD Schema

#2145 Feat(eos_cli_config_gen): Add schema for management_security
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2131 Refactor(eos_cli_config_gen): Merge input validation with templating
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/include_vars.py
  ansible_collections/arista/avd/plugins/action/validate_and_template.py
  ansible_collections/arista/avd/plugins/modules/include_vars.py
  ansible_collections/arista/avd/plugins/modules/validate_and_template.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.11.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.12.txt
Labels: type: documentation, role: eos_cli_config_gen

#2082 Feat(eos_cli_config_gen): Add schema for spanning_tree
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/spanning_tree.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/spanning-tree.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/spanning-tree.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2141 Fix(eos_designs, eos_cli_config_gen): Fix ipv6_address_virtual and ipv6_virtual_router
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/static-routes.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2091 Refactor(eos_designs): Move IP and description logic to Python (step1)
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/interface_descriptions/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/__init__.py
Labels: type: documentation, module: inventory_to_container, module: configlet_build_config, filter: is_in_filter, filter: list_compress, filter: natural_sort, type: code quality, state: CI Updated, type: Python filters, role: eos_designs

#2177 Fix(eos_cli_config_gen): Updates to schema for policy_maps
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/policy_maps.schema.yml
Labels: role: eos_cli_config_gen

#2095 Feat(eos_cli_config_gen): Add schema for vlans
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlans.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlans.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlans.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2116 Feat(eos_cli_config_gen): Add schema for ip_access_lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_access_lists.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2185 Feat(eos_cli_config_gen): Add schema for service_routing_protocols_model
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/service_routing_protocols_model.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2183 Feat(eos_cli_config_gen): Add schema for static_routes
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/static_routes.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2174 Feat(eos_cli_config_gen): Add schema for monitor_connectivity
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_connectivity.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2178 Feat(eos_cli_config_gen): Add schema for name_server
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/name_server.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2172 Feat(eos_cli_config_gen): Add schema for enable_password
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/enable_password.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2171 Feat(eos_cli_config_gen): Add schema for ip_routing_ipv6_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_routing_ipv6_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2166 Feat(eos_cli_config_gen): Add schema for event_monitor
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/event_monitor.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2164 Feat(eos_cli_config_gen): Add schema for ip_routing
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_routing.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2154 Feat(eos_cli_config_gen): Add schema for custom_templates
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/custom_templates.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2111 Feat(eos_cli_config_gen): Add schema for ip_radius_source_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_radius_source_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2061 Feat(eos_cli_config_gen): Add schema for router-pim-sparse-mode
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_pim_sparse_mode.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-pim-sparse-mode.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-pim-sparse-mode.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2203 Feat(eos_cli_config_gen): Add schema for ipv6_hardware
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_hardware.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2208 CI: clean documentation from eos_designs_unit_tests as it is not generated
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-CL1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF4A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF5A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-L2LEAF5B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1_UNDEPLOYED_LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1_UNDEPLOYED_LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MLAG-OSPF-L3LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MLAG-OSPF-L3LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UNDERLAY-MULTICAST-L3LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UNDERLAY-MULTICAST-L3LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UNDERLAY-MULTICAST-L3LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UNDERLAY-MULTICAST-L3LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UNDERLAY-MULTICAST-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/UPLINK-MLAG-STRUCTURED-CONFIG-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/bgp-peer-groups-structured-config-1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/bgp-peer-groups-structured-config-2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-1-isis-sr-ldp.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/core-2-ospf-ldp.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/cvp-instance-ips-cvaas.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/device.with.dots.in.hostname.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_false.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/evpn_services_l2_only_true.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/network-ports-tests-2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/network-ports-tests.1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l2leaf1a.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l2leaf1b.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l3leaf1a.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l3leaf1b.md
Labels: state: CI Updated

#2205 Feat(eos_cli_config_gen): Add schema for management_api_models
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_api_models.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2198 Feat(eos_cli_config_gen): Add schema for management_defaults
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_defaults.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2197 Feat(eos_cli_config_gen): Add schema for dot1x
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2199 Feat(eos_cli_config_gen): Add schema for trackers
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/trackers.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2188 Feat(eos_cli_config_gen): Add schema for monitor_sessions
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_sessions.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2194 Feat(eos_cli_config_gen): Add schema for router_l2_vpn
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_l2_vpn.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2210 Fix: Ensure get.avd.sh make script sets the correct UID
  development/docker-compose.yml
  development/docker-stack.env
Labels: type: code quality

#2202 Feat(eos_cli_config_gen): Add schema for management_cvx
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_cvx.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2186 Feat(eos_cli_config_gen): Add schema for cvx
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/cvx.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2184 Feat(eos_cli_config_gen): Add schema for service_routing_configuration_bgp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/service_routing_configuration_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2181 Feat(eos_cli_config_gen): Add schema for router_isis
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_isis.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2143 Feat(eos_cli_config_gen): Add schema for system
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/system.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2217 Feat(eos_cli_config_gen): add cvconfig flag to TerminAttr
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-extra-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/terminattr-extra-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminattr-extra-flags.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/terminattr-extra-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/terminattr-extra-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/terminattr-extra-flags.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/daemon_terminattr.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2229 CI: Bump github actions to avoid deprecation warnings
  .github/workflows/devel-push.yml
  .github/workflows/installation-test.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-triage.yml
  .github/workflows/stale.yml
Labels: type: code quality

#2222 Feat(eos_validate_state): custom fan & pwr states
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/hardware.yml
Labels: type: bug, role: eos_validate_state, state: Documentation role Updated

#2235 Doc: Fix incorrect key names for custom mlag interface descriptions
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/node-types.md
Labels: state: Documentation role Updated, role: eos_designs

#2158 Feat(eos_cli_config_gen): Add schema for queue_monitor_length
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/queue_monitor_length.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2160 Feat(eos_cli_config_gen): Add schema for arp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2157 Feat(eos_cli_config_gen): Add schema for terminal
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/terminal.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2161 Feat(eos_cli_config_gen): Add schema for ip_virtual_router_mac_address
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_virtual_router_mac_address.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2173 Feat(eos_cli_config_gen): Add schema for mlag_configuration
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mlag_configuration.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2195 Feat(eos_cli_config_gen): Add schema for dynamic_prefix_lists
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dynamic_prefix_lists.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2190 Feat(eos_cli_config_gen): Add schema for tap_aggregation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tap_aggregation.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2167 Feat(eos_cli_config_gen): Add schema for router multicast
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_multicast.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2187 Feat(eos_cli_config_gen): Add schema for hardware
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/hardware.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2077 Feat(eos_cli_config_gen): Add schema for router_ospf
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2159 Feat(eos_cli_config_gen): Add schema for queue_monitor_streaming
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/queue_monitor_streaming.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2182 Feat(eos_cli_config_gen): Add schema for ipv6_static_routes
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_static_routes.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2153 Feat(eos_cli_config_gen): Add schema for prompt
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/prompt.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2120 Feat(eos_cli_config_gen): Add schema for router_bfd
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bfd.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2083 Feat(eos_cli_config_gen): Add schema for traffic-policies
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/traffic_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/traffic-policies.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/traffic-policies.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2114 Feat(eos_cli_config_gen): Add schema for radius_servers
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/radius_servers.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2113 Feat(eos_cli_config_gen): Add schema for roles
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/roles.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2084 Feat(eos_cli_config_gen): Add schema for qos_profiles
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos_profiles.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2112 Feat(eos_cli_config_gen): Add schema for ip_tacacs_source_interfaces
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_tacacs_source_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2085 Feat(eos_cli_config_gen): Add schema for logging
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD Schema

#2115 Feat(eos_cli_config_gen): Add schema for tacacs_servers
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tacacs_servers.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2155 Feat(eos_cli_config_gen): Add schema for qos
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos.schema.yml
Labels: role: eos_cli_config_gen, state: conflict, state: Documentation role Updated, EPIC - AVD Schema

#2134 Feat(eos_cli_config_gen): Add schema for lldp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/lldp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2124 Feat(eos_cli_config_gen): Add schema for errdisable
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/errdisable.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema

#2119 Feat(eos_cli_config_gen): Add schema for aliases
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/aliases.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD Schema
