Repository aristanetworks/avd, pull requests merged in 2022-07, with the labels that each got.

#1864 Feat(eos_designs): Single-Active EVPN Multihoming
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/MH-LEAF1B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1826 Feat(eos_designs): Add support for trunk_groups
  ansible_collections/arista/avd/media/enable_trunk_groups.png
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l2leaf1a.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l2leaf1b.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l3leaf1a.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/trunk-group-tests-l3leaf1b.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf1a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l2leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf1b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L2LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L3LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/vlans.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/vlans.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1663 Feat(eos_designs): BGP peer groups in VRFs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/DC1-BL2B.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp-peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#1910 Feat(eos_designs): Add network_ports data model for large scale port configurations
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/network-ports-tests-2.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/network-ports-tests.1.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/logic.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1911 Refactor(eos_designs): Wildcard dict to list for <node_type_key>
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/MH_L2LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/MH_LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/cvp-instance-ips-cvaas.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_platform.yml
  ansible_collections/arista/avd/plugins/module_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/custom-structured-configuration-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology-v4.0.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1851 Feat(eos_cli_config_gen): BGP VPN-IPv4/v6 SAFI route-map and match failure discard
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vpn-ipv4-vpn-ipv6.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vpn-ipv4-vpn-ipv6.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vpn-ipv4-vpn-ipv6.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-bgp-vpn-ipv4-vpn-ipv6.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1844 Feat(eos_cli_config_gen): add ip helper to Ethernet interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1917 Test: Fix various ansible-test issues
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/tests/config.yml
Labels: type: code quality, type: Python filters

#1918 Test(eos_designs): Refactor unit tests
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UPLINK-MLAG-STRUCTURED-CONFIG-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#1920 Doc: Update AVD Core team
  ansible_collections/arista/avd/docs/contribution/overview.md
Labels: type: documentation

#1923 CI: Build ci container on devel push and pr target
  .github/workflows/devel-push.yml
  .github/workflows/pull-request-build-ci-containers.yml
  execution_environments/ansible-avd-ee-min-req.yml
  execution_environments/ansible-avd-ee.yml
Labels: type: code quality

#1926 CI: move j2lint check to pre-commit
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
Labels: type: code quality

#1924 Fix(eos_cli_config_gen): Rendering of dotx cli
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1908 Doc: AVD beginner TOI update to be consistent with AVD examples
  .gitignore
  ansible_collections/arista/avd/docs/_media/getting-started/Ansible-AVD.png
  ansible_collections/arista/avd/docs/_media/getting-started/Ansible-and-CVP-httpapi.png
  ansible_collections/arista/avd/docs/_media/getting-started/Group-vars-folder-structure.png
  ansible_collections/arista/avd/docs/_media/getting-started/Inventory-folder-structure.png
  ansible_collections/arista/avd/docs/_media/getting-started/Inventory.png
  ansible_collections/arista/avd/docs/_media/getting-started/ansible-and-cvp-httpapi.png
  ansible_collections/arista/avd/docs/_media/getting-started/ansible-avd.png
  ansible_collections/arista/avd/docs/_media/getting-started/group-vars-folder-structure.png
  ansible_collections/arista/avd/docs/_media/getting-started/inventory-folder-structure.png
  ansible_collections/arista/avd/docs/_media/getting-started/ls-topology.png
  ansible_collections/arista/avd/docs/_media/getting-started/single-dc-inventory-and-vars.png
  ansible_collections/arista/avd/docs/_media/getting-started/single-dc-topology-physical.png
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
Labels: type: documentation

#1928 CI: Revert building CI containers
  .github/workflows/devel-push.yml
  .github/workflows/pull-request-build-ci-containers.yml
  execution_environments/ansible-avd-ee-min-req.yml
  execution_environments/ansible-avd-ee.yml
Labels: type: code quality

#1933 Feat(eos_cli_config_gen): add support for logging event congestion-drops
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1932 Feat(eos_designs): Native dot1x support for connected_endpoints
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/templates/connected_endpoints/ethernet-interfaces.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#1943 CI: Remove validation of single commit title
  .github/workflows/pull-request-triage.yml
Labels: type: code quality

#1942 Test(eos_designs): Remove invalid variables from molecule scenarios
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_default.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_fabric.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_host.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/documentation/devices/mgmt_interface_platform.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/host_vars/mgmt_interface_platform.yml
Labels: state: CI Updated

#1950 Feat(eos_cli_config_gen): router bgp link-bandwidth
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1955 Fix(eos_designs): fix the Loopback0 interface description
  ansible_collections/arista/avd/roles/eos_designs/templates/underlay/interfaces/loopback-interfaces.j2
Labels: role: eos_designs

#1951 Doc: mkdoc updates with layouts, font, material theme, and syntax highlighting
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  ansible_collections/arista/avd/docs/stylesheets/highlight.js
  ansible_collections/arista/avd/docs/stylesheets/tables.js
  mkdocs.yml
Labels: type: documentation, type: dependencies, EPIC - AVD Documentation Improvements

#1958 Feat(eos_designs): igmp querier in network services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/templates/network_services/ip-igmp-snooping.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs
