Repository aristanetworks/avd, pull requests merged in 2023-10, with the labels that each got.

#3184 CI: Fix CI for old ansible-core versions
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#3180 Fix(eos_cli_config_gen): ip http client source interfaces cli not generated
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-client-source-interfaces.j2
Labels: type: bug, role: eos_cli_config_gen

#3187 Feat(plugins): Add deprecation for ansible-core<2.14 and python 3.8
  ansible_collections/arista/avd/docs/plugins/Modules and action plugins/verify_requirements.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/modules/verify_requirements.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Labels: type: documentation

#2770 Feat(eos_cli_config_gen): Add ECN Support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos_profiles.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interface-tx-queues.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interface-uc-tx-queues.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3150 Doc: Custom templates docs
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/how-to/custom-templates.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-templates.md
  mkdocs.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs

#3196 Doc: Update AVD project maintainers
  ansible_collections/arista/avd/docs/contribution/overview.md
Labels: type: documentation

#3205 Fix(eos_designs): Configure evpn_ebgp_gateway_multihop for ipvpn_gateway EBGP peers
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-to-ipvpn-gateway.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-to-ipvpn-gateway.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn-to-ipvpn-gateway.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/test
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, role: eos_designs

#3218 Feat(eos_cli_config_gen): Implement next-hop resolution disabled for evpn address-family
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3217 Feat(eos_cli_config_gen): Add IPv4 and IPv6 SR-TE address families
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-sr-te.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-sr-te.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-sr-te.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3206 Fix: Remove "anta" from requirements while the integration is in preview
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
Labels: type: code quality, role: eos_validate_state, state: Documentation role Updated

#3222 Feat(eos_cli_config_gen): Support of route-target route-map for BGP VRFs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3216 Doc: Reorder schema tables with dynamic keys first
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtodocumentationschemaconverter.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-input-validation.md
Labels: state: Documentation role Updated, role: eos_designs

#3211 Feat(eos_cli_config_gen): Add support for BGP link-state address-family
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-link-state.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-link-state.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-link-state.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3225 Fix(eos_cli_config_gen): Correct max TTL values for ip_access_lists and ptp
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-access-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_access_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ptp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#3229 Feat(eos_cli_config_gen): Ethernet interfaces ip address dhcp support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#2561 Feat(eos_config_deploy_cvp): Add support for device_inventory_mode
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/present.yml
Labels: role: eos_config_deploy_cvp, state: Documentation role Updated

#3212 Fix(eos_validate_state): ANTA VerifyRoutingProtocolModel now only run if there is BGP configuration
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestrouting.py
  ansible_collections/arista/avd/tests/unit/roles/eos_validate_state/avdtests.py
  ansible_collections/arista/avd/tests/unit/roles/eos_validate_state/conftest.py
  ansible_collections/arista/avd/tests/unit/roles/eos_validate_state/tests/test_avdtestrouting.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated

#3194 Feat(eos_cli_config_gen): Add ip security
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3151 Feat(eos_cli_config_gen): Support path-selection bgp address-family
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-path-selection.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-path-selection.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-path-selection.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3220 Feat(eos_cli_config_gen): Add 'router service-insertion' CLI
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-service-insertion.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-service-insertion.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-service-insertion.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-service-insertion.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_service_insertion.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-service-insertion.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-service-insertion.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3198 Feat(eos_cli_config_gen): Add Dps1 interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dps-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dps-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dps-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dps-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dps-interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dps-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dps-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3221 Feat(eos_cli_config_gen): add system l1 support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/system.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/system.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/system.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/system.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/system.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/system-l1.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/system-l1.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3235 Fix(eos_designs): change speed group value from int to str
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/hardware.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/hardware.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/hardware.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_speed_groups.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3199 Feat(eos_cli_config_gen): Add support for flow tracking hardware
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/flow-tracking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/flow-tracking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/flow-tracking.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/flow-trackings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-trackings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/defs_flow_tracking.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/flow_tracking.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/flow_trackings.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-tracking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-trackings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitoring.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/flow-tracking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/flow-trackings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3223 Feat(eos_designs): Build AVD topology from CloudVision I&T Studio data
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/uplinks.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/cv_topology.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/mgmt.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/mlag.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/platform.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/shared_utils.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-topology.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/use_cv_topology.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3195 Fix(eos_designs): Improve evpn_multicast error handling
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-missing-evpn-multicast-l2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-missing-evpn-multicast-l3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_filtered_tenants.py
Labels: state: CI Updated, role: eos_designs

#3239 Fix(eos_cli_config_gen): Remove requirement for MACSec license and FIPS
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_security.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#3242 Bump: Release 4.4.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.4.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#3201 Feat(eos_designs): Support for PIM RP access_list_name under VRFs and Tenants
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/standard_access_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_filtered_tenants.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  python-avd/tests/schema/conftest.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3231 Feat(eos_cli_config_gen): Add ethernet interface dhcp server config
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dhcp-server.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3255 Feat(pyavd): Adding "path" attribute to validation_errors and deprecation_warnings.
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/plugins/plugin_utils/errors/errors.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
Labels: state: CI Updated, one more approval

#3204 Feat(eos_cli_config_gen): Add support for qos map exp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one more approval

#3040 Feat(eos_designs): Support PTP on MLAG peer-link
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf1-ptp-disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf2-ptp-enabled-uplink-disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf2-ptp-enabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf1-ptp-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf2-ptp-enabled-uplink-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf2-ptp-enabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/ptp.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one more approval

#3232 Feat(eos_cli_config_gen): Support of next_hop_unchanged under EVPN address family
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3256 Feat(eos_designs): Support for underlay uplink_switch_interface_speed
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/uplinks.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one more approval

#3265 Feat(eos_cli_config_gen): Implement management-ssh client-alive
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-ssh.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_ssh.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-ssh.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one more approval

#3263 Fix(eos_cli_config_gen): Wrong CLI template for some options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, EPIC - AVD AutoVPN/WAN, one more approval

#3245 Feat(eos_cli_config_gen): Add knob to define port in GNMI transport grpc
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-gnmi-new-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-gnmi.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-gnmi-new-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-gnmi.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-gnmi-new-flags.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-gnmi.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-gnmi.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_api_gnmi.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-api-gnmi.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-gnmi.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3262 Feat(eos_cli_config_gen): support for mlag peer-link requests disabled under dhcp_relay
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-relay.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-relay.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dhcp-relay.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-relay.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dhcp_relay.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dhcp-relay.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dhcp-relay.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3266 Fix(eos_cli_config_gen): STUN server supports multiple local interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/stun.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/stun.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/stun.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/stun.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/stun.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/stun.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/stun.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/stun.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3264 Feat(eos_cli_config_gen): Add other valid_values for event-handler trigger 'on-boot'
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/event-handlers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/event_handlers.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3278 Feat(eos_cli_config_gen): Add additional-path for evpn address-family peer-groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3277 Feat(eos_cli_config_gen): LLDP for Management interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3284 Feat(eos_cli_config_gen): Implement speed for management interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_p2p_links.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3282 Feat(eos_cli_config_gen): Support for "agents" config
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/agents.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/agents.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/agents.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/agents.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/agents.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/agents.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/agents.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3203 Feat(eos_cli_config_gen): Add router path-selection feature
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-path-selection.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-path-selection.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-path-selection.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_path_selection.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-path-selection.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-path-selection.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3280 Feat(eos_cli_config_gen): Add enabled flag to router traffic-engineering
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-traffic-engineering.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-traffic-engineering.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-traffic-engineering.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_traffic_engineering.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-traffic-engineering.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-traffic-engineering.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3274 Feat(eos_cli_config_gen): Add mtu to Dps interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dps-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dps-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dps-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dps-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dps-interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dps-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dps-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3275 Feat(eos_cli_config_gen): Deprecate daemon_terminattr.cvcompression
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminattr-extra-flags.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/daemon_terminattr.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3288 Feat(eos_cli_config_gen): Add ARP static entries
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/arp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/arp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/arp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/arp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/arp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/arp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3207 Refactor(eos_designs): Remove EVPN limitation for underlay_filter_peer_as
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ul-filter-evpn-default-vrf-services.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay_filter_peer_as_evpn_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay_filter_peer_as_evpn_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay_filter_peer_as_evpn_3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay_filter_peer_as_evpn_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay_filter_peer_as_evpn_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay_filter_peer_as_evpn_3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_PEER_FILTER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/underlay.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/underlay_filter_peer_as.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3287 Feat(eos_cli_config_gen): Implement platform sfe cpu allocation maximum
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/platform.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/platform.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3298 Fix(eos_designs): Inherited structured_config on multiple SVIs.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SVI_PROFILE_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/custom_structured_configuration/avdstructuredconfig.py
Labels: state: CI Updated, role: eos_designs

#3234 Fix(eos_validate_state): ANTA Add a check to AvdTestLLDPTopology for shutdown interfaces
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/inventory.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestconnectivity.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestrouting.py
  ansible_collections/arista/avd/tests/unit/roles/eos_validate_state/tests/test_avdtestconnectivity.py
  ansible_collections/arista/avd/tests/unit/roles/eos_validate_state/tests/test_avdtestrouting.py
Labels: role: eos_validate_state, state: CI Updated

#3303 Fix(eos_cli_config_gen): correct logging event storm-control unter interface ethernet
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3307 Doc: Fix missing flow_tracking table
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval

#3308 Doc: Fix missing tables in eos_cli_config_gen
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval
