Repository aristanetworks/avd, pull requests merged in 2023-12, with the labels that each got.

#3393 Refactor(eos_designs): Reorder BGP address family rendering for overlay module
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-RR1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
Labels: state: CI Updated, role: eos_designs

#3386 Feat(eos_cli_config_gen): Add support for logging format rfc5424
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3369 Fix(eos_cli_config_gen): Correct syntax for "redistribute bgp" in router bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: type: bug, role: eos_cli_config_gen, state: CI Updated

#3396 Fix(eos_cli_config_gen): Merge flow_tracking tables
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-trackings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/flow_trackings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/flow-tracking.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs

#3405 Doc: Fix doc generation
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-input-validation.md
  python-avd/pyavd/schema/metaschema/meta_schema_model.py
Labels: state: Documentation role Updated, role: eos_designs

#3422 CI: Bump mkdoc-muffet 2.9.3 + exclude hub.docker.com
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#3311 Feat(eos_designs): Improve custom python class API for interface descriptions
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_interface_descriptions_with_data.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/interface_descriptions/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/interface_descriptions/avdinterfacedescriptions.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/interface_descriptions/models.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/interface_descriptions/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/loopback_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/port_channel_interfaces.py
Labels: state: CI Updated, role: eos_designs, one approval

#3350 Feat(eos_cli_config_gen): Adding application traffic recognition model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/application-traffic-recognition.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/application-traffic-recognition.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/application-traffic-recognition.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/application-traffic-recognition.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/application_traffic_recognition.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/application-traffic-recognition.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/application-traffic-recognition.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3357 Feat(eos_validate_state): ANTA Add eAPI HTTPS SSL profile test
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf2c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf1c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf2a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf2c.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-spine1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-spine2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/get_anta_results.py
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/constants.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestsecurity.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated, EPIC - eos_validate_state ANTA

#3420 Feat(eos_cli_config_gen): Add CRL support for management security
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3413 Fix(eos_cli_config_gen): Fix radius attribute 32 format option.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/radius-server-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/radius-server.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/radius-server.j2
Labels: role: eos_cli_config_gen, state: CI Updated, one approval

#3411 Fix(eos_cli_config_gen): Hide ip-security shared-key from device documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hide-passwords.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/hide-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/hide-passwords.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, one approval

#3419 Feat(eos_designs): Add RD and RT override for VRFs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/vrfs_rd_rt_override.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/vrfs_rd_rt_override.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/vrfs_rd_rt_override.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3372 Feat(eos_cli_config_gen): Support Sand MDB Profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/platform.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3403 Fix(eos_cli_config_gen): Add line delimiter at beginning of ip access-list cli
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-access-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-access-lists.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-access-lists.j2
Labels: role: eos_cli_config_gen, state: CI Updated, one approval

#3434 Fix(eos_designs): Correct logic for VRF RD/RT overrides
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/vrfs_rd_rt_override.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/vrfs_rd_rt_override.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: type: bug, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3433 Bump(pyavd): Move PyAVD out of beta
  ansible_collections/arista/avd/docs/pyavd.md
  mkdocs.yml
  python-avd/README.md
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Labels: type: documentation, one approval

#3435 CI: Add support for pyavd scope in release notes
  .github/generate_release.py
  .github/release.yml
Labels: type: code quality, one approval

#3429 Fix(eos_cli_config_gen): Render switchport mode for all modes for Port-channels
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: type: bug, role: eos_cli_config_gen, state: CI Updated

#3437 Fix(eos_cli_config_gen): MAC Security key fallback configured even if set to false
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mac-security-eth-po-entropy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
Labels: type: bug, role: eos_cli_config_gen, state: CI Updated

#3431 Bump: Release 4.5.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.5.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation, one approval

#3449 Doc(eos_cli_config_gen): Add documentation table for Application traffic recognition
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#3426 Feat(eos_designs): Add l3_edge.l3_interfaces support
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_l3_interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_l3_interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_l3_interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_l3_edge.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_l3_edge_l3_interfaces.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3447 Fix(eos_validate_state): ANTA Fix AvdTestBase structured_config objects
  ansible_collections/arista/avd/plugins/action/eos_validate_state_runner.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/avdtestbase.py
Labels: EPIC - eos_validate_state ANTA

#3445 Fix(eos_designs): Empty description under network-ports
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
Labels: type: bug, state: CI Updated, role: eos_designs

#3273 Feat(eos_designs): Set spanning-tree priority per VLAN
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/spanning-tree-mode-rapid-pvst.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/spanning_tree.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - Improve Campus Support

#3455 Doc: fix mlag ibgp peering formula rendering
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#3268 Feat(eos_designs): Custom prefix length for P2P uplinks and MLAG
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/P2P-UPLINKS-IPV4-PREFIX-LENGTH.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/P2P-UPLINKS-IPV4-PREFIX-LENGTH.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/P2P-UPLINKS-IPV4-PREFIX-LENGTH.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/uplinks.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_ip_from_pool.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/avdipaddressing.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlan_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/fabric_ip_addressing.schema.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_get_ip_from_pool.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - Improve Campus Support

#3456 Fix(eos_designs): Fix incorrect syntax in EVPN multicast PIM error messages
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-missing-evpn-multicast-l3-with-pim.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-missing-evpn-multicast-peg-rps.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
Labels: state: CI Updated, role: eos_designs, one approval

#3374 Feat(eos_designs): Add other CCS (Campus) platforms for PoE support
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/platform.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval, EPIC - Improve Campus Support

#3441 Doc: CSS updates and mike pinning
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
Labels: type: documentation, type: dependencies
