Repository aristanetworks/avd, pull requests merged in 2023-07, with the labels that each got.

#3023 Fix(eos_cli_config_gen): Fixing management_api_http.protocol_https_certificate error
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-api-http.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-api-http.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-api-http.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-api-http.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#3018 Refactor: Adjust pyavd API and requirements
  Makefile
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/tools/multiprocess_runners.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
  python-avd/pyavd/validation_result.py
  python-avd/pyproject.toml
Labels: type: documentation

#3008 Fix(eos_cli_config_gen): Relax schema for empty prefix-lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/prefix-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/prefix-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/prefix-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/prefix-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/prefix_lists.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2998 Fix(eos_designs): Incorrect type for ospf.area in network services keys
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlan_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: type: bug, state: Documentation role Updated, role: eos_designs

#3001 Doc(eos_designs, eos_cli_config_gen): Various doc improvements
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/_media/excalidraw/pyavd_functions.excalidraw
  ansible_collections/arista/avd/docs/_media/pyavd_functions_dark.svg
  ansible_collections/arista/avd/docs/_media/pyavd_functions_light.svg
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/docs/porting-guides/4.x.x.md
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  mkdocs.yml
Labels: type: documentation, role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs

#3017 Feat(eos_designs): Adding structured_config to l3_edge P2P_links
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_p2p_links.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2775 Feat(eos_designs): Sflow configuration at fabric level
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-l2-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-l2-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-l2-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-l2-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sflow-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SFLOW_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SFLOW_TESTS_L2_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SFLOW_TESTS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SFLOW_TESTS_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_p2p_links.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/fabric_sflow.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3039 Doc: update links to specific version
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/examples/campus-fabric/README.md
Labels: type: documentation

#3041 Fix(eos_designs): Remove EVPN related config if VRF 'default' is not EVPN enabled (#2888)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-vtep-with-default-vrf-not-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-vtep-with-default-vrf-not-evpn.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn-vtep-with-default-vrf-not-evpn.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vxlan_interface.py
Labels: state: CI Updated, cherry-pick, role: eos_designs

#3037 Fix(eos_cli_config_gen): Ensure unique VRF names in schemas (#2878)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_connectivity.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_multicast.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_pim_sparse_mode.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/snmp_server.schema.yml
Labels: role: eos_cli_config_gen, cherry-pick

#2991 Feat(eos_cli_config_gen): add support for password complexity policies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-accounts.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-accounts.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-accounts.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-accounts.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_accounts.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-accounts.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-accounts.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3050 Fix(eos_cli_config_gen): Fix router_isis.instance schema
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_isis.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#3046 Fix(eos_config_deploy_cvp): device_filter is not behaving correctly if input is a string
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/converge.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp-empty-filter/cv_server.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp-empty-filter/cv_server_configlets.yml
  ansible_collections/arista/avd/plugins/action/inventory_to_container.py
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_device_filter_as_string.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_device_filter_empty_string.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_with_device_filter_as_string.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_with_device_filter_empty_string.yml
Labels: state: CI Updated

#2999 Fix(eos_cli_config_gen): Support vars on play via `vars` or `vars_files`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/plugins/action/validate_and_template.py
Labels: state: CI Updated

#3054 Fix(eos_designs): Duplicate neighbor_interfaces in rfc5549 design when multiple uplinks to the same Spine
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SPINE5.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SPINE5.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE5.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/uplinks.py
Labels: state: CI Updated

#3033 Refactor(eos_designs): Using common method for raising duplicate detection error in python_modules
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interface-l3-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-underlay.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-ip-address-uplink-switch-router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
Labels: state: CI Updated, role: eos_designs

#2994 Feat(eos_cli_config_gen): Add global logging event storm-control
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2838 Feat(eos_cli_config_gen): Flow tracking table size
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/flow-tracking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/flow-tracking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/flow-tracking.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-trackings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/flow_trackings.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-trackings.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/flow-trackings.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3012 Feat(dhcp_provisioner): Adding support for automatic dict_to_list conversion in ztp_configuration template
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Labels: state: CI Updated, role: dhcp_provisioner

#2841 Feat(eos_cli_config_gen): ECN Propagation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vxlan-interface-false.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vxlan-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vxlan-interface-false.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vxlan-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vxlan-interface-false.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vxlan_interface.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3035 Feat(eos_cli_config_gen): Add support for eos_cli under router_ospf process ids
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3027 Refactor(eos_designs): Deprecating port_channel.short_esi under connected_endpoints
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/SITE1_CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/create.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/destroy.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/port-channel-short-esi.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/port-channel-short-esi.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/EOS_DESIGNS_DEPRECATED_VARS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/port-channel-short-esi.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/molecule.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/verify.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/test
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3068 Bump: Release 4.2.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.2.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation
