Repository aristanetworks/avd, pull requests merged in 2023-06, with the labels that each got.

#2938 Test: Update eos_designs-twodc-5stage-clos example data model to AVD-4.0.0
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC2_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/all.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/avdstructuredconfig.py
Labels: state: CI Updated, role: eos_designs

#2937 Test: Update molecule scenario eos_designs-mpls-isis-sr-ldp input to 4.0.0
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/SITE1_CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/SITE2_CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/all.yml
Labels: state: CI Updated

#2936 Test: Update eos_designs_negative_unit_tests example data model to AVD-4.0.0
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/duplicate-ip-address-router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/duplicate-vlans-mlag.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interface-l3-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-underlay.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-ip-address-uplink-switch-router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-l3-interfaces-network-services.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vlans-l2vlans.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vlans-svi-id.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-l2vlans-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-l3-interfaces-in-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mlag-peer.yml
Labels: state: CI Updated

#2949 Refactor(eos_designs): Change description for port-channel members to be the physical peer interface instead of port-channel
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/utils.py
Labels: state: CI Updated, role: eos_designs

#2950 Fix(eos_designs): eBGP rfc5549 creates invalid configuration for MLAG scenarios
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vrfs.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2948 Fix(eos_designs): Schema validation in eos_designs_facts
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
Labels: type: documentation, state: CI Updated

#2955 Fix(eos_designs): Ignore "overlay_routing_protocol_address_family: ipv6" on l2leaf
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/overlay.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/overlay.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, role: eos_designs, cherry-pick-for-3.8.x

#2956 Bump: Collection requirements and cvprac
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
Labels: type: documentation

#2967 Fix(eos_designs): Fix schema for storm_control and endpoint_ports under adapters
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_connected_endpoints.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2957 Doc(eos_designs,eos_cli_config_gen): Add missing deprecation warnings
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/daemon_terminattr.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2945 Doc: Porting guide updates
  ansible_collections/arista/avd/docs/porting-guides/4.x.x.md
Labels: type: documentation

#2587 Doc: Updating the landing page, move the collection below AVD umbrella
  ansible_collections/arista/avd/README.md
  mkdocs.yml
Labels: type: documentation

#2973 Doc: Grammar corrections on contribution guides
  ansible_collections/arista/avd/docs/contributing.md
  ansible_collections/arista/avd/docs/contribution/development.md
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/setup-environment.md
  ansible_collections/arista/avd/docs/contribution/setup-git.md
  ansible_collections/arista/avd/docs/contribution/style-guide.md
Labels: type: documentation

#2971 Doc: Adding mike version provider to requirements and mkdocs
  ansible_collections/arista/avd/docs/requirements.txt
  mkdocs.yml
Labels: type: documentation, type: dependencies

#2803 Doc: Update Single DC L3LS example
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/ansible.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/build.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf1a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf1b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf1c.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf2a.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf2b.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-leaf2c.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-spine1.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/devices/dc1-spine2.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf1a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf1b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf1c.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf2a.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf2b.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-leaf2c.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-spine1.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/configs/dc1-spine2.cfg
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/cvp/cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/cvp/cvp_configlets.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf1c.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-leaf2c.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/inventory.yml
  ansible_collections/arista/avd/molecule/example-single-dc-l3ls/molecule.yml
Labels: state: CI Updated

#2976 Refactor(eos_designs, eos_cli_config_gen): BGP VRF peer group options, global context ipv6 multicast and flowspec
  ansible_collections/arista/avd/docs/porting-guides/4.x.x.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE5.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SPINE6.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2981 Doc: Remove wide margins from left and right menus
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
Labels: type: documentation

#2980 Bump: Release 4.0.0
  .github/.markdownlintignore
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments/.gitkeep
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.0.0.yml
  ansible_collections/arista/avd/docs/porting-guides/4.x.x.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/examples/campus-fabric/README.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: type: documentation, role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs

#2864 Feat(eos_cli_config_gen): Add comments to queue
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos_profiles.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2975 Feat(eos_designs): Add support for POE settings under connected endpoints
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/LEAF2A.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_NETWORK_PORTS.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/LEAF2A.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/platform.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#2896 Feat(eos_cli_config_gen): Add OSPF default_information_originate options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2985 CI: Update codeowners
  .github/CODEOWNERS
Labels: type: code quality

#2893 Feat(eos_designs): Enhance RD/RT assignments options
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/RD_RT_ADMIN_SUBFIELD_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/overlay.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/overlay_rd_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/overlay_rt_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2984 Fix(eos_designs): Schema validation for connected endpoints not executed
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/get_structured_config/get_structured_config.py
  ansible_collections/arista/avd/tests/inventory/group_vars/DC1_SERVERS.yml
Labels: type: bug, state: CI Updated, role: eos_designs

#2946 Feat(eos_designs): Compact MLAG allocations #2903
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/fabric_ip_addressing_mlag_odd_id.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mlag-peer.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/avdipaddressing.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/fabric_ip_addressing.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, rn: Feat(eos_designs)

#2890 Feat(eos_designs): Make BFD configurable under bgp_peer_groups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/bgp_peer_groups.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/bgp_peer_groups.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2815 Feat(eos_designs): Support setting "ptp.auto_clock_identity: false" as group/hostvar
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/ptp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ptp.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/ptp.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2988 Fix(eos_designs): Sort internal objects for consistent output
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l2leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf2a.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlans.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/vlans.py
Labels: state: CI Updated, role: eos_designs

#2804 Feat(eos_cli_config_gen): Add trust and chain certificate
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2986 Refactor(eos_cli_config_gen): Minor adjustments to prepare for pyavd
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet_interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/molecule.yml
  ansible_collections/arista/avd/plugins/filter/snmp_hash.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/maintenance.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
Labels: role: eos_cli_config_gen, state: CI Updated, type: Python filters

#2990 Fix(cvp_configlet_upload): Add requirements checks
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
Labels: role: cvp_configlet_upload

#2846 Feat(eos_designs): Support for underlay_multicast RPs and Anycast-RP
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/underlay.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/loopback_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_msdp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_pim_sparse_mode.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/standard_access_lists.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/underlay_multicast_anycast_rp.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/underlay_multicast_rps.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2989 Feat: pyavd alpha
  Makefile
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/docs/requirements.txt
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/test
  mkdocs.yml
  python-avd/.gitignore
  python-avd/Makefile
  python-avd/README.md
  python-avd/pyavd/__init__.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/constants.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/templater.py
  python-avd/pyavd/tools/README.txt
  python-avd/pyavd/tools/__init__.py
  python-avd/pyavd/tools/input
  python-avd/pyavd/tools/multiprocess_runners.py
  python-avd/pyavd/tools/read_vars.py
  python-avd/pyavd/tools/template_var_files.py
  python-avd/pyavd/tools/write_result.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyproject.toml
  python-avd/scripts/compile_schemas.py
  python-avd/scripts/compile_templates.py
  python-avd/scripts/export_test_vars.yml
  python-avd/scripts/runner.py
  python-avd/scripts/testpyavd.py
  python-avd/tox.ini
  python-avd/vendor_overrides/schema/default_schemas.py
  python-avd/vendor_overrides/schema/store.py
  python-avd/vendor_overrides/utils/display.py
  python-avd/vendor_overrides/utils/get_templar.py
  python-avd/vendor_overrides/utils/template.py
Labels: type: documentation, type: dependencies, state: CI Updated

#2992 Bump: Release 4.1.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.1.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#2767 Feat(eos_cli_config_gen): Generate sFlow egress commands
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/sflow.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/sflow.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/sflow.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/sflow.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/sflow.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/sflow.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2997 Fix(eos_cli_config_gen): force domain identifier to be str
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-vpn-import-pruning.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vpn-ipv4-vpn-ipv6.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-vpn-import-pruning.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vpn-ipv4-vpn-ipv6.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vpn-ipv4-vpn-ipv6.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
Labels: type: bug, role: eos_cli_config_gen, state: CI Updated

#3003 Refactor(eos_designs): Combine core_interfaces and l3_edge python_modules
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces.yml
  ansible_collections/arista/avd/plugins/plugin_utils/avdfacts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/router_ospf.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/get_structured_config/get_structured_config.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/router_ospf.py
Labels: type: documentation, state: CI Updated, role: eos_designs
