Repository aristanetworks/avd, pull requests merged in 2023-09, with the labels that each got.

#3114 Test(eos_designs): Updating ipv6_address_virtual to ipv6_address_virtuals and adding molecule tests
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/tenants.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/main.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/test
Labels: state: CI Updated

#2966 Feat(eos_designs): Support multiple descriptions in connected_endpoint adapters
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-mismatched-descriptions.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_connected_endpoints.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3135 Refactor(eos_designs): Remove unused code
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
Labels: role: eos_designs

#3130 Fix(eos_designs): removed min and max value from vrf_id
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#3133 Feat(eos_designs): VTEP override option on node-definitions
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERRIDE_VTEP_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERRIDE_VTEP_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERRIDE_VTEP_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERRIDE_VTEP_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERRIDE_VTEP_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/node_type.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3140 Fix: ip reachability test with l3dge endpoint not managed by AVD
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ip_reachability.yml
Labels: role: eos_validate_state

#3124 Fix(eos_config_deploy_cvp): Avoid duplicate AVD configlet
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices-v3.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
Labels: role: eos_config_deploy_cvp

#3155 CI: Cap requirement on jsonschema in 3.8.x train
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation, state: conflict, cherry-pick-for-3.8.x

#3160 Fix: Cap requirement on jsonschema in 3.8.x train
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements.txt
Labels: type: documentation

#3157 Doc: Add updated requirements for jsonschema in 4.2.0
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
Labels: type: documentation

#3156 Doc(eos_designs): Clarify evpn_multicast required for evpn_l2/l3_multicast
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_multicast.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#3166 Fix(eos_config_deploy_cvp): Avoid duplicate AVD configlet (#3124)
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices-v3.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
Labels: role: eos_config_deploy_cvp, cherry-pick

#3174 Bump: Release 3.8.7
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments/.gitkeep
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.7.yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation, cherry-pick

#3075 Feat(eos_designs): EVPN vlan-aware-bundle option for l2vlan
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-duplicate-evpn-vlan-bundle-name.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-missing-evpn-vlan-bundle.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_vlan_bundle.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_vlan_bundle.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-vlan-bundles.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_vlan_bundles.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/overlay_rd_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/overlay_rt_type.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3173 Feat(eos_cli_config_gen): Support of a global tacacs timeout
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hide-passwords.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tacacs-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tacacs_servers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tacacs-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tacacs-servers.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3147 Feat(eos_cli_config_gen): Support STUN
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/stun.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/stun.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/stun.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/stun.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/stun.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/stun.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/stun.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
