Repository aristanetworks/avd, pull requests merged in 2023-08, with the labels that each got.

#3070 Bump: Add support for Ansible 2.15.x
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  python-avd/tox.ini
Labels: type: documentation, module: configlet_build_config, type: code quality

#3028 Refactor(eos_designs): Deprecate cvp_instance_ip in favor of cvp_instance_ips
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/cvp_instance_ip.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/cvp_instance_ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/cvp_instance_ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cvp_instance_ip.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3073 Feat(eos_cli_config_gen): add dot1x unauthorized access|native vlan membership egress to ethernet interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2833 Feat(eos_cli_config_gen): Allow TCAM profile local file configuration
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tcam-profile.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tcam-profile.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/tcam-profile.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tcam-profile.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tcam_profile.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tcam-profile.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3069 Feat(eos_designs): Add control for redistribution of MLAG peering subnet
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlan_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3051 Fix(eos_designs): eBGP rfc5549 creates invalid configuration for MLAG scenarios
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vrfs.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, cherry-pick, role: eos_designs

#3071 Feat(eos_cli_config_gen): Add support for "include leaked" under BGP redistribution
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3085 Bump(pyavd): pre-release 4.2.0a6
  .github/workflows/pull-request-triage.yml
  python-avd/pyavd/__init__.py
  python-avd/scripts/compile_schemas.py
  python-avd/scripts/compile_templates.py
  python-avd/scripts/runner.py
  python-avd/scripts/testpyavd.py
Labels: type: code quality

#3084 Revert(eos_designs): eBGP rfc5549 creates invalid configuration for MLAG scenarios"
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vrfs.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2835 Feat(eos_cli_config_gen): Add Trident MMU queue
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/platform.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/platform.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform-apply.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/platform-trident.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2796 Feat(eos_cli_config_gen): Add priority flow control to qos profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet_interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/priority-flow-control.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/priority_flow_control.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/qos_profiles.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/priority-flow-control.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/qos-profiles.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/priority-flow-control.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/qos-profiles.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3080 Feat(eos_cli_config_gen): Add support for ftp/tftp/telnet client source interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-client-source-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-http-client-source-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-ssh-client-source-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-client-source-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-http-client-source-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-ssh-client-source-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-client-source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-http-client-source-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-ssh-client-source-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_ftp_client_source_interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_telnet_client_source_interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_tftp_client_source_interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-http-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-ssh-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-http-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-ssh-client-source-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#3043 Fix(eos_designs): Ignore "overlay_routing_protocol_address_family: ipv6" on l2leaf (#2955)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, cherry-pick, role: eos_designs

#3093 Doc: Minor typo fixes on internal notes documentation
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
Labels: type: documentation

#3094 Refactor(eos_designs): Optimize connected endpoints temp data storage
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
Labels: role: eos_designs

#3089 Doc: avd to cvaas
  ansible_collections/arista/avd/media/serviceaccount1.png
  ansible_collections/arista/avd/media/serviceaccount2.png
  ansible_collections/arista/avd/media/serviceaccount3.png
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/docs/avd-to-cvaas.md
  mkdocs.yml
Labels: role: eos_config_deploy_cvp, state: Documentation role Updated

#3100 Fix(eos_designs): Fix schema for BGP peers to allow shutdown key
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3072 Feat(eos_designs): Add support for setting source-interfaces for management protocols
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-domain-lookup-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-http-client-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-http-client-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-http-client-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-radius-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-ssh-client-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-ssh-client-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-ssh-client-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-duplicate-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interfaces-tacacs-missing-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/source-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-client-source-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-source-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/source_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3091 Feat(eos_cli_config_gen): Support accounting logging
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/aaa_accounting.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-accounting.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-accounting.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3106 Fix(eos_designs): Don't require "mlag_peer_l3_ipv4_pool" with full rfc5549
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/mlag.py
Labels: state: CI Updated

#3105 Fix(eos_designs): Ensure consistent ordering of underlay route-maps
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: role: eos_designs

#3108 Bump: Release 4.3.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.3.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#3111 Fix(eos_cli_config_gen): under maximum_paths, ecmp field is not required
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#3076 Test(eos_designs): Create eos_designs deprecated vars molecule unit test
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/cvp_instance_ip.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/cvp_instance_ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/EOS_DESIGNS_DEPRECATED_VARS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/connected_endpoints_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/cvp_instance_ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/l3_edge_p2p_links.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/platform_speed_groups.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/port-channel-short-esi.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/port_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/routers.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/svi_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/tenants.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
Labels: state: CI Updated

#3119 Refactor(pyavd): pyavd beta 1 with updated docs and requirements
  ansible_collections/arista/avd/docs/pyavd.md
  python-avd/Makefile
  python-avd/README.md
  python-avd/pyavd/__init__.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyproject.toml
  python-avd/requirements-mdtoc.txt
  python-avd/requirements.txt
  python-avd/scripts/custom-build-backend.py
  python-avd/tox.ini
Labels: type: documentation
