Repository aristanetworks/avd, pull requests merged in 2023-02, with the labels that each got.

#2481 Fix(eos_cli_config_gen): Correct schema min values for terminal length/width
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/terminal.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick-for-3.8.x

#2477 CI: Bump isort to 5.12.0 to address isort issue 2077 (#2475)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/requirements-dev.txt
Labels: type: documentation, cherry-pick

#2476 Fix(eos_cli_config_gen): Fix the router_multicast vrfs indentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
Labels: role: eos_cli_config_gen, state: CI Updated, cherry-pick-for-3.8.x

#2350 Feat(eos_designs): Add schema validation to eos_designs action plugins
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/validate_and_template.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: role: eos_designs

#2369 Feat(plugins): Add schema driven deprecation warnings
  .gitignore
  ansible_collections/arista/avd/docs/input-variable-validation-BETA.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/plugins/action/validate_and_template.py
  ansible_collections/arista/avd/plugins/plugin_utils/errors/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/errors/errors.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschema.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtodocumentationschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtojsonschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/avd_schema_documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/avd_schema_documentation.j2
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2466 Feat(eos_designs): Support for custom masks in l3_edge ip pools
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/l3-edge-v4.0.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2437 Refactor(plugins): Improvements of schema tools preparing for eos_designs schemas
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschema.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
Labels: role: eos_designs

#2494 CI: eos_designs schema prep
  .github/.markdownlintignore
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/key_to_display_name.py
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services-v4.0.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2496 CI: Bump pylint to 2.16.1
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/_build/ansible2rst.py
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/plugins/plugin_utils/bgp_utils.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/route_maps.py
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/error.txt
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/error_invalid_merge_option.txt
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  ansible_collections/arista/avd/tests/unit/modules/test_configlet_build_config.py
  pylintrc
Labels: type: documentation, module: inventory_to_container, module: configlet_build_config, type: code quality, role: eos_designs

#2492 Fix(eos_cli_config_gen): Relax schema for maintenance unit profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/maintenance.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/maintenance.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/maintenance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/maintenance.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, cherry-pick-for-3.8.x

#2498 Doc: Add a warning to upgrade the python reqs when upgrading AVD
  ansible_collections/arista/avd/docs/installation/collection-installation.md
Labels: type: documentation

#2500 Feat(eos_designs): User defined description on management interface
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_description.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_description.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_description.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2450 Feat(eos_cli_config_gen): Extend aaa_accounting with options for dot1x
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/aaa_accounting.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-accounting.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-accounting.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2499 Feat(eos_designs): User defined descriptions on l3_edge and core_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/core-interfaces-BETA.md
  ansible_collections/arista/avd/roles/eos_designs/doc/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2502 Fix(eos_designs): Fix error with dotted hostname, l2leaf and mlag
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF5A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF5B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF5A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF5B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
Labels: type: bug, state: CI Updated, cherry-pick-for-3.8.x

#2504 Fix!: Change uppercase CVP role vars to lower case
  ansible_collections/arista/avd/docs/modules/inventory_to_container.rst.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v1.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v3.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/absent.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices-v3.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/vars/main.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_blank_prefix.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_with_all_parameters.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_without_extension.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_all_parameters.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_dir.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_prefix.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_container_root.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_device_filter.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_inventory.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_with_all_parameters.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_with_blank_prefix.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_without_extension.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_with_all_param.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_configlet_dir.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_device_filter.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_inventory.yml
Labels: type: documentation, role: cvp_configlet_upload, module: inventory_to_container, role: eos_config_deploy_cvp, module: configlet_build_config, state: CI Updated

#2522 Feat(eos_designs): Uplink native vlan for l2 switches
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/uplink-native-vlan-child.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/uplink-native-vlan-grandparent.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/uplink-native-vlan-parent.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-native-vlan-child.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-native-vlan-grandparent.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-native-vlan-parent.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_NATIVE_VLAN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/port_channel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/vlans.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2530 CI: Bump pylint to 2.16.1 (#2496)
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/_build/ansible2rst.py
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/plugins/plugin_utils/bgp_utils.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/route_maps.py
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/error.txt
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/error_invalid_merge_option.txt
  ansible_collections/arista/avd/tests/integration/targets/yaml_templates_to_facts/tests/test_with_list_merge_invalid.yml
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  ansible_collections/arista/avd/tests/unit/modules/test_configlet_build_config.py
  pylintrc
Labels: type: documentation, module: inventory_to_container, module: configlet_build_config, type: code quality, cherry-pick, role: eos_designs

#2529 Fix(eos_designs): Correct range_expand behaviour with .0 4byte ASNs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF7A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF7B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF8A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF8B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF7A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF7B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF8A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF8B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AUTO_BGP_ASN.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/tests/unit/filters/test_range_expand.py
Labels: state: CI Updated, type: Python filters, cherry-pick-for-3.8.x

#2528 Fix(eos_cli_config_gen): Correct schema min values for terminal length/width (#2481)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/terminal.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick

#2531 Refactor(eos_designs): Use python for all default interface descriptions (#2490)
  ansible_collections/arista/avd/roles/eos_designs/defaults/main/default-templates.yml
Labels: cherry-pick, role: eos_designs

#2533 Doc: Fix typo in plugins README.md (#2495)
  ansible_collections/arista/avd/plugins/README.md
Labels: cherry-pick

#2534 Fix(eos_designs): Fix error with dotted hostname, l2leaf and mlag (#2502)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF5A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF5B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF5A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF5B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
Labels: state: CI Updated, cherry-pick

#2535 Fix(eos_cli_config_gen): Add variable protection for router_bgp.as in doc template (#2503)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
Labels: role: eos_cli_config_gen, cherry-pick

#2532 Fix(eos_cli_config_gen): Relax schema for maintenance unit profile (#2492)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/maintenance.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/maintenance.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/maintenance.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/maintenance.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, cherry-pick

#2541 Fix(eos_designs): Correct range_expand behaviour with .0 4byte ASNs (#2529)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF7A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF7B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF8A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/AUTO_BGP_ASN_LEAF8B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF7A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF7B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF8A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/AUTO_BGP_ASN_LEAF8B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AUTO_BGP_ASN.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/tests/unit/filters/test_range_expand.py
Labels: state: CI Updated, cherry-pick, type: Python filters

#2542 Doc: release notes 3.8.2
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#2440 Feat(eos_cli_config_gen): Add aaa authorization policy and dynamic
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Authentication.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/aaa_authorization.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/aaa-authorization.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/aaa-authorization.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#1805 Feat(eos_cli_config_gen): Add Sflow config for ethernet and port_channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitoring.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/sflow.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2538 Feat(eos_cli_config_gen): Support ND parameters inside router_l2_vpn the same as ARP
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-l2-vpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-l2-vpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-l2-vpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Routing.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_l2_vpn.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-l2-vpn.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-l2-vpn.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2543 Bump: Release v3.8.2
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.2.yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#2512 Feat(eos_designs): Schema for default interfaces
  ansible_collections/arista/avd/roles/eos_designs/docs/Default Interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/default_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/avd_schema_documentation.j2
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2525 CI: Fix ansible-lint errors
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/.ansible-lint
  ansible_collections/arista/avd/docs/modules/inventory_to_container.rst.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/roles.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/configlet_build_config.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v1.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/cv_collection_v3.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/absent.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/cv-device-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-list.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main-filter-string.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/present.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices-v3.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/templates/cvp-devices.j2
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/vars/main.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_blank_prefix.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_with_all_parameters.yml
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/tests/test_without_extension.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_all_parameters.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_dir.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_prefix.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_container_root.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_device_filter.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_inventory.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_with_all_parameters.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_with_blank_prefix.yml
  ansible_collections/arista/avd/tests/inventory/configlet_build_config/expected_output/expected_without_extension.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_with_all_param.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_configlet_dir.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_device_filter.yml
  ansible_collections/arista/avd/tests/inventory/inventory_to_container/expected_output/expected_without_inventory.yml
Labels: type: documentation, role: cvp_configlet_upload, module: inventory_to_container, role: eos_config_deploy_cvp, module: configlet_build_config, type: code quality, state: CI Updated

#2554 Refactor(eos_designs): network_services/ip_igmp_snooping python_module as per eos_cli_config_gen
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF5A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-L2LEAF5B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_igmp_snooping.py
Labels: state: CI Updated, role: eos_designs

#2553 Fix(eos_cli_config_gen): Update schema for logging
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Monitoring.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick-for-3.8.x

#2569 CI: Add dual DC example to molecule matrix
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf1c.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-leaf2c.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf1c.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2a.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2b.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-leaf2c.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/intended/structured_configs/dc2-spine2.yml
Labels: type: code quality

#2571 Refactor(eos_designs): schema auto documentation template
  ansible_collections/arista/avd/roles/eos_designs/docs/Default Interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Fabric Topology.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Node Types.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/default_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/default_node_types.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/avd_schema_documentation.j2
Labels: state: Documentation role Updated, role: eos_designs

#2563 Refactor(eos_designs): Change default native vlan name
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/uplink-native-vlan-child.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/uplink-native-vlan-parent.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-native-vlan-child.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink-native-vlan-parent.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_NATIVE_VLAN_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/vlans.py
Labels: state: CI Updated, role: eos_designs

#2562 Fix(eos_cli_config_gen): Update schema for storm_control levels to support int or float
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK-MLAG-STRUCTURED-CONFIG-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, cherry-pick-for-3.8.x

#2551 Feat(eos_cli_config_gen): Add 'route_reflector_client' key to BGP neighbor in VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Routing.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2545 Feat(eos_cli_config_gen): CVX Client non-default VRF support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-cvx.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Management.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_cvx.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-cvx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-cvx.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2578 Fix(eos_designs): Ensure proper formatting of raised errors
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
Labels: cherry-pick-for-3.8.x

#2580 Fix(eos_designs): Ensure proper formatting of raised errors
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
Labels: cherry-pick

#2583 Fix(eos_cli_config_gen): Update schema for storm_control levels to support int or float (#2562)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick

#2582 Fix(eos_cli_config_gen): Update schema for logging (#2553)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick
