Repository aristanetworks/avd, pull requests merged in 2023-01, with the labels that each got.

#2364 Fix: Logging buffered default level not required
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging-minimal.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging-minimal.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: type: bug, role: eos_cli_config_gen, state: CI Updated

#2371 Cut(eos_designs): Remove unused overlay jinja2 templates (#2363)
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-vpn-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/address-family-vpn-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ebgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-evpn.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-rtc.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv4.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/address-family-vpn-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/ip-extcommunity-lists.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/peer-groups.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/route-maps.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/ibgp/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-evpn-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-clients.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/logic-mpls-route-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/main.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/overlay/router-bfd.j2
Labels: role: eos_designs

#2372 Fix: Logging buffered default level not required (#2364)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging-minimal.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging-minimal.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#2374 Fix(eos_designs): Replace sorted with natural_sort in overlay/utils.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, role: eos_designs

#2375 Fix(eos_designs): Replace sorted with natural_sort in overlay/utils.py (#2374)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, role: eos_designs

#2379 Feat(eos_cli_config_gen): Add eos_cli key to management_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/management-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/management-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/management-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README_v4.0.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2388 Fix(eos_designs): Handle overlapping VLAN names for l2vlans and vlan-aware-bundles
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2391 Fix(eos_cli_config_gen): Add convert_types to router ospf area id schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated

#2389 Fix(eos_designs): Handle overlapping VLAN names for l2vlans and vlan-aware-bundles (#2388)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-CL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2383 Feat(eos_cli_config_gen): Add arp learning bridged
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-l2-vpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-l2-vpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-l2-vpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-l2-vpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-l2-vpn.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_l2_vpn.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-l2-vpn.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-l2-vpn.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2393 Fix(eos_designs): overlay_rd_type with inline jinja generates incorrect config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
Labels: state: CI Updated

#2384 Refactor(eos_designs): Use natural_sort instead of sorted everywhere
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/vlans.py
Labels: state: CI Updated, role: eos_designs

#2386 Fix(eos_cli_config_gen): Render LLDP commands on ethernet_interfaces also for port-channel members
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#2405 Fix(eos_cli_config_gen): Render LLDP commands on ethernet_interfaces also for port-channel members (#2386)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#2402 Fix(eos_cli_config_gen): Add convert_types to router ospf area id schema (#2391)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated

#2404 Refactor(eos_designs): Use natural_sort instead of sorted everywhere (#2384)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf1b.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/vlans.py
Labels: state: CI Updated, role: eos_designs

#2403 Fix(eos_designs): overlay_rd_type with inline jinja generates incorrect config (#2393)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
Labels: state: CI Updated

#2412 CI: Run pipeline on all branches
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#2378 Doc: Add release notes for 3.8.0
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#2413 CI: Run pipeline on all branches (#2412)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
Labels: type: code quality, state: CI Updated

#2416 Doc: Add release notes for 3.8.0 (#2378)
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#2426 Fix(eos_snapshot): eos snapshot produces incorrect json and yaml output
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/markdown.yml
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_yaml_output.j2
Labels: cherry-pick, role: eos_snapshot

#2408 Fix(eos_cli_config_gen): Workaround for router-general EOS CLI issue
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
Labels: role: eos_cli_config_gen, state: CI Updated, cherry-pick

#2400 Bump: Update ansible-core requirement to ">=2.12.6, <2.15, !=2.13.0"
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/build_output_folders/meta/main.yml
  ansible_collections/arista/avd/roles/cvp_configlet_upload/meta/main.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/meta/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/meta/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/meta/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/meta/main.yml
  ansible_collections/arista/avd/roles/eos_designs/meta/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/meta/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/meta/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.13.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.14.txt
Labels: type: documentation, role: build_output_folders, role: cvp_configlet_upload, role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, type: code quality, role: eos_validate_state, role: dhcp_provisioner, cherry-pick, role: eos_snapshot, role: eos_designs

#2424 Fix(eos_cli_config_gen): Update Schema for OSPF maximum paths from 32 to 128
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick

#2347 Feat(eos_designs): Add per MACVRF EVPN domain scope
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2349 Refactor: Input data conversion to support conversion messages
  ansible_collections/arista/avd/docs/input-variable-validation-BETA.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/validate_and_template.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschema.py
Labels: type: documentation, state: CI Updated

#2422 CI: Fix workflow for devel-push to trigger docker build correctly
  .github/workflows/devel-push.yml
Labels: type: code quality

#2431 CI: Move build of schemas and schema-based docs to precommit
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/build_schemas_and_docs/converge.yml
  ansible_collections/arista/avd/playbooks/_build_schemas_and_docs.yml
Labels: type: code quality, state: CI Updated

#2435 Fix(eos_cli_config_gen): Update Schema for OSPF maximum paths from 32 to 128 (#2424)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick

#2439 Fix(eos_snapshot): Only collect cli-text commands when "text" or "markdown" are selected
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
Labels: role: eos_snapshot, cherry-pick-for-3.8.x

#2436 Fix(eos_cli_config_gen): Workaround for router-general EOS CLI issue (#2408)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/upgrade_v2.x_to_v3.0_evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
Labels: role: eos_cli_config_gen, state: CI Updated, cherry-pick

#2411 Fix(eos_designs): Detect duplicate VLAN, VRF, VNI within network_services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlans.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vrfs.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vxlan_interface.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, cherry-pick-for-3.8.x

#2448 Fix(eos_designs): Renders lacp fallback when port-channel mode is passive
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated, role: eos_designs, cherry-pick-for-3.8.x

#2433 Bump: Support additional ansible-core versions 2.13 and 2.14
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.13.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.14.txt
Labels: type: documentation, type: code quality, cherry-pick

#2449 Fix(eos_designs): Detect duplicate VLAN, VRF, VNI within network_services (#2411)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/IGMP_QUERIER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlans.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vrfs.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vxlan_interface.py
Labels: state: CI Updated, state: Documentation role Updated, cherry-pick, role: eos_designs

#2442 Fix(eos_designs): vtep_vvtep_ip doesn't generate any config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: state: CI Updated, role: eos_designs, cherry-pick-for-3.8.x

#2434 Fix(eos_snapshot): eos snapshot produces incorrect json and yaml output (#2426 & #2429)
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/markdown.yml
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_yaml_output.j2
Labels: cherry-pick, role: eos_snapshot

#2452 Fix(eos_designs): Renders lacp fallback when port-channel mode is passive
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated, cherry-pick, role: eos_designs

#2453 CI: Allow ' and " in PR names
  .github/actions/rn-pr-labeler-action/action.yml
Labels: type: code quality

#2456 CI: Allow ' and " in PR names (#2453)
  .github/actions/rn-pr-labeler-action/action.yml
Labels: type: code quality, cherry-pick

#2455 Fix(eos_designs): vtep_vvtep_ip doesn't generate any config (#2442)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: state: CI Updated, cherry-pick, role: eos_designs

#2454 Fix(eos_designs): Fix issue with hardware_counters python code (#2447)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hardware-counter.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/hardware-counter.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/hardware-counter.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/hardware_counters.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/hardware_counters.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/hardware_counters.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/hardware_counters.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/hardware-counters.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/hardware-counters.j2
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, cherry-pick, role: eos_designs

#2457 Fix(eos_snapshot): Conditional in tasks are not honored and support for limit
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_yaml_output.j2
Labels: type: bug, role: eos_snapshot, cherry-pick-for-3.8.x

#2460 Fix(eos_snapshot): Conditional in tasks are not honored and support for limit (#2457)
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_json_output.j2
  ansible_collections/arista/avd/roles/eos_snapshot/templates/fabric_yaml_output.j2
Labels: cherry-pick, role: eos_snapshot

#2463 Fix(eos_designs): remove speed from port-channel interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/port_channel_interfaces.py
Labels: state: CI Updated, role: eos_designs, cherry-pick-for-3.8.x

#2465 Fix(eos_designs): remove speed from port-channel interfaces (#2463)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/port_channel_interfaces.py
Labels: state: CI Updated, role: eos_designs

#2461 Bump: Release v3.8.1
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.1.yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#2428 Feat(eos_cli_config_gen): Add support for load-interval on Ethernet Interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/README.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/Input Variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2468 Revert(eos_validate_state): Revert removal of error=ignore on lookups
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
Labels: role: eos_cli_config_gen, role: eos_validate_state

#2475 CI: Bump isort to 5.12.0 to address isort issue 2077
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/requirements-dev.txt
Labels: type: documentation, cherry-pick-for-3.8.x
