Repository aristanetworks/avd, pull requests merged in 2023-03, with the labels that each got.

#2588 Doc: release notes 3.8.3
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#2589 Bump: Release v3.8.3
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.3yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#2591 Feat(eos_cli_config_gen): Add support for as-path options for BGP neighbors
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-lite.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-lite.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Routing.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2559 Refactor(eos_designs): router_ospf python_module as per eos_cli_config_gen
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE1.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests_v4.0/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/router_ospf.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/router_ospf.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_ospf.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_ospf.py
Labels: state: CI Updated, role: eos_designs

#2523 Feat(eos_cli_config_gen): extend radius_servers with attribute 32 include in access and dynamic-authorization
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/aaa.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Authentication.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/radius_server.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/radius_servers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/authentication.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/radius-server.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/radius-servers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/radius-server.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2015 Feat(plugins): Automatic requirements check
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/modules/verify_requirements.py
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v1/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/v3/main.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_snapshot/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.12.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.13.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.14.txt
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Labels: role: eos_cli_config_gen, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_validate_state, role: eos_snapshot, role: eos_designs

#2586 Feat(eos_designs): Allow disabling filtering on redist connected in underlay bgp
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1.POD1.LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1-POD1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/configs/DC1.POD1.LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY_FILTER_PEER_AS_L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY_FILTER_PEER_AS_L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/UNDERLAY_FILTER_PEER_AS_L3LEAF1.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/prefix_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2600 Feat(eos_designs): Add support for overlay_routing_protocol CVX
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_CVX_L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_CVX_L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_CVX_L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_CVX_L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/OVERLAY_ROUTING_PROTOCOL_CVX_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-variables.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/management_cvx.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bfd.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2585 Feat(eos_cli_config_gen): Add ipv6 dhcp relay to vlan/ethernet-interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2446 Feat(eos_cli_config_gen): extend dot1x with radius av-pair and mac based authentication.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dot1x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Endpoint Security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2617 Fix(eos_cli_config_gen): min value on local_users privilege
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Authentication.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/local_users.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, cherry-pick-for-3.8.x

#2335 Feat(eos_designs): Add Ipv6 management variables
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_dualstack.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_ipv6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_dualstack.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_ipv6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_dualstack.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/mgmt_interface_ipv6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2469 Feat(eos_designs): Support for custom masks in core_interfaces ip pools
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LSR2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_CORE.yml
  ansible_collections/arista/avd/roles/eos_designs/doc/core-interfaces-BETA.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2613 Feat(eos_cli_config_gen): Deprecation of 'vlan_interfaces.ipv6_address_virtual' (singular)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/group_vars/all.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/molecule.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/verify.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/doc/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlan_interfaces.py
Labels: role: eos_cli_config_gen, type: code quality, state: CI Updated, state: Documentation role Updated, role: eos_designs

#2622 Fix(eos_designs): Add back dir creation wrongly removed by #2015
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
Labels: type: bug, role: eos_designs

#2620 Feat(eos_cli_config_gen): add cvsourceintf flag to TerminAttr
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-extra-flags.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminattr-multi-cluster.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/terminattr-extra-flags.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/terminattr-multi-cluster.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminattr-extra-flags.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminattr-multi-cluster.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Monitoring.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/daemon_terminattr.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/daemon-terminattr.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2628 Fix(eos_designs): Handle overlapping vlan numbers with filter.only_in_use and trunkgroups
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L2LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L3LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/filter.only_vlans_in_use.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_filtered_tenants.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlans.py
Labels: state: CI Updated, role: eos_designs, cherry-pick-for-3.8.x

#2626 Feat(plugins): Add OSPF pasword type 7 to encrypt/decrypt filters
  ansible_collections/arista/avd/plugins/README.md
  ansible_collections/arista/avd/plugins/filter/password.py
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/tests/integration/targets/filter_password/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/filter_password/vars/main.yml
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_password.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/test_password_utils.py
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: Python filters

#2636 Fix(eos_cli_config_gen): Fix documentation template for flow tracking
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-trackings.j2
Labels: role: eos_cli_config_gen, cherry-pick-for-3.8.x

#2641 Fix(eos_designs): Handle overlapping vlan numbers with filter.only_in_use and trunkgroups (#2628)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L2LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/TRUNK_GROUP_TESTS_L3LEAF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/filter.only_vlans_in_use.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_filtered_tenants.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlans.py
Labels: state: CI Updated, cherry-pick, role: eos_designs

#2642 Fix(eos_cli_config_gen): Fix documentation template for flow tracking…
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-trackings.j2
Labels: role: eos_cli_config_gen, cherry-pick

#2644 Fix(eos_cli_config_gen): Update radius-server and radius-servers to match EOS behavior (#2615)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/upgrade_eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/radius-servers.j2
Labels: role: eos_cli_config_gen, state: CI Updated, cherry-pick

#2648 Fix(eos_designs): Configure ptp to use the system mac (#2647)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
Labels: state: CI Updated, cherry-pick

#2649 Doc: release notes v3.8.4
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
Labels: type: documentation

#2650 Bump: Release v3.8.4
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.3.yml
  ansible_collections/arista/avd/changelogs/fragments_backup/v3.8.4.yml
  ansible_collections/arista/avd/docs/release-notes/3.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation

#2536 Doc: Navigation fix and bump mkdocs-material version
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/requirements.txt
  development/docker-compose.yml
  mkdocs.yml
Labels: type: documentation, type: dependencies, type: code quality

#2560 Feat(eos_cli_config_gen): Global IP Locking Configuration Options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/address-locking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/address-locking.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Address Locking.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/address_locking.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/address-locking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/address-locking.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2575 Refactor(plugins): Optimize loading of schemas
  ansible_collections/arista/avd/plugins/action/batch_template.py
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/validate_and_template.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/filter/convert_schema.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/modules/validate_and_template.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avddataconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschema.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtodocumentationschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtojsonschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/default_schemas.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/refresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/store.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Hardware.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/_defaults.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tcam_profile.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/avd_schema_documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/_defaults.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-documentation.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/build-schemas.yml
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/avd_schema_documentation.j2
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/test_avdschema.py
Labels: role: eos_cli_config_gen, state: Documentation role Updated, type: Python filters, role: eos_designs

#2594 Test: Bump ansible-lint to 6.14 and remove unacceptable ignores
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/verify.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/verify.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/verify.yml
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/roles/eos_designs/python_modules/custom_structured_configuration/avdstructuredconfig.py
  ansible_collections/arista/avd/tests/sanity/ignore-2.12.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.13.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.14.txt
Labels: type: code quality, state: CI Updated, role: eos_designs

#2658 Fix(eos_designs): Avoid configuring trunk-group twice on mlag peer-link if using the same name
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/trunk-group-tests-l3leaf2b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/trunk-group-tests-l3leaf2b.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/trunk-group-tests-l3leaf2b.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/mlag/avdstructuredconfig.py
Labels: state: CI Updated, role: eos_designs

#2657 Feat(eos_cli_config_gen): Add support for CVX as VXLAN controller
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vxlan-interface.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vxlan-interface.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/cvx.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Authentication.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/cvx.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vxlan_interface.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/cvx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vxlan-interface.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/cvx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vxlan-interface.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2519 Feat(eos_designs): Schema for platforms
  ansible_collections/arista/avd/roles/eos_designs/docs/Platform Specific Settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_speed_groups.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/redundancy.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2509 Feat(eos_designs): Schema for CVP
  ansible_collections/arista/avd/roles/eos_designs/docs/Management Settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cvp_ingestauth_key.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cvp_instance_ip.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cvp_instance_ips.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cvp_token_file.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/terminattr_disable_aaa.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/terminattr_ingestexclude.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/terminattr_ingestgrpcurl_port.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/terminattr_smashexcludes.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2639 Feat(eos_cli_config_gen): Enable redistribution of leaked (static, connected, bgp) routes into OSPF
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE1.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_v4.0/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Routing.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_ospf.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-ospf.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-ospf.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2674 Fix(eos_designs): Raise correct error message for duplicate port-channels
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EOS_DESIGNS_FAILURES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/failure-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/verify.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated, role: eos_designs

#2564 Feat(eos_cli_config_gen): Add address locking options on ethernet interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/address-locking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/address-locking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/address-locking.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/data_model/Interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/address-locking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#2514 Feat(eos_designs): Schema for evpn
  ansible_collections/arista/avd/roles/eos_designs/docs/Fabric Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_ebgp_gateway_multihop.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_ebgp_multihop.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_hostflap_detection.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_import_pruning.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_multicast.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_overlay_bgp_rtc.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_prevent_readvertise_to_server.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_short_esi_prefix.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_vlan_aware_bundles.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema

#2645 Feat(eos_designs): Add support for serial_number
  ansible_collections/arista/avd/examples/campus-fabric/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/l2ls-fabric/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/doc/fabric-topology.md
  ansible_collections/arista/avd/roles/eos_designs/doc/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/Fabric Topology.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/node_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#2677 Fix(eos_designs): Change IP addressing templates from ansible netcommon to ansible.utils
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/p2p-uplinks-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/router-id-ipv6.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/vtep-ip-mlag.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/ip_addressing/vtep-ip.j2
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/avd-v2-spine-p2p-uplinks-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/avd-v2-spine-p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip.j2
Labels: state: CI Updated, role: dhcp_provisioner, role: eos_designs

#2515 Feat(eos_designs): Schema for isis
  ansible_collections/arista/avd/roles/eos_designs/docs/Fabric Variables.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_advertise_passive_only.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_area_id.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_default_circuit_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_default_is_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_default_metric.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/isis_ti_lfa.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD Schema
