Repository aristanetworks/avd, pull requests merged in 2024-12, with the labels that each got.

#4767 Feat(eos_cli_config_gen): Added support for DHCP client accept default route feature in port-channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4764 Fix(eos_validate_state): Fix the DHCP not recognized error for STUN and Connectivity tests
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3a.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3b.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/DC1_WAN.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/mixins.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestconnectivity.py
Labels: role: eos_validate_state, state: CI Updated, one approval

#4636 Refactor(eos_cli_config_gen): Improve the aaa accounting j2 template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4765 Fix(eos_cli_config_gen): Fix the invalid configuration of vpn-route in export direction for router bgp vrf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4797 CI: Update CI artifacts and run CVP molecule for all changes
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/MOLECULE_SCENARIOS.txt
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3B.md
Labels: type: code quality, state: CI Updated, one approval

#4777 Fix(eos_designs): Support of validate_lldp key in structured config
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/CONNECTED_ENDPOINTS.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated

#4793 CI: Bump galaxy-importer 4.26
  .github/workflows/pull-request-management.yml
Labels: type: code quality, one approval

#4748 Refactor(eos_cli_config_gen): Update eos template to validate `type` key defined in `aaa_server_group` model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-ldap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-radius.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-tacacs-plus.j2
Labels: state: CI Updated

#4806 Doc(eos_cli_config_gen): Improve snmp server documention
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Labels: role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs, one approval

#4782 Feat(eos_cli_config_gen): Add support for 'cipher v1.0' and 'cipher v1.3' under management_security.ssl_profiles
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site3-wan1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4784 Feat(eos_designs): Relax mode in structured config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/relaxed-structured-config-validation.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/relaxed-structured-config-validation.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/relaxed-structured-config-validation.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/access_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_peer_groups.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_schema/avd_meta_schema.json
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/schema_tools/metaschema/resolvemodel.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4612 Feat(eos_designs): Improve `ptp` settings for `p2p_links`
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-p2p-links-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_isis.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_ospf.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_isis.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-spine2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4804 Feat(eos_designs): Added support to set RCF for peer group in router bgp address family IPv4/IPv6
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4634 Feat(eos_cli_config_gen): Add support for global MPLS RSVP
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/p4.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls-3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls-3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/loopbacks-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE3-LER1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mpls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-and-ldp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-rsvp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mpls.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4795 Refactor(plugins): Improve schema models
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/_eos_designs/shared_utils/link_tracking_groups.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/custom_structured_configuration/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/struct_cfgs.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/_schema/coerce_type.py
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_list.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_designs_class.py
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4174 Feat(eos_cli_config_gen): Add switchport 'tap' and 'tool' mode config to the ethernet and port-channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4803 Feat(eos_cli_config_gen): Added support for IP locking enforcement disabled and address family IPv4/IPv6
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlans.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlans.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlans.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlans.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4836 Fix(cv_deploy): Ignore missing structured config files
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/cv_workflow.md
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-core1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-spine1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/avd-ci-spine2.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
Labels: type: documentation, state: CI Updated
