Repository aristanetworks/avd, pull requests merged in 2024-06, with the labels that each got.

#4048 CI: [labeler] Update labeler with v5 updates
  .github/labeler.yml
  .github/workflows/pull-request-triage.yml
Labels: type: code quality, one approval

#4053 Feat(eos_designs): Disable per interface MTU for 7010TX
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/7010TX-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/7010TX-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/7010TX-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/7010TX-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PLATFORM_SETTINGS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/platform.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4028 Feat(eos_cli_config_gen): Add support for MACsec fallback to unprotected traffic
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mac-security-eth-po-entropy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/mac_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4046 Fix(eos_designs): core_interfaces generates invalid config if ASN is not defined for the p2p_links/p2p_links_profiles
  .github/requirements-ci.txt
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/core-interfaces-p2p-links-as.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
Labels: type: bug, type: code quality, state: CI Updated, role: eos_designs

#4067 Doc: Minor updates to Development Tooling guide.
  ansible_collections/arista/avd/docs/contribution/development-tooling.md
Labels: type: documentation

#4063 Feat(eos_cli_config_gen): Add Patch-Panel Connector commands
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/patch-panel.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/patch-panel.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/patch_panel.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4066 CI: Remove unexpected named argument 'pattern'
  python-avd/schema_tools/metaschema/meta_schema_model.py
Labels: one approval

#4049 Fix(eos_validate_state): Update error message when a device does not have httpapi _sub_plugin
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
Labels: one approval, EPIC - eos_validate_state ANTA

#4074 Test(eos_designs): Have multiple wan_route_servers on one edge device for idempotency
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
Labels: state: CI Updated

#4078 Refactor(eos_cli_config_gen): Addressed missed comments for patch-panel
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/patch-panel.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/patch_panel.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/patch-panel.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4084 CI: Ignored warning of useless object instantiation of "Tablesort"
  ansible_collections/arista/avd/docs/stylesheets/tables.js
Labels: type: documentation, one approval

#4068 Refactor(plugins): Move jinja filter code for arista.avd.natural_sort to PyAVD
  ansible_collections/arista/avd/plugins/filter/default.py
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/tests/unit/filters/test_natural_sort.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Labels: filter: natural_sort, type: Python filters

#4033 Feat(eos_cli_config_gen): Add support for 'no bgp redistribute-internal'
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4050 Feat(eos_designs): Allow reuse of cross-device BGP peer ip
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-peer-ip-address-network-services.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4076 Doc: Update installation guide with PyAVD
  ansible_collections/arista/avd/docs/installation/collection-installation.md
Labels: type: documentation, one approval

#4087 Feat(containers): switch to pyavd and editable install for container build
  .github/workflows/container_build_base.yml
  .github/workflows/container_build_dev.yml
  .github/workflows/container_build_template.yml
  .github/workflows/container_build_universal.yml
  containers/dev/.devcontainer/entrypoint.sh
  containers/universal/.devcontainer/Dockerfile
  containers/universal/.devcontainer/devcontainer.json
Labels: type: code quality, one approval

#4069 Refactor(plugins): Move jinja filter code for arista.avd.convert_dicts to PyAVD
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/tests/unit/filters/test_convert_dicts.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
Labels: type: Python filters

#4034 Feat(eos_cli_config_gen): Add support for Router BGP - Missing policy direction and decision
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4023 Feat(eos_cli_config_gen): Add support for dot1x captive portal and supplicant commands
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dot1x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dot1x.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4055 Fix(eos_cli_config_gen): Fix the templates for event-handlers
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
Labels: role: eos_cli_config_gen, state: CI Updated

#4054 Fix(eos_cli_config_gen): BGP models has supress-map which is not present in EOS commands.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4099 Refactor(plugins): Move jinja filter code for arista.avd.list_compress to PyAVD
  ansible_collections/arista/avd/plugins/filter/list_compress.py
  ansible_collections/arista/avd/tests/unit/filters/test_list_compress.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/list_compress.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_list_compress.py
Labels: filter: list_compress, type: Python filters, one approval

#4101 Refactor(plugins): Move jinja filter code for arista.avd.generate_route_target to PyAVD
  ansible_collections/arista/avd/plugins/filter/generate_route_target.py
  ansible_collections/arista/avd/tests/unit/filters/filter_utils.py
  ansible_collections/arista/avd/tests/unit/filters/test_esi_management.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/generate_route_target.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_generate_route_target.py
Labels: type: Python filters, one approval

#4090 Fix(cv_deploy): Improve SWG API handling for Zscaler internet exit
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/configlet.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/inventory.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/studio.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/tag.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/workspace.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils_zscaler.py
Labels: role: eos_designs, rn: Fix(cv_deploy)

#4104 Refactor(plugins): Move jinja filter code for arista.avd.add_md_toc to PyAVD
  .github/.markdownlintignore
  ansible_collections/arista/avd/plugins/filter/add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  python-avd/Makefile
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/j2filters/add_md_toc.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_add_md_toc.py
  python-avd/tests/pyavd/j2filters/toc_files/expected_output_toc_at_bottom.md
  python-avd/tests/pyavd/j2filters/toc_files/expected_toc.md
  python-avd/tests/pyavd/j2filters/toc_files/invalid_file.md
  python-avd/tests/pyavd/j2filters/toc_files/markers_at_bottom.md
  python-avd/tests/pyavd/j2filters/toc_files/valid_file.md
Labels: type: code quality, type: Python filters, one approval

#4109 Feat(eos_cli_config_gen): Adding option for arp cache persistent and arp persistent refresh-delay
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/arp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/arp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/arp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/arp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/arp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/arp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/arp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4075 Feat(eos_cli_config_gen): Support of static IPv6 neighbor entries
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ipv6-neighbors.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ipv6-neighbors.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ipv6-neighbors.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ipv6_neighbors.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/routing.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ipv6-neighbors.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4097 Fix: Adjust inventory group names in molecule tests to follow Ansible guidelines
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/DUPLICATE_IP_ADDRESS_ROUTER_BGP.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/DUPLICATE_VLANS_MLAG.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_DUPLICATE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_DOWNLINK_POOLS_MISSING.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_INVALID_UPLINK_PORT_CHANNEL_ID_3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_ODD_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-uplink-type-p2p-vrfs-underlay-router-false.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-wan-role-overlay-routing-protocol.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mlag-peer.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_CUSTOM_CONTROL_PLANE_POLICY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#4107 Fix(eos_designs)!: Remove eBGP LAN outbound route-map for WAN
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/route_maps.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4116 Fix(eos_designs): Address ipv4_acl_in/out not working for WAN l3 subinterfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ipv4-acls.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ipv4-acls.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: state: CI Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4114 Refactor(plugins): Move jinja filter code for arista.avd.generate_esi to PyAVD
  ansible_collections/arista/avd/plugins/filter/generate_esi.py
  ansible_collections/arista/avd/tests/unit/filters/test_esi_management.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/generate_esi.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_generate_esi.py
  python-avd/tests/pyavd/j2filters/test_generate_route_target.py
Labels: type: Python filters, one approval

#4110 Refactor(eos_designs): Move eos_designs_facts to PyAVD
  .github/requirements-ci-anta.txt
  .github/requirements-ci.txt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/mlag.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/utils.py
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/mlag.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/overlay.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/short_esi.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/wan.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/j2filters/generate_esi.py
Labels: type: documentation, type: code quality, role: eos_validate_state

#4093 Feat(eos_designs): Allow 'evpn_vlan_bundle' to be set up at tenant level
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_vlan_bundle.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_vlan_bundle.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/filtered_tenants.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4126 Refactor(eos_designs): Move eos_designs_shared_utils to PyAVD
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/action/yaml_templates_to_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/avdfacts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/MOVED_TO_PYAVD.txt
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/__init__.py
  python-avd/Makefile
  python-avd/pyavd/_eos_designs/interface_descriptions/models.py
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/bgp_peer_groups.py
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
  python-avd/pyavd/_eos_designs/shared_utils/interface_descriptions.py
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
  python-avd/pyavd/_eos_designs/shared_utils/l3_interfaces.py
  python-avd/pyavd/_eos_designs/shared_utils/link_tracking_groups.py
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/node_type.py
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/platform.py
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/shared_utils/switch_data.py
  python-avd/pyavd/_eos_designs/shared_utils/underlay.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/validate_inputs.py
Labels: type: documentation, one approval

#4131 Refactor(plugins): Move jinja test code for arista.avd.contains to PyAVD
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/test/contains.py
  python-avd/Makefile
  python-avd/pyavd/j2tests/contains.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2tests/test_contains.py
Labels: one approval

#4129 CI: Parallelize tox runs in Github Actions
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/host_vars/cv_server.yml
  python-avd/pyproject.toml
  python-avd/schema_tools/generate_docs/mdtabsgen.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/tox.ini
Labels: type: code quality, state: CI Updated, one approval

#3362 Doc: Minor grammar edits.
  README.md
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/getting-started/intro-to-ansible-and-avd.md
Labels: type: documentation, one approval

#4136 Refactor(plugins): Move jinja filter code for arista.avd.snmp_hash to PyAVD
  ansible_collections/arista/avd/plugins/filter/snmp_hash.py
  ansible_collections/arista/avd/tests/unit/filters/test_snmp_hash.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/j2filters/snmp_hash.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_snmp_hash.py
Labels: type: Python filters

#4121 Feat(eos_designs): Enforce unicity of region IDs and per-region site IDs for CV Pathfinder
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_pathfinder_regions.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_schema/avd_meta_schema.json
Labels: EPIC - AVD AutoVPN/WAN, one approval

#4123 Feat(eos_validate_state): Add support for ANTA v1.0.0
  .github/requirements-ci-anta.txt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/eos_validate_state_reports.md
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/eos_validate_state_runner.md
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/plugins/action/eos_validate_state_runner.py
  ansible_collections/arista/avd/plugins/modules/eos_validate_state_reports.py
  ansible_collections/arista/avd/plugins/modules/eos_validate_state_runner.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/get_anta_results.py
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
  ansible_collections/arista/avd/roles/eos_validate_state/defaults/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtesthardware.py
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/anta_tests.yml
  mkdocs.yml
Labels: type: documentation, type: code quality, role: eos_validate_state, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - eos_validate_state ANTA

#4135 Refactor(plugins): Move jinja filter code for arista.avd.encrypt and arista.avd.decrypt to PyAVD
  .pre-commit-config.yaml
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
  python-avd/Makefile
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/pyavd/_utils/password_utils/password_utils.py
  python-avd/pyavd/j2filters/decrypt.py
  python-avd/pyavd/j2filters/encrypt.py
  python-avd/pyavd/templater.py
  python-avd/pyproject.toml
  python-avd/requirements.txt
  python-avd/tests/pyavd/j2filters/test_decrypt.py
  python-avd/tests/pyavd/j2filters/test_encrypt.py
  python-avd/tests/pyavd/utils/password/test_password.py
  python-avd/tests/pyavd/utils/password/test_password_utils.py
Labels: type: Python filters

#4128 Feat(eos_cli_config_gen): Add support for permit response traffic nat under ip acls
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/acl.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/acl.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/acl.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/access-lists.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/access_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4142 Refactor(plugins): Move jinja filter code for arista.avd.status_render to PyAVD
  ansible_collections/arista/avd/plugins/filter/status_render.py
  ansible_collections/arista/avd/tests/unit/filters/filter_utils.py
  ansible_collections/arista/avd/tests/unit/filters/test_markdown_rendering.py
  python-avd/Makefile
  python-avd/pyavd/j2filters/status_render.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_status_render.py
Labels: type: Python filters, one approval

#4138 Refactor(plugins): Move jinja filter code for arista.avd.range_expand to PyAVD
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  python-avd/Makefile
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/ip_addressing/utils.py
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/vlans.py
  python-avd/pyavd/j2filters/range_expand.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2filters/test_range_expand.py
Labels: type: Python filters, one approval

#4145 CI: Fix sonarcloud error
  .sonarcloud.properties
Labels: rn: CI

#4143 Refactor(plugins): Move jinja test code for arista.avd.defined to PyAVD
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/test/defined.py
  python-avd/pyavd/j2tests/defined.py
  python-avd/pyavd/templater.py
  python-avd/tests/pyavd/j2tests/test_defined_plugin.py
Labels: one approval

#4122 Feat(eos_cli_config_gen): Support of BGP default-originate per VRF #3941
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4125 Doc: Added the table of WAN validation
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval, EPIC - eos_validate_state ANTA

#3417 Doc: Semantic Versioning
  ansible_collections/arista/avd/docs/semantic-versioning.md
  mkdocs.yml
Labels: type: documentation

#4147 Refactor: Move requirements to PyAVD
  Makefile
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/requirements.txt
  python-avd/.gitignore
  python-avd/Makefile
  python-avd/pyproject.toml
  python-avd/requirements.txt
Labels: type: documentation

#4092 Doc: add CVaaS regional URLs to cv_deploy
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/cv_workflow.md
  ansible_collections/arista/avd/docs/templates/plugin-docs.j2
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/docs/avd-to-cvaas.md
Labels: type: documentation, role: eos_config_deploy_cvp, state: Documentation role Updated

#3950 Refactor(cv_deploy): Optimize creation of configlet containers
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_studio_inputs_to_cv.py
Labels: one approval

#4161 Fix(eos_cli_config_gen): Fix MSDP template typo for sa_filter.out_list
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-msdp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-msdp.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-msdp.j2
Labels: state: CI Updated

#4162 CI: Trigger eos_cli_config_gen molecule when templates are changed
  .github/workflows/pull-request-management.yml
Labels: type: code quality
