Repository aristanetworks/avd, pull requests merged in 2024-05, with the labels that each got.

#3878 Feat(eos_cli_config_gen): Enhance event-handlers model to accommodate other triggers with their specificities.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/event-handlers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/event_handlers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3921 Fix(eos_designs): Make WAN RRs route-reflector clients of each other
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-rr1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-rr2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-rr1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-rr2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
Labels: state: CI Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3244 Feat(plugins): Support braces in range_expand filter
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/range_expand.md
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_range_expand.py
  python-avd/pyavd/templater.py
Labels: type: documentation, type: Python filters

#3938 Fix: Fixing event-handlers in eos_designs_unit_tests molecule scenario.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
Labels: state: CI Updated, one approval

#3798 Feat(eos_cli_config_gen): Implement managing RCF.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-general.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-general.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-general.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-general.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_general.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-general.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3948 Fix(eos_designs): Wrong IPsec profile name for Zscaler
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tunnel-interface-internet-exit.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
Labels: state: CI Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3946 Fix(plugins): Fix cv_zscaler_endpoints lookup plugin
  ansible_collections/arista/avd/plugins/lookup/cv_zscaler_endpoints.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/api/arista/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/api/arista/swg/v1/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/extra_cv_protos/arista/swg.v1/services.gen.proto
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
  ansible_collections/arista/avd/tests/integration/targets/cv_zscaler_endpoints/tasks/main.yml
Labels: EPIC - AVD AutoVPN/WAN

#3923 Refactor(pyavd): Lazy imports of vendored code
  Makefile
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/templater.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validation_result.py
Labels: one approval

#3956 Fix(cv_deploy): Fix internet exit metadata
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
Labels: EPIC - AVD AutoVPN/WAN, one approval

#3949 Fix(eos_designs): Sanitize interface name in STUN profile name
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-custom-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-no-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-custom-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_MULTI_RR_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
Labels: state: CI Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3912 Feat(eos_cli_config_gen): Add support for isis spf-interval hold timer.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-new.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_isis.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-isis.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3887 Feat(eos_designs): IPv4/IPv6 address-family configuration for bgp_peer_groups defined under network services.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3937 Test: Ipv6 logging
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
Labels: state: CI Updated

#3934 Bump(requirements): Support newer jsonschema versions
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/plugins/filter/add_md_toc.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avd_meta_schema.json
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdtodocumentationschemaconverter.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdvalidator.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/refresolver.py
  ansible_collections/arista/avd/plugins/plugin_utils/schema/store.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements-minimum.txt
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/_defaults.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/_defaults.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/bgp_peer_groups.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_adapter_config.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_p2p_links.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_virtual_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/wan_virtual_topologies.schema.yml
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/schema/test_avdschema.py
  python-avd/pyproject.toml
  python-avd/requirements.txt
  python-avd/schema_tools/metaschema/resolvemodel.py
  python-avd/tests/pyavd/eos_cli_config_gen/test_validate_structured_config.py
  python-avd/tests/pyavd/eos_designs/test_validate_structured_config.py
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
  python-avd/tox.ini
Labels: type: documentation, role: eos_cli_config_gen, type: code quality, type: Python filters, role: eos_designs, one approval

#3961 Fix(eos_designs): Remove the remaining trailing slashes in schema
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschemaresolver.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  python-avd/scripts/build-schemas.py
Labels: role: eos_cli_config_gen, role: eos_designs

#3955 Doc: Updated the documentation for IPv4 ACL
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3944 Feat(eos_cli_config_gen): Support for configuring logging level facilities
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/logging.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/logging.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/logging.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3962 CI: Update dependabot, try to ignore minimum file
  .github/dependabot.yml
Labels: type: code quality

#3971 CI: Build minimum requirements dynamically
  .github/workflows/pull-request-management.yml
  .gitignore
  ansible_collections/arista/avd/requirements-minimum.txt
Labels: type: code quality

#3819 Feat(eos_cli_config_gen): Option to set RCF route bgp address-family vpn-ipv6/ipv4 and redistribute.
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vpn-ipv4-vpn-ipv6.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vpn-ipv4-vpn-ipv6.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vpn-ipv4-vpn-ipv6.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-RR1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-RR1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3916 Feat(eos_designs): Extend the functionality of the is_deployed flag to shutdown BGP peerings.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3782 Feat(eos_cli_config_gen): Add router segment security
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-segment-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-segment-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-segment-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-segment-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_segment_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-segment-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-segment-security.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3814 Feat(eos_cli_config_gen): Option to set RCF address-family ipv4, ipv6 and evpn
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3821 Feat(eos_cli_config_gen): Option to set RCF for route bgp ipv4/ipv6 mulit-cast and VRF
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-vpn-import-pruning.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-vpn-import-pruning.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3791 Feat(eos_designs): Add support for ipv4_acl_in/out on SVIs defined under network services.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_access_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/vlan_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_svi_settings.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/ipv4_acls.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#3979 CI: Add PR review/testing comment with links
  .github/workflows/pull-request-comment.yml
Labels: type: code quality

#3980 CI: PR Comment only on open
  .github/workflows/pull-request-comment.yml
Labels: type: code quality

#3935 Feat(eos_cli_config_gen): Support additional options for IPv6 ND under SVIs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3705 Feat(eos_cli_config_gen): Add InfluxDB support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-telemetry-influx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-telemetry-influx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-telemetry-influx.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-influx.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_influx.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-telemetry-influx.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-telemetry-influx.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3984 Fix(eos_designs): WAN Internet-exit fixes for Zscaler integration
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_security.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
Labels: state: CI Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3977 Refactor(eos_designs): Source more Zscaler metadata from lookup plugin
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tunnel-interface-internet-exit.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/lookup/cv_zscaler_endpoints.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-pathfinder-internet-exit-policies.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/zscaler-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/metadata.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_regions.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/zscaler_endpoints.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3992 Doc: Move documentation of mlag_ibgp_peering_vrfs to network services section.
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/mlag_ibgp_peering_vrfs.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4005 Fix(eos_cli_config_gen): Missing variable protection in Jinja Templates.
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/mac-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, one approval

#3989 Doc: Fix examples for connected endpoints using deprecated data-model in input-varaibles.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: state: Documentation role Updated, role: eos_designs, one approval

#3990 Feat(eos_cli_config_gen): Add support for L2 in-place adjacency replacement (IAR)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4003 Feat(eos_cli_config_gen): Add transceiver.frequency under ethernet_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4010 Doc(eos_designs): Fix indentation in WAN how-to
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Labels: state: Documentation role Updated, role: eos_designs

#4017 Feat(eos_cli_config_gen): Add option for dot1x aaa accounting update interval <x> seconds.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3991 Feat(eos_cli_config_gen): Support logging transceiver in monitor layer1
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-layer1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-layer1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-layer1.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-layer1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_layer1.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-layer1.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-layer1.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4007 Fix(eos_cli_config_gen): Fix the schema and template for action in event-handler.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/event-handlers.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/event-handlers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/event_handlers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4013 Feat(plugins): Revert support braces in range_expand filter (#3244)"
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/range_expand.md
  ansible_collections/arista/avd/plugins/filter/range_expand.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/filter/test_range_expand.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_range_expand.py
  python-avd/pyavd/templater.py
Labels: type: documentation, type: Python filters, one approval

#3853 Feat(eos_cli_config_gen): Add support for BGP TCP AO.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4020 Fix(eos_designs): Connected endpoints ESI should only be configured on EVPN VTEPs.
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/utils.py
Labels: state: CI Updated, role: eos_designs, one approval

#4021 Refactor(eos_designs): Minor code adjustments caught by latest pylint
  .pre-commit-config.yaml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/underlay/utils.py
Labels: role: eos_designs, one approval

#4026 Feat(eos_cli_config_gen): Add Regex pattern for region/zone/site name for router_adapative_virtual_topology
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_adaptive_virtual_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_regions.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4018 Feat(eos_cli_config_gen): Support for MSS Clamping on ethernet interfaces.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3927 Bump(requirements): Set minimum ansible-core version to 2.15.x and maximum to 2.17.x
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/intended/structured_configs/duplicate-ip-address-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/intended/structured_configs/duplicate-ip-address-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements-dhcp.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Labels: type: documentation, type: code quality, state: CI Updated

#3952 Feat(eos_designs): Add support for local internet exit
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/l3_interfaces.py
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-pathfinder-internet-exit-policies.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ethernet_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_access_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_nat.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_internet_exit.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/overlay/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type_l3_interfaces.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3895 Feat(eos_cli_config_gen): Add support for copp policy-maps.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/policy-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/policy-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/policy-maps.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/policy-maps.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/policy_maps.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-copp.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/quality-of-service.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-copp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3993 Feat(eos_cli_config_gen): Add DHCP server options for TFTP and DNS
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-servers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-servers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dhcp-servers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dhcp_servers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/dhcp-server.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dhcp-servers.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3986 Fix(cv_deploy): Detect pathfinder metadata studio version and skip unsupported fields
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/studio.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get.py
Labels: EPIC - AVD AutoVPN/WAN

#3861 Test: Molecule test for cv_deploy
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/ci-s1-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/ci-s1-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-spine1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/base_configs/ci-s1-spine2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-core1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-missing.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-spine1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_configs/ci-s1-spine2.yml
  ansible_collections/arista/avd/molecule/cv_deploy/inventory/inventory.yml
  ansible_collections/arista/avd/molecule/cv_deploy/molecule.yml
Labels: state: CI Updated

#4035 CI: Remove special requirements for dhcp molecule scenario
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/requirements-dhcp.txt
Labels: type: code quality

#4036 Bump: Release 4.8.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.8.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  python-avd/pyavd/__init__.py
Labels: type: documentation

#4039 Doc: Fix mkdocs broken requirement links in roles
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  mkdocs.yml
Labels: role: cvp_configlet_upload, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: eos_validate_state, role: dhcp_provisioner, state: Documentation role Updated, role: eos_snapshot

#4040 Feat(eos_designs): Add support for 'uplink_mtu' under node config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3642 Feat(eos_cli_config_gen): Add support for Postcard telemetry
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-telemetry-postcard-policy.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-telemetry-postcard-policy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-postcard-policy.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-telemetry-postcard-policy.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitoring.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-telemetry-postcard-policy.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4029 Feat(eos_cli_config_gen): Add option for `ospf_type` when redistributing OSPF into BGP
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4051 Bump(pyavd): Add support for Python 3.9 in PyAVD
  .github/workflows/pull-request-management.yml
  python-avd/pyproject.toml
  python-avd/tests/schema_tools/generate_docs/test_mdtabsgen.py
  python-avd/tests/schema_tools/metaschema/test_meta_schema_model.py
  python-avd/tox.ini
Labels: type: code quality

#3766 Doc: Contribution Guide Updates
  .pre-commit-config.yaml
  Dockerfile
  Makefile
  ansible_collections/arista/avd/docs/contribution/development-tooling.md
  ansible_collections/arista/avd/docs/contribution/development.md
  ansible_collections/arista/avd/docs/contribution/getting-started.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  ansible_collections/arista/avd/docs/contribution/setup-environment.md
  ansible_collections/arista/avd/docs/contribution/setup-git.md
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/molecule/Makefile
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  development/Makefile
  development/README.md
  development/docker-compose.yml
  development/docker-stack.env
  development/install.sh
  development/requirements-dev.txt
  development/requirements.txt
  mkdocs.yml
Labels: type: documentation, type: dependencies, role: eos_config_deploy_cvp, type: code quality, state: CI Updated, state: Documentation role Updated

#3911 Feat(eos_validate_state): Added the validation for IP security connections
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/constants.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestsecurity.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#4044 Doc: Add notes about using cv_deploy for CV Pathfinder
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#4027 Feat(eos_designs): Add platform settings for WAN devices
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/platform.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4045 Fix(eos_designs): Inband mgmt route-map and prefix-list should not be applied without overlay_routing_protocol
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-LEAF2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/BGP-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/ISIS-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/ISIS-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-LEAF2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/L2ONLY-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-LEAF2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/BGP-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/ISIS-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/ISIS-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/L2ONLY-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/L2ONLY-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/L2ONLY-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/L2ONLY-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/BGP-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/ISIS-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/ISIS-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/L2ONLY-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/L2ONLY-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/L2ONLY-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/L2ONLY-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/BGP_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/ISIS_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2ONLY_LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/OSPF_LEAFS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/inband_management/avdstructuredconfig.py
Labels: state: CI Updated, role: eos_designs, one approval

#4047 Refactor(plugins): Move jinja filter code for `arista.avd.default` to PyAVD
  .github/requirements-ci.txt
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/plugins/filter/default.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/filtered_tenants.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
  ansible_collections/arista/avd/tests/unit/filters/test_default.py
  python-avd/Makefile
  python-avd/pyavd/__init__.py
  python-avd/pyavd/j2filters/default.py
  python-avd/pyavd/templater.py
  python-avd/pyproject.toml
  python-avd/scripts/custom_build_backend.py
  python-avd/tests/pyavd/j2filters/test_default.py
Labels: type: code quality, role: eos_validate_state, type: Python filters

#4059 Doc(eos_cli_config_gen): Include docs for router segment-security
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated
