Repository aristanetworks/avd, pull requests merged in 2024-04, with the labels that each got.

#3795 Doc(plugins): Fix wrong module name in eos_designs_structured_config module doc
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/eos_designs_structured_config.md
  ansible_collections/arista/avd/plugins/modules/eos_designs_structured_config.py
Labels: type: documentation

#3801 CI: Move offline links checker to daily scheduled workflow
  .github/workflows/offline-links-check.yml
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#3745 Feat(eos_cli_config_gen): Add eos_cli support under router_isis.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_isis.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-isis.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3808 Test: Add connected endpoint tests for custom templates and fix typo
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
Labels: state: CI Updated

#3803 Refactor(plugins): Update cv_client to use SetSome for topology studio inputs
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/studio.py
Labels: one approval

#3673 Feat(eos_cli_config_gen): Add support for raw `eos_cli` under `router_bgp`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3657 Feat(eos_cli_config_gen): Adding 'ip igmp host-proxy' interface support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ethernet_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/port_channel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/vlan_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/vlan-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3817 CI: Update CI Action Node.js 16 -> Node.js 20
  .github/workflows/installation-test.yml
  .github/workflows/offline-links-check.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-rn-labeler.yml
Labels: type: code quality

#3681 Feat(eos_cli_config_gen): add hardware flow tracking standard record format support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/flow-tracking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/flow-tracking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/flow-tracking.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/flow_tracking.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/flow-tracking.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/flow-tracking.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#3757 Feat(eos_cli_config_gen): Add router service-insertion subcommands for Internet Exit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-service-insertion.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-service-insertion.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-service-insertion.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-service-insertion.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_service_insertion.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-service-insertion.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-service-insertion.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3818 Fix(eos_designs): Fix code error for monitor_sessions for network_ports
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-sessions-mismatch-direction.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/monitor_sessions.py
Labels: state: CI Updated, role: eos_designs

#3813 Fix(dhcp_provisioner): Support custom `node_type_keys` as a list of dicts.
  ansible_collections/arista/avd/molecule/dhcp_provisioning/converge.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/create.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/custom_avd3_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/custom_avd4_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/default_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/custom_avd3_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/custom_avd4_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/default_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_CUSTOM_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/molecule.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Labels: state: CI Updated, role: dhcp_provisioner, one approval

#3828 CI: Run offline checker only on aristanetworks/avd repo
  .github/workflows/offline-links-check.yml
Labels: type: code quality

#3693 Feat(eos_designs): Added for L3LS P2P addressing via Spine using "downlink_pools" data model
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/fabric_downlink_pools_duplicate.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/fabric_downlink_pools_missing.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-l3leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-l3leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-l3leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-l3leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/downlink-pools-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-l3leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-l3leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-l3leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-l3leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/downlink-pools-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DOWNLINK_POOLS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/eos_designs_facts.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/short_esi.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/uplinks.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_facts/wan.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/ip_addressing.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/misc.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/avdipaddressing.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3500 Test: New cvp integration molecule test
  ansible_collections/arista/avd/molecule/cv_workflow/Readme.md
  ansible_collections/arista/avd/molecule/cv_workflow/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_workflow/converge.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/base_configs/ci-s1-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/change_tags/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/dotted_hostname/reset_dotted_hostname/ci-s1-leaf.1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/dotted_hostname/set_dotted_hostname/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/dotted_hostname/test_dotted_hostname/ci-s1-leaf.1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/strict_tags/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/configs/test_configs/ci-s1-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-spine1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/base_configs/ci-s1-spine2.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/change_tags/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/cvp/cvp.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/cvp/cvp_configlets.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/dotted_hostname/reset_dotted_hostname/ci-s1-leaf.1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/dotted_hostname/set_dotted_hostname/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/dotted_hostname/test_dotted_hostname/ci-s1-leaf.1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/strict_tags/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-leaf2.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-leaf3.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-leaf4.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-missing.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-spine1.yml
  ansible_collections/arista/avd/molecule/cv_workflow/intended/structured_configs/test_configs/ci-s1-spine2.yml
  ansible_collections/arista/avd/molecule/cv_workflow/inventory/inventory.yml
  ansible_collections/arista/avd/molecule/cv_workflow/molecule.yml
Labels: state: CI Updated

#3748 Feat(eos_cli_config_gen): Add router internet-exit.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-internet-exit.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-internet-exit.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-internet-exit.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-internet-exit.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_internet_exit.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/router-internet-exit.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-device-documentation.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos-intended-config.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-internet-exit.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#3739 Feat(eos_cli_config_gen): Add aaa unresponsive action under global dot1x
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/dot1x.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/dot1x.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3830 Feat(eos_cli_config_gen): Add IPsec and NAT options to tunnel_interfaces.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tunnel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tunnel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/tunnel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/tunnel_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/tunnel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/tunnel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3807 Feat(eos_designs): Add structured_config support in platform_settings.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/platform_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3620 Feat(eos_cli_config_gen): Add policy-maps qos police.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/policy-maps.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/policy-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/policy-maps.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/policy-maps.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/policy_maps.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/policy-maps-qos.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3837 Fix(plugins): Handle md-toc v9
  ansible_collections/arista/avd/plugins/filter/add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
Labels: type: Python filters

#3842 Fix(dhcp_provisioner): Support custom `node_type_keys` as a list of dicts. (#3813)
  ansible_collections/arista/avd/molecule/dhcp_provisioning/converge.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/create.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/custom_avd3_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/custom_avd4_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/default_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/custom_avd3_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/custom_avd4_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/default_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_CUSTOM_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/molecule.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
Labels: state: CI Updated, role: dhcp_provisioner

#3845 Fix(plugins): Handle md-toc v9 (#3837)
  ansible_collections/arista/avd/plugins/filter/add_md_toc.py
  ansible_collections/arista/avd/tests/unit/filters/test_add_md_toc.py
Labels: type: Python filters

#3846 Doc: Release 4.7.1
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.7.1.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  python-avd/pyavd/__init__.py
Labels: type: documentation

#3832 Feat(eos_cli_config_gen): Add FQDN & UFQDN support for ike profile local-id
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-security.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3848 CI: Cherry-pick CI #3801 #3817 #3828
  .github/workflows/installation-test.yml
  .github/workflows/offline-links-check.yml
  .github/workflows/pull-request-management.yml
  .github/workflows/pull-request-rn-labeler.yml
Labels: type: code quality

#3847 Bump: Release 4.7.1
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/README.md
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.7.1.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  python-avd/pyavd/__init__.py
Labels: type: documentation

#3629 Feat(eos_cli_config_gen): Add event-handler trigger on-maintenance.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/event-handlers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/event_handlers.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/event-handlers.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3839 CI: Add dependabot file
  .github/dependabot.yml
Labels: type: code quality, one approval

#3840 Feat(eos_cli_config_gen): Support port-only option in IP NAT pools
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-nat.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-nat.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_nat.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-nat.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-nat-part2.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3841 Refactor(eos_cli_config_gen): Modifying the data-model for management security entropy source
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mac-security-eth-po-entropy.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/management_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/management-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/management-security.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3868 Revert: "Bump pre-commit-ci/lite-action from 1.0.0 to 1.0.2"
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#3867 Feat(eos_cli_config_gen): Add capability to disable address-only for connectivity monitors
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-connectivity.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-connectivity.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/monitor_connectivity.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/monitor-connectivity.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/monitor-connectivity.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3863 Doc: Update installation guide to avoid 'pipx'
  ansible_collections/arista/avd/docs/installation/collection-installation.md
Labels: type: documentation, one approval

#3865 CI: Change label for dependabot PRs to 'dependabot'
  .github/dependabot.yml
Labels: type: code quality

#3862 Fix(eos_designs): Fix missing features from LACP fallback individual
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/connected_endpoints/ethernet_interfaces.py
Labels: state: CI Updated, role: eos_designs, one approval

#3875 Feat(eos_cli_config_gen): Support SA lifetime for IP sec
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/ip_security.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/ip-security.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/ip-security.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3810 Feat(eos_designs): Add platform specific management security entropy source settings.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/platform_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/platform_settings.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/base/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/platform_settings.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3871 Bump(eos_validate_state): ANTA Update eos_validate_state code to support ANTA v0.14.0
  ansible_collections/arista/avd/molecule/eos_validate_state/custom_anta_catalogs/DC1_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/custom_anta_catalogs/all.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/custom_anta_catalogs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf1c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2b-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf2c-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3a.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-leaf3b.arista.com-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc2-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine2-results.json
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/get_anta_results.py
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
  ansible_collections/arista/avd/roles/eos_validate_state/preview_requirements.txt
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/constants.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated, one approval, EPIC - eos_validate_state ANTA

#3780 Feat(eos_cli_config_gen): Add l4 to application traffic recognition
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/application-traffic-recognition.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/application-traffic-recognition.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/application-traffic-recognition.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/application-traffic-recognition.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/application_traffic_recognition.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/defs_application_traffic_recognition.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/documentation/application-traffic-recognition.j2
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/application-traffic-recognition.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/application-classification.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3833 Feat(eos_designs): Add support for Zscaler internet-exit policy
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/plugins/Lookup_plugins/cv_zscaler_endpoints.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tunnel-interface-internet-exit.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/lookup/cv_zscaler_endpoints.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/Makefile
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/README.txt
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/api/arista/swg/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/api/arista/swg/v1/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/api/fmp/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/cv_client.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/exceptions.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/client/swg.py
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/extra_cv_protos/arista/swg.v1/services.gen.proto
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/extra_cv_protos/arista/swg.v1/swg.proto
  ansible_collections/arista/avd/plugins/plugin_utils/password_utils/password.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-pathfinder-internet-exit-policies.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/zscaler-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_access_lists.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_nat.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_security.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/monitor_connectivity.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_adaptive_virtual_topology.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_internet_exit.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_service_insertion.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/tunnel_interfaces.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_internet_exit_policies.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_regions.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_virtual_topology.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/zscaler_endpoints.schema.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.14.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#3880 Doc(eos_cli_config_gen): Add missing switchport port security table to documentation
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval

#3831 Feat(eos_designs): Add pim ipv4 sparse_mode on core_interfaces/l3_edge interfaces.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-4-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/core-4-multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/core_interfaces_and_l3_edge/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_p2p_links.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3827 Feat(eos_designs): Allow VLAN Aware Bundles even if common evpn_vlan_aware_bundles is false
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle_svi_l2vlan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_vlan_bundle_svi_l2vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_vlan_bundle_svi_l2vlan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/router_bgp.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_network_services.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/evpn_vlan_aware_bundles.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3886 Feat(eos_designs): Add metadata for Zscaler internet-exit
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/metadata.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/python_modules/metadata/cv_pathfinder.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/avdstructuredconfig.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/ip_security.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/metadata.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/network_services/utils.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3902 Doc(eos_validate_state): Add link for OSX fork issue
  ansible_collections/arista/avd/roles/eos_validate_state/ANTA-Preview.md
Labels: role: eos_validate_state, state: Documentation role Updated

#3903 CI: Bump galaxy-importer to 0.4.20
  .github/workflows/pull-request-management.yml
Labels: type: code quality, one approval

#3872 Feat(eos_validate_state): Added the validation for BGP address families(link-state, path-selection and ipv4/ipv6 sr-te)
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-spine2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/DC1_WAN.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/WAN.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/bgp_constants.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestrouting.py
Labels: role: eos_validate_state, state: CI Updated

#3893 Feat(eos_cli_config_gen): Support activity polling-interval for router multicast.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-multicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-multicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-multicast.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-multicast.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_multicast.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-multicast.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3900 Fix(eos_cli_config_gen): Remove requirement for original_ip to be unique under interface IP NAT
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-nat.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-nat.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/defs_interface_ip_nat_static.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#3904 Feat(eos_designs): Add optional cv-pathfinder site for pathfinders
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/cv_client/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_designs_shared_utils/wan.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/metadata.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/python_modules/metadata/cv_pathfinder.py
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/cv_pathfinder_global_sites.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/defs_node_type.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#3881 Feat(eos_cli_config_gen): Support for additional commands under the EVPN address family
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-vpn-import-pruning.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-vpn-import-pruning.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.jsonschema.json
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/eos_cli_config_gen.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/schemas/schema_fragments/router_bgp.schema.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/router-bgp.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#3829 CI: workflow file for testing cv_workflow
  .github/workflows/new-cvp-integration.yml
  ansible_collections/arista/avd/molecule/cv_workflow/converge.yml
Labels: type: code quality, state: CI Updated, one approval

#3920 Fix(eos_cli_config_gen): Render access vlan on port-channel interfaces if mode is dot1q-tunnel.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/templates/eos/port-channel-interfaces.j2
Labels: role: eos_cli_config_gen, state: CI Updated
