Repository aristanetworks/avd, pull requests merged in 2024-09, with the labels that each got.

#4395 Refactor(eos_designs): Move default platform_settings. network_services_keys and connected_endpoints_keys to schema
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/platform.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_schema/avdschema.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/pyavd/get_device_structured_config.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4401 Fix(eos_cli_config_gen)!: Make `router_isis.address_family_ipv4/6.enabled` Required
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4420 Fix(plugins): Support zeroes in interface numbers for range_expand
  python-avd/pyavd/j2filters/range_expand.py
  python-avd/tests/pyavd/j2filters/test_range_expand.py
Labels: one approval

#4402 Refactor(eos_designs)!: Raise AVD error if sFlow is enabled but `sflow_settings.destinations` is not configured
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sflow-settings-missing-destinations.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-sflow-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/sflow_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4426 Doc(eos_cli_config_gen): Removing deprecation info from description as it was already removed
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_security.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#4417 Refactor(eos_cli_config_gen,eos_designs)!: Update router_ospf.redistribute.bgp/connected/static with enabled keys
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE1.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/SPINE2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe3.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospf.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_ospf.py
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4430 Fix(plugins): Support zeroes in interface numbers for range_expand
  python-avd/pyavd/j2filters/range_expand.py
  python-avd/tests/pyavd/j2filters/test_range_expand.py
Labels: cherry-pick, rn: Fix(plugins), one approval

#4424 Feat(eos_designs)!: Shutdown interfaces and bgp towards undeployed peers by default
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp-empty-filter/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_bgp_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/shutdown_interfaces_towards_undeployed_peers.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4422 Refactor(eos_designs)!: Import AvdIpAddressing class from PyAVD
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_ip_addressing.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_TESTS.yml
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/roles/eos_designs/python_modules/MOVED_TO_PYAVD.txt
  ansible_collections/arista/avd/roles/eos_designs/python_modules/ip_addressing/__init__.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/api/ip_addressing/__init__.py
  python-avd/pyavd/api/ip_addressing/utils.py
Labels: type: documentation, state: CI Updated, role: eos_designs, one approval

#4429 Fix(eos_designs): Fix context vars for custom interface description templates
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval, cherry-pick-for-4.10.x

#4437 Fix(eos_designs): Fix context vars for custom interface description templates
  ansible_collections/arista/avd/docs/contribution/eos_designs_internal_notes.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L2LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L2LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  python-avd/pyavd/_eos_designs/interface_descriptions/__init__.py
  python-avd/pyavd/_eos_designs/interface_descriptions/utils.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4210 Fix(eos_designs)!: BGP vlan config should not have redistribute igmp when belonging to a VRF with evpn multicast
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4436 Feat(eos_cli_config_gen): Set ssh authentication protocols and empty password
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/management-ssh.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/management-ssh.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4416 Refactor(eos_cli_config_gen): Deprecation of `type` key from ethernet and port-channel interfaces
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/address-locking.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/flow-tracking.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/l2-protocol-forwarding.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/lldp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/sync-e.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/platform_settings.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_BL1.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4438 Bump: Release 4.10.2
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.10.2.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: type: documentation

#4432 Feat(plugins): Add AVD String Formatter for later use in custom descriptions
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/format_string.py
  python-avd/tests/pyavd/utils/test_format_string.py
Labels: one approval

#4419 Refactor(cv_deploy): Optimize push of configlets with version aware API calls
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/async_decorators.py
  python-avd/pyavd/_cv/client/configlet.py
  python-avd/pyavd/_cv/client/constants.py
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/client/versioning.py
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
  python-avd/tests/pyavd/cv/client/test_async_decorators.py
Labels: state: Documentation role Updated, one approval

#4191 Feat(eos_cli_config_gen): Add support for additional dot1x commands.
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4444 Feat(eos_designs): Add support to enable sflow on l3 interfaces
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-sflow-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_sflow.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/l3_interfaces.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4469 Doc(eos_cli_config_gen): Add missing tables to input-variables
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-session-default-encapsulation-gre.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-sessions.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-influx.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_session_default_encapsulation_gre.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_telemetry_influx.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_telemetry_postcard_policy.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#4473 Refactor(eos_designs)!: Rename wan_mode 'autovpn' to 'legacy-autovpn'
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-wan-role-overlay-routing-protocol.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acl-in-missing-on-wan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge-no-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/legacy-autovpn-rr2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/LEGACY_AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-route-servers.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_adaptive_virtual_topology.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_route_servers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_virtual_topologies.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_path_selection.py
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#4475 Feat(eos_cli_config_gen): Add support for port-channel local interfaces for router-path-selection
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-path-selection.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-path-selection.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-path-selection.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#4450 Refactor(eos_designs): Use VRF ID instead of VRF VNI as offset for evpn underlay l3 multicast group
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4309 Fix(eos_designs): Use CP-Profile for WAN HA when DP-Profile is not configured
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge2B.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
Labels: state: CI Updated, one approval

#4490 Fix(eos_cli_config_gen): Fix the command for next-hop mpls resolution in address-family evpn
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Labels: state: CI Updated, one approval

#4478 Refactor(eos_designs)!: Only render IGMP snooping querier version and address when enabled
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-tenant-igmp-snooping-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/IGMP-QUERIER-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/IGMP-QUERIER-L3LEAF1A.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Labels: type: documentation, state: CI Updated

#4381 Refactor(eos_cli_config_gen): Rearrange the eos-cli output to match eos order
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/cvx-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/cvx.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-relay.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/event-handlers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/flow-tracking.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/groups.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/interface-defaults.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-client-source-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/class-maps.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/cvx-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/cvx.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-relay.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/event-handlers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/flow-tracking.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/groups.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/interface-defaults.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-client-source-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_CVX_SERVER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_CVX_SERVER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-spine2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/class-maps.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-ldap.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-radius.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups-tacacs-plus.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/as-path.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/class-maps-pbr.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/class-maps.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/cvx.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/daemons.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-relay.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x_part2.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/event-handlers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/interface-defaults.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/interface-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/interface-ip-nat.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-client-source-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-nat-part1.j2
Labels: state: CI Updated, one approval

#4492 Fix(eos_cli_config_gen): Do not render entries with only sequence number from ip_access_list
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-access-lists.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-access-lists.j2
Labels: state: CI Updated

#4500 Feat(eos_cli_config_gen): add_hardware_port_group_knob
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/hardware.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4493 Feat(eos_cli_config_gen): Global logging keys for congestion-drops, link-status, and repeat-messages
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging-minimal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/logging.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging-minimal.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/logging.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging-minimal.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging-event-congestion-drops.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4507 Test: Fix examples not being run because remaining tags in molecule
  ansible_collections/arista/avd/molecule/example-isis-ldp-ipvpn/molecule.yml
  ansible_collections/arista/avd/molecule/example-single-dc-l3ls/molecule.yml
Labels: state: CI Updated

#3823 Fix(eos_cli_config_gen)!: update logic in monitor_sessions to not require both source and destination
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-sessions.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-sessions.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-sessions.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-sessions.j2
Labels: type: documentation, state: CI Updated

#4509 Refactor(eos_cli_config_gen): Change the 'protocol' key to 'encapsulation' in interfaces-encapsulation model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4504 Feat(eos_designs): Update eos_designs code to generate new interface-encapsulation model in structured_configs
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UPLINK_P2P_VRFS_TESTS_SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/site-ha-disabled-leaf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/site-ha-enabled-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/site-ha-enabled-leaf2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/site-ha-enabled-leaf2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated, one approval

#4266 Fix(eos_cli_config_gen)!: Avoid generating invalid configuration for traffic policies
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies-3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies-3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-3.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4510 Fix(eos_designs)!: Make evpn_gateway.remote_peers override work as documented
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-key-evpn-gateway-remote-peer.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
Labels: state: CI Updated, one approval

#4497 Feat(eos_designs): Add possibility to change network mask for direct WAN HA link
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_ip_addressing.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4516 Refactor(eos_designs)!: Raise when a referenced profile name is not defined
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-wrong-profile-lacp-fallback.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-parent-port-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-connected-endpoint-port-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-l3-interface-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-grandparent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-svi-parent-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_SERVERS.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/l3_interfaces.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: type: documentation, state: CI Updated

#4412 Feat(eos_cli_config_gen): Add support for IPv4 BGP Labeled-Unicast (BGP-LU)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-ipv4-labeled-unicast.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-ipv4-labeled-unicast.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-ipv4-labeled-unicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_bgp_additional_paths.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4527 CI: Bump galaxy-importer 0.4.25
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#4522 Fix(eos_designs): Add redistribute connected under BGP for VRF default if no underlay
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-from-network-services-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-from-network-services-1.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Labels: type: bug, state: CI Updated, one approval

#4525 Test(eos_designs): Generate connected endpoints only
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/only-connected-endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/only-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/only-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/tests/pyavd/eos_designs/test_validate_structured_config.py
Labels: state: CI Updated, one approval

#4519 Feat(eos_cli_config_gen): Add support additional-paths to root context of BGP using new DM
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-additional-paths.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-additional-paths.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-additional-paths.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_bgp_additional_paths.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval
