Repository aristanetworks/avd, pull requests merged in 2024-07, with the labels that each got.

#4096 Fix(eos_designs): WAN Exclude interface IP address from direct internet-exit NAT ACL
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge1.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_nat.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, EPIC - AVD AutoVPN/WAN

#4079 Feat(eos_designs): Add support to enable BGP peering with wan provider
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-prefix-list-definition-cv-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-prefix-list-in-cv-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/ipv4_prefix_lists.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/l3_interfaces.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/prefix_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/route_maps.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#4166 Refactor(plugins): Deprecate various unused Ansible plugins
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/generate_esi.md
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/generate_lacp_id.md
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/generate_route_target.md
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/batch_template.md
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/validate_and_template.md
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/yaml_templates_to_facts.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/docs/templates/plugin-docs.j2
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/plugins/filter/generate_esi.py
  ansible_collections/arista/avd/plugins/filter/generate_lacp_id.py
  ansible_collections/arista/avd/plugins/filter/generate_route_target.py
  ansible_collections/arista/avd/plugins/modules/batch_template.py
  ansible_collections/arista/avd/plugins/modules/validate_and_template.py
  ansible_collections/arista/avd/plugins/modules/yaml_templates_to_facts.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_utils/__init__.py
  python-avd/pyavd/_utils/short_esi_to_route_target.py
  python-avd/tests/pyavd/utils/test_short_esi_to_route_target.py
Labels: type: documentation, state: Documentation role Updated, type: Python filters, role: eos_designs, one approval

#4177 Refactor: Deprecate Python3.9 support
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
Labels: type: documentation, one approval

#4182 Bump: Release 4.9.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.9.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: type: documentation, one approval

#4184 Bump: Update version 4.10.0-dev0
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: one approval

#4193 CI: Remove broken workflow testing legacy installation script
  .github/workflows/installation-test.yml
Labels: type: code quality

#4194 Feat(eos_cli_config_gen): Add TLS options for radius_server
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hide-passwords.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4180 Feat(eos_designs): Add option for ip igmp snooping fast-leave
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-DISABLED.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-DISABLED.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4212 Fix(eos_validate_state): Sanitize markdown output on markdown validation report
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/md_report.py
Labels: EPIC - eos_validate_state ANTA

#4195 Doc: Deprecate the eos_designs and eos_cli_config_gen jsonschema.json…
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
Labels: type: documentation

#4199 Fix(plugins): Prevent deprecation warnings when deprecated filters are not used
  .pre-commit-config.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/filter/deprecated_filters.py
  ansible_collections/arista/avd/plugins/filter/generate_esi.py
  ansible_collections/arista/avd/plugins/filter/generate_esi.yml
  ansible_collections/arista/avd/plugins/filter/generate_lacp_id.py
  ansible_collections/arista/avd/plugins/filter/generate_lacp_id.yml
  ansible_collections/arista/avd/plugins/filter/generate_route_target.py
  ansible_collections/arista/avd/plugins/filter/generate_route_target.yml
Labels: state: CI Updated, type: Python filters

#4173 Refactor(eos_validate_state): Add warning for ansible test mode
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/_emit_warning.md
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/emit_warning.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/docs/semantic-versioning.md
  ansible_collections/arista/avd/molecule/eos_validate_state/converge.yml
  ansible_collections/arista/avd/plugins/action/_emit_warning.py
  ansible_collections/arista/avd/plugins/modules/_emit_warning.py
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/anta_integration.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/ansible_tests.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
Labels: type: documentation, role: eos_validate_state, state: CI Updated, state: Documentation role Updated

#3910 Doc: AVD with Ansible Automation Platform Guide
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/aap-cvp-eos.svg
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/aap-dashboardpng.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/add-template.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/all-hosts.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/create-ee.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/create-source.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/cvp-cc.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/inv-job-output.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/inv-job-sync.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/inv-sync.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/job-output.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/job-updates.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/run-job.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/save-inv.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/save-project.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-add-ee.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-add-inv.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-add-project.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-ee.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-inv.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-projects.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-sources.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/select-templates.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/survey-enabled.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/survey-save.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/template-save.png
  ansible_collections/arista/avd/docs/_media/getting-started/aap-avd/template-survey.png
  ansible_collections/arista/avd/docs/getting-started/avd-aap.md
  mkdocs.yml
Labels: type: documentation, one approval

#4211 Feat(eos_cli_config_gen): Add support for tunnel-interface underlay vrf
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tunnel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tunnel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/tunnel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4224 Fix(eos_cli_config_gen): Fixing the wrong CLI generated for radius-server dynamic-authorizaton
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
Labels: state: CI Updated

#4223 Test(eos_cli_config_gen): Added the test for domain-list in molecule to improve the coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/domain-list.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/domain-list.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/domain-list.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Labels: state: CI Updated, one approval

#4233 Test(eos_cli_config_gen): Added test in molecule for ip-virtual-router-mac-address to improve the coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-virtual-router-mac-address.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-virtual-router-mac-address.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-virtual-router-mac-address.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Labels: state: CI Updated

#4235 Refactor(pyavd): Suppress warnings for cryptography >=43.0.0
  python-avd/pyavd/_utils/password_utils/password_utils.py
Labels: one approval

#4234 Doc(eos_designs): Remove lookup plugin reference for Zscaler IE
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
Labels: state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4095 Feat(eos_cli_config_gen): Add support to configure PEG DR election algorithm
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4215 Fix: Incorrect default value for 720XP for trident_forwarding_table_partition
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_multicast.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/platform.py
Labels: state: Documentation role Updated, role: eos_designs

#4206 Doc: Fix incorrect keys specified in default_mgmt_method
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-interface-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_mgmt_method.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4239 Test(eos_cli_config_gen): Added test in molecule for unsafe prompt to improve the coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/prompt-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/prompt-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/prompt-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Labels: state: CI Updated

#4236 CI: bump action-molecule-avd action to 1.8.1
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
Labels: type: code quality, one approval

#4219 Feat(eos_cli_config_gen): Add MPLS Tunnel Support for Traceroute and PMTU Discovery
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls-3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls-3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls-3.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mpls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-and-ldp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mpls.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4071 Feat(cv_deploy): Add CV Pathfinder AVT hop count to metadata studio
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_pathfinder.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN, one approval

#4237 Refactor(eos_designs,eos_cli_config_gen): Deprecate type conversion from dict-of-dicts to list-of-dicts
  ansible_collections/arista/avd/docs/porting-guides/4.x.x.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
Labels: type: documentation

#4248 Fix: Typo in requirements.txt for PyAVD dev0 version
  ansible_collections/arista/avd/requirements.txt
Labels: one approval

#4251 Doc(eos_designs): Replace wrong key referred in documentation `mlag_l3_peer_vlan` with `mlag_peer_l3_vlan`
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#4246 CI: Autogenerated comment with steps to test PR - move ansible collections to the venv
  .github/workflows/pull-request-comment.yml
Labels: type: code quality, one approval

#4253 Doc(eos_designs): Update documentation to customize WAN flow tracking.
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_flow_tracking.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4261 Fix(eos_cli_config_gen): Restoring consistent schema validation behavior
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
Labels: one approval

#4260 Test(eos_cli_config_gen): Add molecule tests for terminal template to improve coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/terminal.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/terminal.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/terminal.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Labels: state: CI Updated, one approval

#4255 Feat(eos_cli_config_gen): SyncE support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/sync-e.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/sync-e.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/sync-e.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sync-e.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/sync-e.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sync-e.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sync_e.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4241 Feat(eos_cli_config_gen): Add dscp support for application traffic recognition IPv4
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/application-traffic-recognition.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/application-traffic-recognition.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/application-traffic-recognition.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/application-traffic-recognition.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/arp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-neighbor.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-telemetry-influx.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/priority-flow-control.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-adaptive-virtual-topology.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/application-classification.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-isis-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-cv-pathfinder-regions.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/application-traffic-recognition.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/application-traffic-recognition.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/application_traffic_recognition.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/schema_tools/generate_docs/tablerowgen.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#4259 Feat(eos_designs): Enhance custom IP addressing and descriptions for p2p-vrfs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_interface_descriptions_with_data.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_ip_addressing.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-PYTHON_MODULES-L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/interface_descriptions/__init__.py
  python-avd/pyavd/_eos_designs/ip_addressing/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Labels: state: CI Updated, one approval

#4258 Fix(eos_cli_config_gen): Add a pseudo task to handle tags on import role
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/converge.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/create.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/destroy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/molecule.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/hardware-counters.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
Labels: role: eos_cli_config_gen, state: CI Updated

#4230 Feat(eos_cli_config_gen): Add ptp profiles for ITU-T G8275 support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ptp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ptp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ptp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ptp.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4264 Refactor(eos_cli_config_gen): Add primary key for connectivity monitor hosts
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval

#4172 Feat(eos_designs): MLAG secondary should use short-esi from MLAG primary
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF6A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF6B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF6A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF6B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/short_esi.py
Labels: state: CI Updated

#4262 Test(eos_cli_config_gen): Added test in molecule for cvx to improve the coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/cvx-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/cvx-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/cvx-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/cvx.j2
Labels: state: CI Updated, one approval

#4247 Feat(cv_deploy): Add application data to CV Pathfinder metadata
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_pathfinder.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/application_traffic_recognition.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/metadata.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4168 Feat(eos_designs): Add keys to set loopback0 and vtep_loopback directly
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-loopback-vtep-configuration.md
  python-avd/pyavd/_eos_designs/ip_addressing/__init__.py
  python-avd/pyavd/_eos_designs/ip_addressing/utils.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/ip_addressing.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4252 Feat(eos_cli_config_gen): Enhance DHCP server data model (lease time, reservations, eos_cli)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/dhcp-servers.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dhcp-servers.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dhcp-servers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dhcp-servers.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dhcp_servers.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4163 Feat(eos_designs): Add support to add access-groups on l3-interfaces through network-services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4169 Feat(eos_designs): Underlay OSPF authentication
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_authentication_schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4271 Test(eos_designs): Update unit_tests to not use deprecated ptp key
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/ptp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-l2leaf1-ptp-disabled.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-l2leaf1-ptp-disabled.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
Labels: state: CI Updated

#4272 Bump: Release 4.10.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.10.0.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: type: documentation

#4281 CI: Fix gitattributes
  .gitattributes
Labels: one approval

#4275 Bump: v5.0.0-dev0
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  mkdocs.yml
  python-avd/pyavd/__init__.py
Labels: type: documentation, one approval

#4276 Bump: Minimum Python version 3.10
  .github/workflows/pull-request-management.yml
  .sonarcloud.properties
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/installation/collection-installation.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/tests/config.yml
  python-avd/pyproject.toml
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/tests/schema_tools/generate_docs/test_mdtabsgen.py
  python-avd/tests/schema_tools/metaschema/test_meta_schema_model.py
  python-avd/tox.ini
Labels: type: documentation, type: code quality

#4285 Doc: Placeholder PR for updating deprecated keys in 5.x.x porting-guide
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
Labels: type: documentation

#4279 Refactor(eos_cli_config_gen): Remove the deprecated keys for event-handlers
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/event-handlers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/event-handlers.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/event-handlers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/event-handlers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/event_handlers.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4288 Cut(eos_cli_config_gen): Remove deprecated key cvcompression from daemon_terminattr data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/daemon-terminattr.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/daemon_terminattr.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4294 Cut(eos_cli_config_gen): Remove the deprecated keys for flow-trackings
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/flow-trackings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-trackings.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/flow_trackings.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4289 Cut(eos_cli_config_gen): Remove deprecated key MIB_family_name from snmp_server data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/snmp_server.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.jsonschema.json
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.jsonschema.json
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval
