Repository aristanetworks/avd, pull requests merged in 2024-10, with the labels that each got.

#4359 Refactor(eos_cli_config_gen): Improve schema for redistributes_routes under address_family_ipv4_multicast, address_family_ipv6 and vrfs for router_bgp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-v6-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-v6-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3730 Feat(eos_cli_config_gen): Redo the model for additional-paths in BGP
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-additional-paths.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-ipv4-labeled-unicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-path-selection.yaml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host2/bgp_additional_paths.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-custom-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/legacy-autovpn-rr2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router2.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan1.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-wan2.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_bgp_additional_paths.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Labels: type: documentation, role: eos_cli_config_gen, data model change, state: CI Updated, state: Documentation role Updated, breaking change

#4523 Fix(eos_designs): Make it possible to add custom PTP profiles
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-adapter-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-network-port-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ptp_settings.md
  development/compare.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp_profiles.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4540 Refactor(eos_designs): Move debug vars dump to action plugin instead of it's own task
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/debug/generate-debug-vars.j2
Labels: role: eos_designs, one approval

#4552 Fix(eos_cli_config_gen): Fix wrong indentation of config for redistribute routes in `router_bgp.vrfs[].address_family_ipv6`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Labels: state: CI Updated

#4488 Refactor(eos_cli_config_gen): Rearrange the eos-cli config for `vlan-interfaces` to match with EOS
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack2.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Labels: state: CI Updated

#4545 Feat(eos_cli_config_gen): Add permit_response_traffic nat to ip-access-lists
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-access-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-access-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-access-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-access-lists.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-acls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_access_lists.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4546 Refactor(eos_cli_config_gen): Rearrange the eos-cli output to match eos order - Part 6
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-access-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tunnel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-access-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tunnel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-access-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
Labels: state: CI Updated

#4200 Feat(eos_validate_state): Added the validation for AVT path for static peers and role of device
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/constants.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestavt.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval

#4563 Refactor(eos_cli_config_gen): Improve schemas with `primary_key/required`
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-server-groups.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/as-path.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-name-servers.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-gnmi.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/roles.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_server_groups.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/as_path.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_name_servers.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_gnmi.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/roles.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#4562 Refactor(plugins): Emit errors when both deprecated and new keys are set
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/removed_keys.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/plugin_utils/schema/avdschematools.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/validate_inputs.py
  python-avd/pyavd/validate_structured_config.py
  python-avd/pyavd/validation_result.py
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4576 Fix(eos_cli_config_gen): Fixing poe link down power-off action command in j2 template
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
Labels: state: CI Updated, one approval

#4550 Refactor(eos_cli_config_gen): Improved redistribute data models under router_bgp
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-base.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-v4-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-base.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-v4-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-base.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-v4-v6-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-lite.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4567 Fix(eos_cli_config_gen): Fix the maximum-routes, next-hop resolution v4-mapped-v6 translation commands in `router_bgp.address_family_ipv4_labeled_unicast`
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval

#4548 Feat(eos_cli_config_gen): Add trident l3 routing mac per vlan option
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4579 Refactor(eos_cli_config_gen): Rearrange generated CLI for qos queues under interfaces and qos_profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interface-tx-queues.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interface-uc-tx-queues.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/qos-profiles.j2
Labels: state: CI Updated, one approval

#4578 Refactor(eos_cli_config_gen): Rearrange the CLI for platform
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/platform.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/platform.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform.j2
Labels: state: CI Updated, one approval

#4549 Refactor(eos_cli_config_gen): Rearrange eos_cli_config_gen commands to match with EOS sequence - Part 5
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE1.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/devices/SPINE2.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/SPINE1.cfg
  ansible_collections/arista/avd/examples/campus-fabric/intended/configs/SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ethernet-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ethernet-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/interface-ip-nat.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/roles.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
Labels: state: CI Updated

#4580 Refactor(eos_cli_config_gen)!: Reorder hardware and hardware-counter commands
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hardware-counter.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/hardware.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/hardware-counters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware-counters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware-speed-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware.schema.yml
Labels: state: CI Updated, one approval

#4557 Refactor(eos_cli_config_gen): Rearrange eos_cli output to match with eos for `port-channel-interfaces`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/l2-protocol-forwarding.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/port-channel-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ptp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/qos.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/traffic-policies.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/l2-protocol-forwarding.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/port-channel-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ptp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/qos.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/traffic-policies.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LSR2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-mlag-a.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-mlag-b.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-dualstack2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-ipv6-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent-vrf.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sflow-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
Labels: state: CI Updated, one approval

#4586 Bump: anta>=1.1.0
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  python-avd/pyproject.toml
Labels: state: CI Updated, one approval

#4558 Doc(eos_designs): How-to guide and porting guide updates for description templates
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-descriptions-names.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-connected-endpoints-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-network-ports-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  mkdocs.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_connected_endpoints_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_connected_endpoints_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_network_ports_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_network_ports_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_underlay_p2p_ethernet_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_underlay_p2p_port_channel_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_vrf_diag_loopback_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_bgp_peer_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_bgp_peer_group_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_member_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_svi_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vlan_name.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vrf_svi_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_l3_vrf_vlan_name.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_svi_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_peer_vlan_name.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_port_channel_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_bgp_peer_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_ethernet_description.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_l2_port_channel_description.schema.yml
  python-avd/pyavd/_utils/format_string.py
Labels: type: documentation, state: Documentation role Updated, role: eos_designs

#4585 Refactor(eos_cli_config_gen): Rearrange the eos-cli config for tap-aggregation to match with EOS
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/tap-aggregation.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/tap-aggregation.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tap-aggregation.j2
Labels: state: CI Updated, one approval

#4599 Test: Remove deprecation warnings from eos_cli_config_gen scenario
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/generate-default-config.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/generate-default-config.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/generate-default-config.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-vpn-import-pruning.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-rtc.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/traffic-policies-3.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/generate-default-config.yml
Labels: state: CI Updated

#4597 Doc(eos_cli_config_gen): Fix new_key paths for router_bgp to raise errors in case of a key conflict
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/conflicting-deprecated-and-new-keys.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4593 CI: Clean up dependabot.yml
  .github/dependabot.yml
Labels: type: code quality

#4592 Fix(eos_designs): Fix the Invalid command of `vxlan vxlan vlan <vlan_id> flood vtep`
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/OVERLAY_ROUTING_PROTOCOL_HER_L3LEAF1.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Labels: state: CI Updated

#4565 Fix(eos_cli_config_gen,eos_designs): Dont configure access group on interface when access group is defined on session level
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-sessions.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-sessions.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-sessions.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-connected-endpoint-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-session-network-port-acl.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-wrong-profile-lacp-fallback.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-adapter-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-sessions.j2
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4602 Doc(eos_designs): Remove adapter native_vlan_tag unused default value
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4609 Cut: Remove deprecated deploy_to_cv role
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/roles/deploy_to_cv/README.md
  ansible_collections/arista/avd/roles/deploy_to_cv/meta/main.yml
  ansible_collections/arista/avd/roles/deploy_to_cv/tasks/main.yml
Labels: type: documentation, state: Documentation role Updated, one approval

#4615 Bump: Pre-release 5.0.0-rc2
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: one approval

#4616 CI: Improve performance of validation during schema rebuilding
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  Makefile
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyproject.toml
  python-avd/scripts/build-schemas.py
Labels: type: code quality

#4627 Fix(eos_designs)!: Endpoints PoE and 802.1x configuration for port-channel members
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF1B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF2A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3A.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3B.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3C.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3D.yml
  ansible_collections/arista/avd/examples/campus-fabric/intended/structured_configs/LEAF3E.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
Labels: type: documentation, state: CI Updated, one approval

#4511 Doc: Site Improvements
  ansible_collections/arista/avd/docs/stylesheets/extra.material.css
  ansible_collections/arista/avd/index.md
  mkdocs.yml
Labels: type: documentation, one approval

#4611 Doc(eos_designs): Update custom_structured_config doc following merge changes in 4.0.0
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/custom-structured-configuration.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4646 Doc(eos_designs): correct dc_name docs
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-topology.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/dc_name.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4632 Doc(pyavd): Update pyavd docs
  ansible_collections/arista/avd/docs/pyavd.md
  python-avd/pyavd/__init__.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Labels: type: documentation, one approval

#4643 Bump: arista.cvp Ansible collection requirement to latest version
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/galaxy.yml
Labels: type: documentation, one approval

#4652 Revert(eos_designs): Remove legacy autovpn with new plan for when AutoVPN 2.0 gets out
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-wan-role-overlay-routing-protocol.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acl-in-missing-on-wan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-edge-no-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-rr1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-rr2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-rr1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-rr2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-edge-no-default-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-route-servers.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_mode.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_route_servers.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_virtual_topologies.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_path_selection.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4651 Bump: Add support for Python3.13
  .github/workflows/container_build_base.yml
  .github/workflows/container_build_dev.yml
  .github/workflows/container_build_universal.yml
  .github/workflows/pull-request-management.yml
  .sonarcloud.properties
  python-avd/pyproject.toml
  python-avd/tox.ini
Labels: type: code quality

#4653 Fix(eos_validate_state): Update diagram and documentation to include custom ANTA test catalogs
  ansible_collections/arista/avd/docs/_media/eos_validate_state_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_validate_state_light.svg
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_validate_state.excalidraw
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: type: documentation, role: eos_validate_state, state: Documentation role Updated

#4638 Bump: Release 5.0.0
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.0.0 .yml
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/pyavd.md
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  ansible_collections/arista/avd/roles/cvp_configlet_upload/README.md
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_eapi/README.md
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_snapshot/README.md
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
  mkdocs.yml
  python-avd/pyavd/__init__.py
Labels: type: documentation, role: cvp_configlet_upload, role: eos_config_deploy_cvp, role: eos_config_deploy_eapi, role: dhcp_provisioner, state: Documentation role Updated, role: eos_snapshot, role: eos_designs

#4591 Feat(eos_cli_config_gen): Add support for OSPF graceful restart
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-ospf.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-ospf.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-ospf.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-ospf.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_ospf.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4618 Feat(eos_cli_config_gen): Added dot1x radius av-pair `lldp` and `dhcp` command support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/dot1x.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4655 Feat(eos_cli_config_gen): Add maximum_paths to router_bgp.vrfs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-vrf-address-families.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-vrf-address-families.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-vrf-address-families.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4608 Feat(eos_cli_config_gen): Added support for `neighbor x.x.x.x encapsulation mpls next-hop-self source-intf <source-interface>`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn-mpls.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn-mpls.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn-mpls.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4601 Feat(eos_cli_config_gen): Add vrf support for vmtracer_sessions
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vmtracer-sessions.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vmtracer-sessions.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vmtracer-sessions.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vmtracer-sessions.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vmtracer-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vmtracer-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vmtracer_sessions.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4648 Feat(eos_designs): Add support the all dot1x features under adapters/port-profiles/network-ports
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, role: eos_designs, one approval

#4220 Feat(eos_designs): Add option to disable default 'redistribute connected' in VRF.
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/prefix_lists.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4667 Feat(eos_designs): Adding port_channel_id as option for endpoint ethernet description
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_SERVERS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-connected-endpoints-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-network-ports-description.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_connected_endpoints_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_network_ports_description.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4626 CI(eos_cli_config_gen): Restructured the molecule host vars for `aaa`, `local-users`, `radius-server` and `tacacs-server`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/aaa-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/local-users.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-asdot.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/aaa.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/local-users.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/radius-server.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/aaa.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-root.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tacacs-servers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-authentication.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-authorization.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/tacacs-servers.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/local-users.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
Labels: state: CI Updated

#4613 Feat(eos_cli_config_gen): Expand CLI to support DualEncap MH EVPN GW requirements
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-bgp-evpn.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-bgp-evpn.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-bgp-evpn.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval
