Repository aristanetworks/avd, pull requests merged in 2024-08, with the labels that each got.

#4302 Refactor(eos_cli_config_gen): Remove error handling for missing name in hardware-counters
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/host_vars/hardware-counters.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware-counters.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/hardware-counters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware-counters.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware_counters.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4312 Cut(eos_designs): Remove deprecated keys marked `removed: true` in version 4.0.0
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/removed-schema-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/evpn-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-route-servers.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_rd_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/evpn_rt_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/vxlan_vlan_aware_bundles.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_route_servers.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4307 Cut(eos_designs): Remove deprecated keys from bgp_peer_groups
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_peer_groups.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#4311 Cut(eos_cli_config_gen): Remove deprecated keys from router_bgp data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4298 Feat(plugins): Add strict mode and ignore_case flags to natural_sort filter
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/natural_sort.md
  ansible_collections/arista/avd/plugins/filter/natural_sort.py
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/application-traffic-recognition.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/application-traffic-recognition.j2
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Labels: type: documentation, filter: natural_sort, type: Python filters, one approval

#4296 Cut(eos_cli_config_gen): Remove deprecated keys enable_vrfs and octa from management_api_gnmi data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-api-gnmi.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-gnmi.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_gnmi.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4295 Cut(eos_cli_config_gen): Remove deprecated data model radius_servers
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/radius-server-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/radius-server.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/radius-servers.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-server.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/radius-servers.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-server.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/radius-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/radius_servers.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4297 Cut(eos_cli_config_gen): Remove the deprecated keys for port-channel-interfaces
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4315 CI: Ruff in pre-commit
  .flake8
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/contribution/style-guide.md
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/vars/global_vars.py
  ansible_collections/arista/avd/pylintrc
  ansible_collections/arista/avd/requirements-dev.txt
  pylintrc
  pyproject.toml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/j2filters/is_in_filter.py
  python-avd/pyproject.toml
  python-avd/schema_tools/generate_docs/utils.py
Labels: type: documentation

#4278 Cut(eos_cli_config_gen): Remove deprecated keys `address_family` and `isis_af_defaults` from router-isis data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/router-isis.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4317 Cut(eos_designs): Remove deprecated key cvp_instance_ip
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/cvp_instance_ip.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cvp_instance_ip.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4319 Cut(eos_designs): Remove deprecated key short_esi
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/port-channel-short-esi.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4267 Fix(eos_cli_config_gen): Fix router_isis rx_disabled and mode: shared-secret
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis-new.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-isis.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-1.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis-new.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-isis.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-isis.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4314 Cut(eos_designs): Remove the deprecated ipv6_address_virtual key from SVI settings
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/svi_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/tenants.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vrfs.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4316 Cut(eos_designs): Remove deprecated ptp data model
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/ptp.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ptp_settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ptp_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/ptp.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4321 Cut(eos_designs): Remove automatic conversion of dict-of-dicts to lists
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/converge.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/configs/custom_avd3_node_types/dhcpd.conf
  ansible_collections/arista/avd/molecule/dhcp_provisioning/intended/structured_configs/cvp/custom_avd3_node_types/ztp_configuration.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_LEAFS.yml
  ansible_collections/arista/avd/molecule/dhcp_provisioning/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/connected_endpoints_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/l3_edge_p2p_links.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/platform_speed_groups.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/port_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/routers.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/svi_profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/tenants.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-schema.yml
  ansible_collections/arista/avd/roles/dhcp_provisioner/templates/ztp_configuration.j2
  ansible_collections/arista/avd/roles/eos_designs/schemas/schema_fragments/ipv4_prefix_lists.schema.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/connected-endpoints.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l3_edge.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_services_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_speed_groups.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/port_profiles.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/svi_profiles.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/connected_endpoints_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/switch_data.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Labels: state: CI Updated, role: dhcp_provisioner, role: eos_designs

#4322 Fix(eos_designs): Move schema for ipv4_prefix_list_catalog to pyavd for proper enforcement
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ipv4-prefix-list-catalog.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ipv4_prefix_lists.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#4318 Cut(eos_designs): Remove deprecated inband_management_subnet and inband_management_vlan keys
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC2_POD1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-inband-management-configuration.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/inband_management.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4208 Fix(eos_designs)!: VARPv6 config is not generated even when "ipv6_enable: true" is specified
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/varpv6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/varpv6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/varpv6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Labels: type: documentation, state: CI Updated, breaking change

#4323 Cut(plugins): Remove convert_dicts filter plugin and integrations into schema tooling
  ansible_collections/arista/avd/docs/plugins/Filter_plugins/convert_dicts.md
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/docs/semantic-versioning.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/plugins/filter/convert_dicts.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-l2vlans-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_community_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_extcommunity_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_extcommunity_lists_regexp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tcam_profile.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_structured_configuration_prefix.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_l3_edge.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_speed_groups.schema.yml
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_schema/avd_meta_schema.json
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/avd_schema_tools.py
  python-avd/pyavd/j2filters/__init__.py
  python-avd/pyavd/j2filters/convert_dicts.py
  python-avd/pyavd/templater.py
  python-avd/schema_tools/generate_docs/tablerowgen.py
  python-avd/schema_tools/generate_docs/yamllinegen.py
  python-avd/schema_tools/metaschema/meta_schema_model.py
  python-avd/tests/pyavd/j2filters/test_convert_dict.py
  python-avd/tests/pyavd/schema/access_lists.schema.yml
  python-avd/tests/pyavd/schema/combined.schema.yml
  python-avd/tests/pyavd/schema/ipv6_standard_access_lists.schema.yml
  python-avd/tests/pyavd/utils/merge/access_lists.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_cli_config_gen.schema.yml
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: Documentation role Updated, type: Python filters, role: eos_designs

#4334 Fix(eos_designs): Do not render vrf default under router ospf
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Labels: state: CI Updated

#4341 CI: Fix Check links offline for dead targets
  .github/workflows/offline-links-check.yml
  development/docker-compose.yml
Labels: type: code quality

#4336 Cut(eos_cli_config_gen): Removing 'null' as valid value of esp integrity and encryption from ip-security module
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_security.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#3300 Feat(eos_designs): Custom platform_settings and node_type_keys
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-PYTHON_MODULES-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
  python-avd/pyavd/_eos_designs/shared_utils/platform.py
  python-avd/scripts/export_test_vars.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4342 CI: Fix link check ip addressing
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
  development/docker-compose.yml
  development/entrypoint.sh
Labels: type: documentation, type: code quality

#4346 CI: Fix webdoc_avd to expose network to host
  development/docker-compose.yml
Labels: type: code quality

#4350 Fix(eos_validate_state): Update documentation
  ansible_collections/arista/avd/docs/_media/eos_validate_state_dark.svg
  ansible_collections/arista/avd/docs/_media/eos_validate_state_light.svg
  ansible_collections/arista/avd/docs/_media/excalidraw/eos_validate_state.excalidraw
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
Labels: type: documentation, role: eos_validate_state, state: Documentation role Updated, one approval

#4348 Refactor(plugins): Remove jsonschema dependency
  .gitattributes
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/contribution/input-variable-validation.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/vars/main.yml
  ansible_collections/arista/avd/roles/eos_designs/vars/main.yml
  python-avd/pyavd/_errors/__init__.py
  python-avd/pyavd/_schema/avd_meta_schema.json
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/avdschema.py
  python-avd/pyavd/_schema/avdvalidator.py
  python-avd/pyproject.toml
  python-avd/scripts/build-schemas.py
  python-avd/tests/pyavd/schema/test_avdschema.py
  python-avd/tests/pyavd/schema/test_avdschema_bool.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_int.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Labels: type: documentation, role: eos_cli_config_gen, state: CI Updated, role: eos_designs

#4356 Fix(cv_deploy): Ensure 'AVD Configurations' container is inserted first
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
Labels: one approval, cherry-pick-for-4.10.x

#4357 Fix(cv_deploy): Fix Ansible Logging and increase API timeouts
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/inventory.py
  python-avd/pyavd/_cv/client/studio.py
  python-avd/pyavd/_cv/client/tag.py
  python-avd/pyavd/_cv/client/workspace.py
Labels: type: bug, one approval, cherry-pick-for-4.10.x

#4368 CI: Bump galaxy-importer to 0.4.22
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE2.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp-empty-filter/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/intended/structured_configs/cvp/cv_server_configlets.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/molecule.yml
Labels: type: code quality, state: CI Updated

#4369 Bump: Python library cvprac>=1.4.0
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  python-avd/pyproject.toml
Labels: type: documentation

#4371 Refactor(eos_designs)!: Change the default value of `mlag_on_orphan_port_channel_downlink` to `false`
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SL-LEAF0B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SL-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SL-LEAF0B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SL-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SINGLE_LINK_TO_MLAG_PAIR.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mlag_on_orphan_port_channel_downlink.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4254 Feat(eos_cli_config_gen): Add support for isis authentication on vlan interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis-new.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-isis.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/vlan-interfaces.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/vlan-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/vlan-interfaces.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-isis.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_isis.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4227 Fix(eos_cli_config_gen): Sort IPsec SA, IKE policies and profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-security.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-security.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-security.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-custom-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-no-default-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-security.j2
Labels: state: CI Updated, EPIC - AVD AutoVPN/WAN

#4190 Feat(eos_cli_config_gen): Extend GRE span with payload support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-session-default-encapsulation-gre.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-session-default-encapsulation-gre.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-session-default-encapsulation-gre.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-session-default-encapsulation-gre.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-sessions.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-session-default-encapsulation-gre.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_session_default_encapsulation_gre.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4382 Feat(eos_cli_config_gen): Add support for snmp-server ipmib ifspeed shape-rate
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/snmp.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/snmp.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/snmp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/snmp-server.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4372 Refactor(eos_designs): Optimize handling of WAN internet exits
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: cherry-pick-for-4.10.x

#4366 Refactor(eos_cli_config_gen): Allow duplicate value of `address` in `router_pim_sparse_mode.rp_addresses`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/router-pim-sparse-mode.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/router-pim-sparse-mode.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4385 Fix(eos_validate_state): Ensure graceful handling of command errors from ANTA
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
Labels: cherry-pick-for-4.10.x

#4383 Refactor(eos_designs)!: Change merge strategy for SVI structured_config from SVI profiles
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SVI_PROFILE_NODE_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SVI_PROFILE_NODE_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/SVI_PROFILE_TESTS.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Labels: type: documentation, state: CI Updated, one approval

#4390 Fix(eos_designs)!: Do not render EVPN address-family on MPLS devices unless `overlay_address_families` includes `evpn`
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/pe3.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr1.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/devices/rr2.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/group_vars/WAN1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/pe3.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr1.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/configs/rr2.cfg
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe2.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/pe3.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr1.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/intended/structured_configs/rr2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Labels: state: CI Updated, one approval

#4398 Fix(eos_cli_config_gen): Use the correct VRF name for ip nat profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-nat-part1.j2
Labels: state: CI Updated, cherry-pick-for-4.10.x

#4154 Feat(eos_validate_state): Added the validation for DPS interface reachability
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan1-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-wan2-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/avdtestbase.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/config_manager.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/mixins.py
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/constants.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/__init__.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestconnectivity.py
Labels: role: eos_validate_state, state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN, one approval, EPIC - eos_validate_state ANTA

#4403 Refactor(eos_cli_config_gen)!: Make router_traffic_engineering.enabled required
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-traffic-engineering.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_traffic_engineering.schema.yml
Labels: type: documentation, role: eos_cli_config_gen, state: Documentation role Updated

#4396 Refactor(eos_cli_config_gen): Deprecate `community_lists` data model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-community-lists.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-community-lists.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/ip-community-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/community-lists.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/community-lists.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/filters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/community_lists.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4409 Fix(cv_deploy): Ensure 'AVD Configurations' container is inserted first (#4356)
  python-avd/pyavd/_cv/workflows/deploy_configs_to_cv.py
Labels: cherry-pick, one approval

#4407 Refactor(eos_designs): Optimize handling of WAN internet exits (#4372)
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: cherry-pick, one approval

#4405 Fix(eos_cli_config_gen): Use the correct VRF name for ip nat profile (#4398)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/ip-nat.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/ip-nat.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-nat-part1.j2
Labels: state: CI Updated, cherry-pick, one approval

#4406 Fix(eos_validate_state): Ensure graceful handling of command errors from ANTA (#4385)
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
Labels: cherry-pick, one approval

#4362 Test(eos_cli_config_gen): Added test in molecule for `monitor_connectivity` to improve the coverage
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-connectivity-2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/monitor-connectivity.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-connectivity-2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/monitor-connectivity.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-connectivity-2.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/monitor-connectivity.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/hosts.ini
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4404 Refactor(eos_cli_config_gen): Remove hack for ansible 2.12 for arp
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/arp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/arp.j2
Labels: one approval

#4387 Feat(eos_designs)!: Update the default platform settings for R3-series to have TCAM profile "vxlan-routing"
  ansible_collections/arista/avd/docs/porting-guides/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-SPINE4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/platform.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4414 Bump: Release 4.10.1
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v4.10.1.yml
  ansible_collections/arista/avd/docs/release-notes/4.x.x.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Labels: type: documentation, one approval

#4364 Refactor(eos_designs): Move documentation to Python
  .pre-commit-config.yaml
  ansible_collections/arista/avd/docs/plugins/Modules_and_action_plugins/eos_designs_documentation.md
  ansible_collections/arista/avd/examples/campus-fabric/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/examples/l2ls-fabric/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/fabric/FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-documentation.md
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/plugins/modules/eos_designs_documentation.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/write_file.py
  ansible_collections/arista/avd/roles/eos_designs/docs/role-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-documentation-output-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-documentation-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/connected-endpoints.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-documentation.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-p2p-links.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/documentation/fabric-topology.j2
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
  python-avd/.gitignore
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/topology.py
  python-avd/pyavd/_eos_designs/j2templates/connected_endpoints_documentation.j2
  python-avd/pyavd/_eos_designs/j2templates/fabric_documentation.j2
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_documentation.schema.yml
  python-avd/pyavd/constants.py
  python-avd/pyavd/get_device_config.py
  python-avd/pyavd/get_device_doc.py
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/pyavd/templater.py
  python-avd/scripts/compile_templates.py
Labels: type: documentation, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval
