Repository aristanetworks/avd, pull requests merged in 2025-06, with the labels that each got.

#5463 Feat(eos_cli_config_gen): Add Diffie-Hellman Group 19 as a valid value for ip security configuration
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-security.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_security.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated, one approval

#5450 Feat(eos_cli_config_gen): Added support for DLB on ECMP groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-hardware.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_hardware.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5478 Test(eos_designs): Remove reference to the RaisesContext (pytest internal)
  python-avd/tests/pyavd/workflows/test_verify_inputs.py
Labels: one approval

#5421 Feat(eos_designs): Move generate_cv_tags out of preview
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  mkdocs.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_tags_topology_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/generate_cv_tags.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, rn: Feat(eos_designs), one approval

#5434 Feat(plugins): Add support for encryption and decryption of tacacs keys
  ansible_collections/arista/avd/plugins/filter/decrypt.py
  ansible_collections/arista/avd/plugins/filter/encrypt.py
  docs/plugins/Filter_plugins/decrypt.md
  docs/plugins/Filter_plugins/encrypt.md
  python-avd/pyavd/_utils/password_utils/__init__.py
  python-avd/pyavd/_utils/password_utils/password.py
  python-avd/tests/pyavd/utils/password/test_password.py
Labels: type: Python filters, one approval

#5444 Feat(eos_designs): Added support of Spanning Tree Port ID Allocation
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/spanning-tree-mode-rapid-pvst.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/spanning-tree-mode-rapid-pvst.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5465 Feat(eos_cli_config_gen): add support for signature-verification extension
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5488 Doc: Update porting guide for routed ports
  docs/porting-guides/5.x.x.md
Labels: one approval

#5451 Feat(eos_cli_config_gen): Add support for queue-monitor length mirror
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/queue-monitor-length.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/queue-monitor-length-notifying.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-L2LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-LEAF2B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE1.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE2.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE3.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SPINE4.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/queue-monitor-length.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/queue-monitor.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/queue-monitor-length.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/queue_monitor_length.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5483 Doc: Updated eos_cli_config_gen contribution guide to use host1 as centric testing
  docs/contribution/authoring_eos_cli_config_gen.md
Labels: one approval

#5255 Feat(eos_designs): Adding custom_connected_endpoints_keys
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints-keys.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/__init__.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/connected_endpoints_keys.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/custom_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_connected_endpoints.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_list.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, rn: Feat(eos_designs)

#5460 Feat(eos_cli_config_gen): Add support for VRRP peer_authentication under ethernet_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, rn: Feat(eos_cli_config_gen), one approval

#5489 Feat(eos_designs): Add `endpoint_port_channel` access for j2 descriptions for connected_endpoints_port_channel_interfaces
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5497 Fix(eos_cli_config_gen): Change interface srlg data model to allow more than one srlg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5443 Refactor(eos_designs): Add pytest coverage for network_services/port_channel_interfaces.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network_services_point_to_point.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network_services_point_to_point.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Labels: state: CI Updated, one approval

#5519 Test(eos_designs): Clean up converge file by removing obsolete test cases
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Labels: state: CI Updated

#5505 Test(eos_designs): Add pytest coverage for structured_config/base/utils
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/source-interfaces-with-no-mgmt-and-inband-mgmt-interface.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/source-interfaces-with-no-mgmt-and-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/source-interfaces-with-no-mgmt-and-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated, one approval

#5479 Feat(eos_cli_config_gen): Adding support for ingress for platform MMU profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-headroom-pool.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-trident.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5533 Test(eos_designs): Removing Error message task from rescue from eos_designs negative unit test converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
Labels: state: CI Updated

#5498 Feat(eos_designs): Added support for logging_settings
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/source-interface-conflict-in-logging-vrf-config.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/logging_settings.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/logging_settings.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/logging_settings.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/utils.py
  python-avd/schema_tools/metaschema/resolvemodel.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5481 Feat(eos_designs): Add VRF level OSPF authentication knobs for network services
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host_ansible_only.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host_ansible_only.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/underlay_ospf_authentication.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_ansible_only/custom_node_type_keys.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host_ansible_only/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-interface-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-interface-ospf-authentication-message-digest-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-port-channel-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-l3-port-channel-ospf-authentication-message-digest-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-svi-ospf-authentication-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-network-services-svi-ospf-authentication-message-digest-key.yaml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-underlay-ospf-authentication-message-digest-key-mlag
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-underlay-ospf-authentication-message-digest-key-underlay
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ospf-cleartext-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ospf-preencrypted-passwords.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ospf-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ospf-preencrypted-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-cleartext-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ospf-preencrypted-passwords.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_authentication.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5554 Feat(eos_cli_config_gen): Move access-group keys for management_ssh model
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/management-ssh.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-ssh.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_ssh.schema.yml
  python-avd/pyavd/_schema/avddataconverter.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
