Repository aristanetworks/avd, pull requests merged in 2025-05, with the labels that each got.

#5343 Fix(eos_designs): queue monitor length with missing notifying
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/MLAG_ODD_ID_L3LEAF1B.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, one approval

#5361 Doc: Arista AVD re-branding
  README.md
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_designs/meta/main.yml
  docs/_media/arista-logo.png
  docs/_media/avd-logo.png
  docs/_overrides/main.html
  docs/contribution/overview.md
  docs/getting-started/intro-to-ansible-and-avd.md
  index.md
  mkdocs.yml
  python-avd/README.md
  python-avd/pyavd/__init__.py
  python-avd/pyproject.toml
Labels: type: documentation, role: eos_config_deploy_cvp, state: Documentation role Updated, role: eos_designs

#5356 CI: Only run sonar when CI succeeds
  .github/workflows/sonar.yml
Labels: type: code quality

#5171 CI: Update CI workflow to only build PyAVD once
  .github/requirements-ci-dev.txt
  .github/requirements-ci-molecule.txt
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#4491 Fix(eos_designs)!: l3_edge with rfc5549 underlay and 'ebgp: true' should not have next-hop address-family ipv6
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_rfc5549.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_rfc5549.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_rfc5549.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#5327 Refactor(eos_designs): Rename keys `destination_address_prefix` and `gateway` under ipv4/6 `static_routes`
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_BGP.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_ISIS.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_OSPF.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_FROM_NETWORK_SERVICES.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5371 Fix(eos_designs): Snmp-settings enable only specific traps
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/snmp-settings-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/snmp-settings-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/snmp-settings-2.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/snmp-server.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/snmp_server.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5357 Test(eos_designs): add test coverage for notifying: true
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_ODD_ID_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_ODD_ID_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/MLAG_ODD_ID_L3LEAF1A.yml
Labels: state: CI Updated, one approval

#5335 Test(eos_designs): Improved the pytest coverage for underlay/router_pim_sparse_mode.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-peer-router-id-for-router-pim-sparse-mode.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/UNDERLAY-MULTICAST-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/UNDERLAY-MULTICAST-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UNDERLAY_MULTICAST_TESTS.yml
Labels: state: CI Updated

#5352 Test(eos_designs): Add pytest coverage for structured_config/network_config/eos_cli
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/eos_cli.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/eos_cli.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/eos_cli.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated, one approval

#5286 Feat(eos_cli_config_gen): Added Support for Spanning Tree Port ID Allocation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/spanning-tree.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/spanning-tree.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/spanning-tree.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/spanning-tree.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/spanning_tree.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5340 Test(eos_designs): Added pytest coverage for network_services/metadata.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-wan-use-evpn-on-lan-no-overlay-on-lan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-wan-use-evpn-on-lan.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge4A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge4B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-pathfinder2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-transit1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-wan-use-evpn-on-lan-no-overlay-on-lan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-wan-use-evpn-on-lan.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-pathfinder2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-transit1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
Labels: state: CI Updated

#5299 Refactor(eos_designs): Update error messages and improve pytest coverage for shared_utils/mlag.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_ID_FOR_MLAG.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_ID_FOR_SECONDARY_MLAG.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_MLAG_INTERFACES.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_MLAG_PEER_IPV4_POOL.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_MLAG_PEER_IPV6_POOL.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_MLAG_PEER_L3_IPV4_POOL.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
Labels: state: CI Updated

#5380 Test(eos_designs): Add pytest coverage for structured_config/core_interfaces_and_l3_edge/router_bgp.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/p2p_links_missing_ip_subnet_ip_pool.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
Labels: state: CI Updated

#5355 Feat(eos_designs): Changes to eos_designs schema to support path outlier elimination for one or more avt profiles
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge-no-ipsec-for-wan-path-group.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge-no-ipsec-for-wan-path-group.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-no-ipsec-for-wan-path-group.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_virtual_topology.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_adaptive_virtual_topology.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5377 Test(eos_designs): Improve pytest coverage for overlay/router_bfd.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-SPINE4.yml
Labels: state: CI Updated

#5374 CI: rust CI improvements
  .github/workflows/pull-request-management.yml
  .github/workflows/rust.yml
  rust/validation/Cargo.toml
  rust/validation/build.rs
Labels: type: code quality

#5376 Test: Improve python bindings for rust validation
  .gitignore
  python/avdutils/avdutils/__init__.pyi
  python/avdutils/avdutils/py.typed
  python/avdutils/avdutils/validation.pyi
  python/avdutils/pyproject.toml
  python/avdutils/src/_validation.pyi
  python/avdutils/tests/validation/test_validate_json.py
  rust/validation/src/coercion.rs
  rust/validation/src/feedback.rs
  rust/validation/src/python_bindings.rs
  rust/validation/src/validation/dict.rs
  rust/validation/src/validation/int.rs
  rust/validation/src/validation_result.rs
Labels: one approval

#5317 Refactor(eos_designs): Improve pytest coverage for network_services/route_maps.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/tenant-default-vrf-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay-filter-redistribute-connected-false-svi.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay-filter-redistribute-connected-to-bgp-without-route-map.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/tenant-default-vrf-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay-filter-redistribute-connected-false-svi.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay-filter-redistribute-connected-to-bgp-without-route-map.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/tenant-default-vrf-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/underlay-filter-redistribute-connected-false-svi.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/underlay-filter-redistribute-connected-to-bgp-without-route-map.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/route_maps.py
Labels: state: CI Updated, one approval

#5399 Bump: ANTA requirements to v1.4.0
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/user_defined_catalogs_with_tags_run/anta_report.md
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/test_catalogs/dc1-leaf1a-catalog.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyproject.toml
Labels: state: CI Updated

#5350 Feat(eos_designs): Add structured_config and raw_eos_cli keys to p2p service subinterfaces
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE2-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE2-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/inventory/group_vars/MPLS_TENANTS_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-point-to-point-services-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5405 Feat(eos_cli_config_gen): Added support for ip virtual router mac-address mlag-peer
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-virtual-router-mac-address-mlag-peer.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-virtual-router-mac-address-mlag-peer.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-virtual-router-mac-address.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-virtual-router-mac-address-mlag-peer.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_virtual_router_mac_address_mlag_peer.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5384 Refactor(eos_designs): Improve pytest coverage for eos_designs_facts/vlans.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/connected_endpoints_no_network_services.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/connected_endpoints_no_network_services.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/connected_endpoints_no_network_services.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
Labels: state: CI Updated, one approval

#5375 Refactor(eos_designs): Relax control for MLAG subnets when using same subnet
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_IP_ADDRESSING_MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG_SAME_SUBNET_L3LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG_SAME_SUBNET_L3LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_SAME_SUBNET.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-ip-addressing.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_ip_addressing.schema.yml
  python-avd/pyavd/api/ip_addressing/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5341 Fix(anta_runner): Update Ansible task failed criteria and various logging issues
  ansible_collections/arista/avd/molecule/anta_runner/destroy.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/anta_logging_filter.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/anta_workflow_logging.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/directories.yml
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  ansible_collections/arista/avd/roles/anta_runner/tasks/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/defaults/main.yml
  ansible_collections/arista/avd/roles/build_output_folders/tasks/main.yml
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_anta_logging_filter.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_anta_workflow_logging.py
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
  python-avd/pyavd/_anta/factories.py
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/stun.py
  python-avd/pyavd/_anta/logs.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/_anta/utils.py
  python-avd/pyavd/get_device_test_catalog.py
Labels: role: build_output_folders, state: CI Updated, state: Documentation role Updated, one approval

#5411 Fix(anta_runner): AVD-catalog filters now default to all devices targeted by the run
  ansible_collections/arista/avd/molecule/anta_runner/converge.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
Labels: state: CI Updated, state: Documentation role Updated, one approval

#5427 Test(eos_designs): Add pytest coverage for shared_utils/routing.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/SMALL_BGP_AS_RANGE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
Labels: state: CI Updated, one approval

#5432 Feat(eos_cli_config_gen): Adding support for vxlan qos dscp ecn rewrite bridged enabled
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vxlan_interface.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5423 Feat(eos_designs): Added bfd timer support for a peer inside vrfs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5390 Feat(eos_cli_config_gen): Add support for transceiver dom-thresholds
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/transceiver.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/transceiver.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/transceiver.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/transceiver.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/transceiver.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/transceiver.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5453 Feat(eos_cli_config_gen): Add support to generate 'tunnel source <ip_address>' under Tunnel Interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/tunnel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/tunnel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/tunnel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/tunnel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated
