Repository aristanetworks/avd, pull requests merged in 2025-02, with the labels that each got.

#4934 Feat(eos_cli_config_gen): Add support for for NAT service_profile under L3 port_channel interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4963 Refactor(eos_designs): structured_config for underlay mpls
  python-avd/pyavd/_eos_designs/structured_config/underlay/mpls.py
Labels: one approval

#4975 Refactor(eos_designs): structured_config for agents
  python-avd/pyavd/_eos_designs/structured_config/underlay/agents.py
Labels: one approval

#4968 Refactor(eos_designs): Refactor eos_designs structured_config code router_bfd
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bfd.py
Labels: one approval

#4935 Feat(eos_cli_config_gen): Add interface TE twamp-light with fallback knobs
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4973 Refactor(eos_designs): Refactor eos_designs structured_config code for `router_pim_sparse_mode.py`
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_pim_sparse_mode.py
Labels: one approval

#4888 Feat(eos_cli_config_gen): Add support for mpls tunnel termination settings
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/mpls.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mpls.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mpls-and-ldp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mpls.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mpls.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4989 Doc(eos_designs): Add missing node type L3 port-channels configuration table
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: state: Documentation role Updated, role: eos_designs, one approval

#4978 Refactor(eos_designs): Refactor structured_config code for `underlay/as.py`
  python-avd/pyavd/_eos_designs/structured_config/underlay/as_path.py
Labels: one approval

#4979 Fix(eos_cli_config_gen): Fix the errdisable documentation J2 expects recovery.interval to be always set
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/errdisable.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/errdisable.j2
Labels: state: CI Updated, one approval

#4962 Refactor(eos_designs): Refactor network_service vxlan_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-l2vlans-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-l3-interfaces-in-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vni-vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-id-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-vni-conflict.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Labels: state: CI Updated, one approval

#4961 Refactor(eos_designs): structured_config for network_services router_bgp
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-peer-ip-address-network-services.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-id-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-duplicate-evpn-vlan-bundle-name.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/vlans.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/wan.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_eos_designs_enforce_duplication_checks_across_all_models.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/utils.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/route_maps.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_multicast.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_pim_sparse_mode.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_wan.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
  python-avd/pyavd/_schema/models/avd_base.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_list.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/pyavd/_schema/models/eos_cli_config_gen_root_model.py
  python-avd/pyavd/_schema/models/eos_designs_root_model.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_designs_class.py
  python-avd/tests/pyavd/schema/data_merging_schema_class.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4996 Bump: Release 5.2.0
  .github/ignore-codespell-words
  .github/ignore-codespell-words.md
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.2.0.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  python-avd/pyavd/__init__.py
Labels: type: code quality, one approval

#5007 Fix(eos_designs): ptp_settings.domain
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Labels: type: bug, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4994 Refactor(eos_designs): structured_config for overlay route_maps
  python-avd/pyavd/_eos_designs/structured_config/overlay/route_maps.py
Labels: one approval

#5013 CI: Prepare for merge queue
  .github/workflows/pull-request-management.yml
Labels: type: code quality

#4937 Fix(eos_cli_config_gen, eos_designs): Refactor eos_designs structured_config code for monitor_sessions and fix schema for monitor_sessions in eos_cli_config_gen
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/connected-endpoints-monitor-sessions-mismatch-direction.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-sessions.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_sessions.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4976 Refactor(eos_designs): Network Services ethernet interfaces refactoring to classes
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/intended/structured_configs/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-l3-interfaces-network-services.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
Labels: state: CI Updated, one approval

#5016 Fix(eos_designs): Avoid returning objects in facts
  python-avd/pyavd/_eos_designs/eos_designs_facts/overlay.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
Labels: type: bug, one approval

#4858 Feat(eos_designs): Accept auto as argument for rd_override
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_vlan_bundle.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_vlan_bundle.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/RD_RT_ADMIN_SUBFIELD_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_vlan_bundle.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, one approval

#5025 Fix(eos_designs): Wrong duplicate detection between SVIs and L2VLANs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Labels: type: bug, state: CI Updated

#5027 Fix(eos_designs): Avoid returning objects in facts (#5016)
  python-avd/pyavd/_eos_designs/eos_designs_facts/overlay.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
Labels: cherry-pick

#5026 Fix(eos_designs): ptp_settings.domain (#5007)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, cherry-pick, role: eos_designs

#5028 Doc: Release-notes for release 5.2.1 (#5024)
  docs/release-notes/5.x.x.md
Labels: cherry-pick

#5029 Fix(eos_designs): Wrong duplicate detection between SVIs and L2VLANs (#5025)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_true.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_fabric.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_host.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/mgmt_interface_platform.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_true.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_fabric.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_host.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/mgmt_interface_platform.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vxlan_interface.py
Labels: state: CI Updated, cherry-pick

#5032 Fix(containers): fix docker/setup-qemu-action@v3 by setting image to tonistiigi/binfmt:qemu-v7.0.0-28
  .github/workflows/container_build_template.yml
Labels: type: code quality, one approval, cherry-pick-for-5.2.x

#5039 CI: Improve build-schema performance (#5036)
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/store.py
Labels: cherry-pick

#5042 Fix(eos_designs): Invalid class returned from snmp_settings.vrfs (#5035)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-structured-configuration.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-structured-configuration.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-structured-configuration.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
  python-avd/schema_tools/generate_classes/class_src_gen.py
  python-avd/schema_tools/generate_classes/src_generators.py
Labels: state: CI Updated, cherry-pick

#5033 Fix(eos_designs): Wrong structured config for overlapping network ports
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-network-ports-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated, cherry-pick-for-5.2.x

#5043 Doc: Release-notes for release 5.2.2
  docs/release-notes/5.x.x.md
Labels: cherry-pick-for-5.2.x

#5050 Fix(eos_designs): Wrong structured config for overlapping network ports (#5033)
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-network-ports-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
Labels: state: CI Updated, cherry-pick

#4954 Feat(eos_cli_config_gen): Add support for Receive Side Scaling (RSS) interface profile
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/platform.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/platform.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/platform.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/platform-sfe-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/platform.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5048 CI: Simplify schema tooling constants
  python-avd/schema_tools/build_schemas.py
  python-avd/schema_tools/check_schemas.py
  python-avd/schema_tools/constants.py
  python-avd/schema_tools/store.py
Labels: one approval

#4749 Feat(eos_cli_config_gen): Add support to set vlan and vni ranges in vxlan interface
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vxlan_interface.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5047 Refactor(eos_designs): structured_config for underlay route_maps
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acl-in-missing-on-l3-port-channel-wan-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-parent-of-l3-port-channel-sub-interface.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/route_maps.py
Labels: state: CI Updated

#5030 Fix(cv_deploy): Abandon Workspaces that failed at Build phase if their requested_state was `abandoned`
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_invalid_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-leaf1.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/structured_configs/test_invalid_configs/avd-ci-missing.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  python-avd/pyavd/_cv/workflows/finalize_workspace_on_cv.py
Labels: state: CI Updated, one approval

#5054 Refactor(eos_designs): Structured config classes for underlay ethernet_interfaces
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site3-wan1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-underlay.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ipv4-acls.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/uplink_lan_wan_router2.yml
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
Labels: state: CI Updated

#5070 CI: Update sonar workflow to download artifacts from the calling workflow
  .github/workflows/sonar.yml
Labels: type: code quality

#5071 CI: Update sonar workflow to download artifacts from the calling workflow
  .github/workflows/sonar.yml
Labels: type: code quality

#5074 CI: Update sonar workflow to download artifacts from the calling workflow
  .github/workflows/sonar.yml
Labels: type: code quality

#5077 CI: Fix sonar workflow coverage
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
Labels: type: code quality

#5078 CI: Run code testing workflow on pushes to devel
  .github/workflows/pull-request-management.yml
  .github/workflows/sonar.yml
  ansible_collections/arista/avd/.coverage
  sonar-project.properties
Labels: type: code quality

#5079 CI: Make sonar work on devel
  .github/workflows/sonar.yml
Labels: type: code quality

#5061 Feat(eos_designs): Add support for using VRF router-id as RD admin subfield
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF6.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/RD-RT-ADMIN-SUBFIELD-L3LEAF7.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/RD_RT_ADMIN_SUBFIELD_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/RD-RT-ADMIN-SUBFIELD-L3LEAF5.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_rd_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5052 CI: Ansible lint reqs
  .github/workflows/pull-request-conflict.yml
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/.ansible-lint
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/meta/execution-environment.yml
  ansible_collections/arista/avd/molecule/dhcp_configuration/molecule.yml
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_validate_state_runner.py
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/requirements.yml
  docs/release-notes/5.x.x.md
  galaxy-importer/galaxy-importer.cfg
Labels: type: code quality, state: CI Updated, one approval

#5034 CI(cv_deploy): Enhance logic and readability of cv_deploy molecule scenario
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Labels: state: CI Updated, one approval

#5055 Refactor(eos_designs): Structured config classes for underlay port-channels
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ip_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: one approval

#3162 Feat(eos_designs): Automatic assignment of Node IDs using pool manager
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/data/test-ids.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC2_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/id-static-and-pool-manager.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/fabric_numbering_node_id.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/data/EOS_DESIGNS_UNIT_TESTS-ids.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/fabric_numbering_node_id.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/fabric_numbering_node_id.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_facts.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-numbering.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  docs/pyavd/pyavd.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/fabric_numbering.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/__init__.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/api/pool_manager/__init__.py
  python-avd/pyavd/api/pool_manager/base_classes.py
  python-avd/pyavd/api/pool_manager/node_id_pools.py
  python-avd/pyavd/get_avd_facts.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/api/test_avdpoolmanager.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5058 Fix(eos_designs): Raise again on conflicting ethernet interfaces under point-to-point services
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/intended/structured_configs/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate_auto_generated_parent_network_services_point_to_point.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network_services_point_to_point.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network_services_point_to_point.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network_services_point_to_point.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
Labels: state: CI Updated

#5098 Test: Add negative unit testing in pytest
  python-avd/tests/pyavd/molecule_scenarios/conftest.py
  python-avd/tests/pyavd/molecule_scenarios/test_negative_eos_designs.py
Labels: one approval

#5072 Fix(eos_designs): Do not fail documentation task when missing structured configuration
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/tests/integration/targets/configlet_build_config/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/aliases
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/defaults/main.yaml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_documentation/tests/test_missing_structured_cfg_file.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/aliases
  ansible_collections/arista/avd/tests/integration/targets/filter_hide_passwords/aliases
  ansible_collections/arista/avd/tests/integration/targets/filter_password/aliases
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/aliases
Labels: one approval

#5046 Refactor(eos_designs): Refactor eos_designs structured_config code for ip_security(overlay)
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
Labels: one approval

#4666 Refactor(eos_cli_config_gen): Enhance aaa to support multiple groups where available in EOS
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host2/aaa-accounting.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/relaxed-structured-config-validation.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/relaxed-structured-config-validation.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_aaa_methods.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5020 Feat(eos_cli_config_gen): Add TWAMP-light data model and router-TE knob
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-twamp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-traffic-engineering.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-twamp.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-traffic-engineering.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-twamp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitoring.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-twamp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_twamp.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_traffic_engineering.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5053 CI: Add manifest for ansible collection
  .github/requirements-ci-dev.txt
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/galaxy.yml
Labels: type: code quality, one approval

#5021 Feat(eos_cli_config_gen): Add Router-TE Flexalgo Support
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-traffic-engineering.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-traffic-engineering.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-traffic-engineering.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_traffic_engineering.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5104 CI: Ignore missing artifacts in Sonar workflow
  .github/workflows/sonar.yml
Labels: type: code quality, one approval

#5012 Refactor(eos_designs): Refactor eos_designs structured_config code for ip_igmp_snooping.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-tenant-igmp-snooping-conflict.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ip_igmp_snooping.py
Labels: state: CI Updated

#5108 Bump(pyavd): Add distlib to pyavd ansible-collection extra to support manifest directives
  .github/requirements-ci-dev.txt
  docs/release-notes/5.x.x.md
  python-avd/pyproject.toml
Labels: type: code quality

#5051 Refactor(eos_designs): structured_config for underlay/mlag/inband_management Vlans
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/vlans.py
Labels: one approval

#5112 Fix(eos_designs): Revert changed behavior for management_eapi
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval, cherry-pick-for-5.2.x
