Repository aristanetworks/avd, pull requests merged in 2025-08, with the labels that each got.

#5684 Fix(eos_designs): per-interface L3 MTU feature support for iBGP SVIs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/add-subnets-to-redistribution-in-default-vrf-with-sequence30.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated

#5656 Feat(eos_cli_config_gen): Add support for redirect actions to traffic-policies
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5676 Refactor(eos_designs): Deprecate support for unknown variables in structured_config
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  python-avd/pyavd/_schema/avddataconverter.py
Labels: state: CI Updated

#5638 Feat(eos_designs): Preview: Digital Twin for ACT. Use standard default creds for vEOS and CloudEOS node types
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD2-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-SUPER-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-RS2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC2-SUPER-SPINE2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5680 Feat(eos_cli_config_gen): RCF Support for router general vrf leak agent
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-general.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-BL1A.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-general.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-general.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_general.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5569 Feat(eos_designs): Preview: Digital Twin for ACT. internet_access flag for cloudeos and veos node type
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-L2LEAF2B.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/configs/DC1-POD1-L2LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-L2LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/DC1_POD1.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-digital-twin-configuration.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/digital_twin.py
  python-avd/pyavd/api/fabric_documentation/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#5636 Test: Adding support for anta unit tests and coverage
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_test_catalog.py
  sonar-project.properties
Labels: one approval

#5690 Feat(eos_designs): Added support for ipv6_static_routes under l3_interfaces and l3_portchannel_interfaces in network_services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5688 Feat(eos_designs): Add ipv6_static_routes data model under svis in network services
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-static-routes.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-static-routes.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-static-routes.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5694 Fix(eos_designs): Render ip attached-host route export only when underlay is BGP
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/devices/OSPF-SPINE1.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/configs/OSPF-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/intended/structured_configs/OSPF-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/host_vars/OSPF-SPINE1.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_6_behaviors.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5709 Refactor(eos_validate_state): Deprecate eos_validate_state
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  ansible_collections/arista/avd/roles/eos_validate_state/tasks/main.yml
  docs/release-notes/5.x.x.md
Labels: role: eos_validate_state, state: Documentation role Updated

#5695 Feat(eos_designs, eos_cli_config_gen): Add arp_gratuitous_accept to svi/l3_interfaces/l3_port_channels
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-point-to-point-services-4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#5731 Feat(eos_designs): Add support to set maximum-paths for OSPF underlay
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_maximum_paths.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_ospf.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5750 Refactor(eos_designs): Take WAN HA out of preview for CV Pathfinder
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/wan-ha-set-as-none.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-wan-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_ha.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5741 Refactor(eos_config_deploy_cvp): Deprecate arista.avd.eos_config_deploy_cvp
  ansible_collections/arista/avd/roles/dhcp_provisioner/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/README.md
  ansible_collections/arista/avd/roles/eos_config_deploy_cvp/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_validate_state/README.md
  docs/release-notes/5.x.x.md
Labels: role: eos_config_deploy_cvp, role: eos_validate_state, role: dhcp_provisioner, state: Documentation role Updated, one approval

#5723 Feat(eos_cli_config_gen): Add sFlow sample truncate
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/sflow.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/sflow.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/sflow.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/sflow.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5612 Fix(eos_designs): Correct device targeted in facts for uplink wrong bgp AS
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_BGP_AS_ON_UPLINK_SWITCH.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_SMALL_BGP_AS_RANGE_ON_UPLINK_SWITCH.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/SMALL_BGP_AS_RANGE.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/get_facts.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_errors/__init__.py
Labels: state: CI Updated, one approval

#5730 Feat(eos_designs): Node ID pool-manager automatic upgrade of old files
  python-avd/pyavd/api/pool_manager/base_classes.py
  python-avd/pyavd/api/pool_manager/node_id_pools.py
  python-avd/tests/pyavd/api/test_avdpoolmanager.py
Labels: one approval

#5639 Feat(eos_designs): Preview: Digital Twin for ACT. Enforce eAPI access in default VRF.
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-enforce-eapi-1.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-enforce-eapi-2.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-enforce-eapi-3.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/devices/digital-twin-enforce-eapi-4.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/documentation/fabric/DIGITAL_TWIN-topology.yml
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/configs/digital-twin-enforce-eapi-1.cfg
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/configs/digital-twin-enforce-eapi-2.cfg
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/configs/digital-twin-enforce-eapi-3.cfg
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/configs/digital-twin-enforce-eapi-4.cfg
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-1.yml
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-2.yml
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-3.yml
  ansible_collections/arista/avd/molecule/digital_twin/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-4.yml
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-enforce-eapi-1.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-enforce-eapi-2.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-enforce-eapi-3.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/devices/digital-twin-enforce-eapi-4.md
  ansible_collections/arista/avd/molecule/digital_twin/documentation/fabric/DIGITAL_TWIN-documentation.md
  ansible_collections/arista/avd/molecule/digital_twin/intended/configs/digital-twin-enforce-eapi-1.cfg
  ansible_collections/arista/avd/molecule/digital_twin/intended/configs/digital-twin-enforce-eapi-2.cfg
  ansible_collections/arista/avd/molecule/digital_twin/intended/configs/digital-twin-enforce-eapi-3.cfg
  ansible_collections/arista/avd/molecule/digital_twin/intended/configs/digital-twin-enforce-eapi-4.cfg
  ansible_collections/arista/avd/molecule/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-1.yml
  ansible_collections/arista/avd/molecule/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-2.yml
  ansible_collections/arista/avd/molecule/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-3.yml
  ansible_collections/arista/avd/molecule/digital_twin/intended/structured_configs/digital-twin-enforce-eapi-4.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/group_vars/DIGITAL_TWIN.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/group_vars/DIGITAL_TWIN_DEFAULT_INTERFACES.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/host_vars/digital-twin-enforce-eapi-1.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/host_vars/digital-twin-enforce-eapi-2.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/host_vars/digital-twin-enforce-eapi-3.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/host_vars/digital-twin-enforce-eapi-4.yml
  ansible_collections/arista/avd/molecule/digital_twin/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/digital-twin-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/digital_twin.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5700 Feat(anta_runner): Add anta_ variables support for connection settings
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc1-leaf1a.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
Labels: state: CI Updated, state: Documentation role Updated

#5601 Feat(eos_cli_config_gen): Add support for transceiver application override under ethernet interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5776 Fix(eos_designs): Relax schema for parent port-channel interfaces with subinterfaces
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/l3-port-channel-no-ip-address-no-subif.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/l3-port-channel-no-ip-address-subif.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-port-channels-subinterfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-port-channels-subinterfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-port-channels-subinterfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated

#5779 Test: Clean-up of deprecated variables across the molecule scenarios and examples
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/cv_pathfinder_settings.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/WAN/management.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/pf2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-border2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-wan1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-wan2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-leaf2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-wan1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site2-wan2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site3-leaf1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site3-wan1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site4-border1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site4-border2.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site4-wan1.yml
  ansible_collections/arista/avd/examples/dual-dc-l3ls/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/group_vars/FABRIC.yml
  ansible_collections/arista/avd/examples/l2ls-fabric/group_vars/DC1.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/group_vars/FABRIC/fabric_variables.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/group_vars/FABRIC/fabric_variables.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_config_deploy_cvp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-valid-ipv4-address-ntp-servers-spine.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/inventory/group_vars/FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_isis_overlay_ibgp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/AVD_LAB.yml
Labels: state: CI Updated

#5696 Feat(eos_designs): Refactor `uplink_structured_config` for node type settings and `structured_config` for p2p_links
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_STRUCTURED_CONFIG_WITH_NEW_KEYS.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1.L2LEAF7A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1.L2LEAF7A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_LEAFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L2LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_MLAG_STRUCTURED_CONFIG_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/UPLINK_P2P_VRFS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs
