Repository aristanetworks/avd, pull requests merged in 2025-01, with the labels that each got.

#4846 CI: Update CI artefacts with for ANTA v1.2.0
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine2-results.json
  python-avd/pyproject.toml
Labels: state: CI Updated, one approval

#4828 Feat(eos_designs): Add `uplink_interface_speed` option for `default_interfaces`
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/AVD_LAB.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/default-interfaces.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/default_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4852 Fix(cv_deploy): Ensure lossrate for cv_pathfinder metadata is a float
  python-avd/pyavd/_cv/workflows/deploy_cv_pathfinder_metadata_to_cv.py
Labels: one approval

#4861 Fix(eos_cli_config_gen): Fix the invalid comand `no neighbor PATH-SELECTION-PG-1 send` for BGP address-family path-selection
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
Labels: state: CI Updated

#4730 Doc: Adding contribution guide for eos_cli_config_gen
  ansible_collections/arista/avd/docs/contribution/authoring_eos_cli_config_gen.md
  ansible_collections/arista/avd/docs/contribution/overview.md
  mkdocs.yml
Labels: type: documentation

#4796 Doc: Added support for skip the TOC on fabric and device documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/eos-cli-config-gen-documentation.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-documentation.md
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/all.yml
  ansible_collections/arista/avd/plugins/action/eos_designs_documentation.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/tasks/main.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  ansible_collections/arista/avd/roles/eos_designs/tasks/main.yml
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/eos_cli_config_gen_documentation.schema.yml
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
  python-avd/pyavd/_eos_designs/j2templates/fabric_documentation.j2
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/eos_designs_documentation.schema.yml
  python-avd/pyavd/get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_doc.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4775 Feat(eos_designs): Added support for use different router IDs per VRF defined in network services
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/VRF_BGP_VTEP_ROUTER_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/VRF_OSPF_VTEP_ROUTER_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1_UNDEPLOYED_LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1_UNDEPLOYED_LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/fabric-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/use-router-general-for-router-id.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/use_router_general_for_router_id.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4855 Feat(eos_cli_config_gen): Added login/motd banner in device documentation
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/banners.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
Labels: state: CI Updated

#4853 Feat(eos_cli_config_gen): Add ICMP echo size for Monitor Connectivity hosts
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4830 Feat(eos_cli_config_gen): Added support for metric bandwitdh per interface under router path-selection
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-path-selection.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-path-selection.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-path-selection.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_path_selection.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, EPIC - AVD AutoVPN/WAN

#4845 Feat(eos_cli_config_gen): Added support for fips_restrictions under management security
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/pf2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site2-wan2.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site3-wan1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-security.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_security.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4871 Bump: New minimum requirement for ansible-core 2.16
  .github/workflows/pull-request-management.yml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyproject.toml
Labels: type: documentation, type: code quality, one approval

#4823 Feat(eos_cli_config_gen): Additional interface TE options
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4878 Fix(eos_cli_config_gen): Change `lldp.receive_packet_tagged_drop` from `str` to `bool`
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/lldp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/lldp.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/lldp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4885 Feat(eos_cli_config_gen): Add support for configuring `dhcp server ipv4` and `dhcp server ipv6` for Port-Channel interfaces
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4890 Feat(eos_cli_config_gen): Add comment to ethernet and port-channel interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4895 CI: Revert "Fix ansible-lint failures"
  .gitignore
  ansible_collections/arista/avd/.ansible-lint
Labels: one approval

#4891 Feat(eos_cli_config_gen): Added support for Virtual Router MAC Address Advertisement Interval
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-virtual-router-mac-address-advertisement-interval.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-virtual-router-mac-address-advertisement-interval.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-virtual-router-mac-address.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-virtual-router-mac-address.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_virtual_router_mac_address_advertisement_interval.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4901 Refactor(plugins): Add support for default_value to natural_sort
  python-avd/pyavd/j2filters/natural_sort.py
  python-avd/tests/pyavd/j2filters/test_natural_sort.py
Labels: one approval

#4798 Feat(eos_designs): Add platform match criteria for network_ports
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-ports-tests.1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/NETWORK_PORTS_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4876 Refactor(eos_cli_config_gen): Updated `hash_algorithm ` and `authentication key` as required key in ntp schema
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ntp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/ntp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ntp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ntp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ntp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ntp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#4915 Fix(eos_designs)!: Correct Loopback prefixes in PL-LOOPBACKS-EVPN-OVERLAY prefix-list
  ansible_collections/arista/avd/docs/release-notes/5.x.x.md
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cvp-instance-ips-cvaas.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/device.with.dots.in.hostname.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/node-type-l3-interfaces.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cvp-instance-ips-cvaas.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/device.with.dots.in.hostname.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/node-type-l3-interfaces.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/prefix_lists.py
Labels: type: documentation, state: CI Updated, one approval

#4893 CI: Update dependabot
  .github/dependabot.yml
  .github/requirements-ci-dev.txt
  .github/workflows/new-cvp-integration.yml
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/requirements-dev.txt
  python-avd/pyproject.toml
Labels: type: code quality

#4912 Fix(eos_designs): Align bgp_maximum_paths range(1 to 600) between eos_designs and eos_cli_config_gen role
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-options.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-options.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/bgp-options.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_ecmp.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_maximum_paths.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#4914 Feat(eos_cli_config_gen): Add tls option for logging protocol
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/logging.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/logging.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/logging.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/logging.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4763 Feat(eos_cli_config_gen): Add support for ip name server groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-name-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-connectivity.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-name-server-groups.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/monitor-connectivity.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-name-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-name-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_name_server_groups.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_name_servers.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_connectivity.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#4781 Test(eos_cli_config_gen): Improve test coverage part 1
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host3.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host4.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/daemon-terminattr.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/interface-defaults.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/lldp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/logging.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-sessions.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/monitor-telemetry-postcard-policy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-msdp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-multicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/sflow.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/cvx.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/daemon-terminattr.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/interface-defaults.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/ipv6-dhcp-relay.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/lldp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/logging.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/mac-address-table.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/mac-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/mcs-client.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-layer1.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/monitor-telemetry-postcard-policy.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/priority-flow-control.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/ptp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/qos.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/queue-monitor-streaming.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-l2-vpn.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-multicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/service-routing-configuration-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/sflow.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/switchport-port-security.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/tap-aggregation.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/tcam_profile.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/cvx.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/logging.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/management-ssh.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/mcs-client.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host3/router-multicast.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host4/router-bgp.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host4/router-multicast.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/lldp.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/daemon-terminattr.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-ssh.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ptp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/lldp.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#4926 CI(cv_deploy): Add dynamic cluster/tenant support for molecule scenario
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/base_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-core1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1-missing.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf3.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-leaf4.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine1.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/intended/configs/test_configs/avd-ci-spine2.cfg
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
Labels: state: CI Updated

#4897 Refactor(eos_designs): Improve structured_config object duplication checks with opt-in
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/avd_eos_designs_enforce_duplication_checks_across_all_models.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-ports-tests.1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/only-connected-endpoints.yml
  ansible_collections/arista/avd/molecule/eos_validate_state/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/connected-endpoints.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/port-profiles.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/role-settings.md
  python-avd/pyavd/_eos_designs/avdfacts.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/avd_eos_designs_structured_config.schema copy.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_adapter_config.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/structured_config/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/custom_structured_configuration/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/eos_cli.py
  python-avd/pyavd/_eos_designs/structured_config/structured_config_generator.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
  python-avd/pyavd/_schema/models/avd_model.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4932 Doc: Change location for docs/requirements.txt
  .github/labeler.yml
  .readthedocs.yaml
  ansible_collections/arista/avd/docs/requirements.txt
  development/entrypoint.sh
Labels: type: documentation, type: dependencies, type: code quality

#4819 Feat(eos_designs): Only enable PTP on certain uplinks
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf5.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf5.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_UPLINKS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-ptp-configuration.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4881 Feat(eos_designs): Optional dedicated MLAG peer group for VRFs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/EVPN-MULTICAST-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/EVPN-MULTICAST-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_MULTICAST_TESTS.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-LEAF4B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3A.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/devices/DC1-SVC3B.md
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-LEAF4B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3A.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/configs/DC1-SVC3B.cfg
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-LEAF4B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3A.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/intended/structured_configs/DC1-SVC3B.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF2.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/inventory/group_vars/DC1_LEAF3.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/bgp_peer_groups.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#4863 Feat(eos_cli_config_gen): Add match dscp and ecn support to class map type qos
  .github/ignore-codespell-words
  .github/ignore-codespell-words.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/class-maps.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/class-maps.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/class-maps.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/class-maps.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/class_maps.schema.yml
Labels: role: eos_cli_config_gen, type: code quality, state: CI Updated, state: Documentation role Updated

#4953 Refactor(eos_designs): Refactor eos_designs structured_config code for underlay router_bgp
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-ip-address-uplink-switch-router-bgp.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_bgp.py
Labels: state: CI Updated, one approval

#4955 Refactor(eos_designs): structured_config for network_services vlans
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/DUPLICATE_VLANS_MLAG.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vlans-l2vlans.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vlans-svi-id.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-vrfs-duplicate-svi-name-conflict.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlans.py
Labels: state: CI Updated, one approval

#4952 Refactor(eos_designs): Refactor eos_designs structured_config code for vrfs
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/inband_management/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vrfs.py
Labels: one approval

#4946 Refactor(eos_designs): Refactor eos_designs structured_config code for tunnel_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-tunnel-interface-internet-exit.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/tunnel_interfaces.py
Labels: state: CI Updated

#4957 Refactor(eos_designs): structured_config for network_services vlan_interfaces
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/_schema/models/avd_model.py
Labels: one approval

#4959 Refactor(eos_designs): structured_config for standard_access_list under network services and underlay
  python-avd/pyavd/_eos_designs/structured_config/network_services/standard_access_lists.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/standard_access_lists.py
Labels: one approval
