Repository aristanetworks/avd, pull requests merged in 2025-04, with the labels that each got.

#5144 Feat(eos_cli_config_gen): Added support for ipv6 router OSPFv3
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ipv6-router-ospf.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ipv6-router-ospf.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ipv6-router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/routing.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ipv6-router-ospf.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ipv6_router_ospf.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5147 Feat(eos_cli_config_gen): Add support for dot1x statistics, vlan assignment group and radius av-pair filter_id
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/dot1x.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/dot1x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/dot1x.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/dot1x.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, rn: Feat(eos_cli_config_gen)

#5213 Fix(anta_runner): Improve logging and exception handling
  ansible_collections/arista/avd/molecule/anta_runner/converge.yml
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/anta_logging_filter.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_anta_logging_filter.py
  sonar-project.properties
Labels: state: CI Updated, state: Documentation role Updated

#5233 CI: update bug report template
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: type: code quality

#5242 Doc: Move node type keys mgmt_gateway, ipv6_mgmt_gateway, and flow_tracker_type to the common configuration table
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-common-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-structure.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#5250 CI: Enforce a newline at the beginning of multiline docstrings
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/action/eos_cli_config_gen.py
  ansible_collections/arista/avd/plugins/action/eos_validate_state_reports.py
  ansible_collections/arista/avd/plugins/action/eos_validate_state_runner.py
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/ansible_eos_device.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/avdtestbase.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/config_manager.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/csv_report.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/get_anta_results.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/md_report.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/mixins.py
  ansible_collections/arista/avd/plugins/plugin_utils/eos_validate_state_utils/results_manager.py
  ansible_collections/arista/avd/plugins/plugin_utils/merge/mergecatalog.py
  ansible_collections/arista/avd/plugins/plugin_utils/pyavd_wrappers.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/anta_logging_filter.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/cprofile_decorator.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_validated_path.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/get_validated_value.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/log_message.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestavt.py
  ansible_collections/arista/avd/roles/eos_validate_state/python_modules/tests/avdtestrouting.py
  pyproject.toml
  python-avd/pyavd/_anta/input_factories/_base_classes.py
  python-avd/pyavd/_anta/input_factories/avt.py
  python-avd/pyavd/_anta/input_factories/connectivity.py
  python-avd/pyavd/_anta/input_factories/interfaces.py
  python-avd/pyavd/_anta/input_factories/routing_bgp.py
  python-avd/pyavd/_anta/input_factories/security.py
  python-avd/pyavd/_anta/input_factories/stun.py
  python-avd/pyavd/_anta/logs.py
  python-avd/pyavd/_anta/models.py
  python-avd/pyavd/_anta/utils.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
  python-avd/pyavd/_schema/avdschema.py
  python-avd/pyavd/api/_anta/avd_catalog_generation_settings.py
  python-avd/pyavd/api/_anta/minimal_structured_config.py
  python-avd/pyavd/api/_anta/test_spec.py
  python-avd/pyavd/get_device_test_catalog.py
  python-avd/pyavd/j2filters/add_md_toc.py
  python-avd/pyavd/j2tests/contains.py
  python-avd/pyavd/j2tests/defined.py
Labels: role: eos_validate_state

#5235 CI: Update Ansible tool chain for certification
  .github/workflows/pull-request-management.yml
  README.md
  ansible_collections/arista/avd/.ansible-lint
  ansible_collections/arista/avd/README.md
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/requirements-dev.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.19.txt
Labels: type: documentation, type: code quality

#5243 Feat(eos_designs): Add support to disable management api http-commands in eos_designs
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-L2LEAF1A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5237 Feat(eos_designs): Hardware forwarding knob for diagnostic loopbacks
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-loopbacks-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/loopback_interfaces.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5234 Feat(eos_cli_config_gen): Add support for kernel software forwarding ecmp
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/kernel.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/kernel.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/kernel.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/kernel.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/kernel.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5249 Test(eos_designs): Add pytest coverage for get_fabric_documentation
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/custom-ptp-profile.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/custom-ptp-profile.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/custom-ptp-profile.yml
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
  python-avd/tests/models.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_cli_config_gen_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_eos_designs_class.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_avd_facts.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_doc.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_device_structured_config.py
  python-avd/tests/pyavd/molecule_scenarios/test_get_fabric_documentation.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_inputs.py
  python-avd/tests/pyavd/molecule_scenarios/test_validate_structured_config.py
Labels: state: CI Updated, one approval

#5251 CI: Add settings for pyright
  pyproject.toml
Labels: one approval

#5252 Test(eos_designs): Add pytest coverage for overlay/management_cvx.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mgmt-ip-overlay-cvx-servers.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-overlay-cvx-servers.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5241 Feat(eos_designs): Add support for `structured_config` inside `<network_services_keys.name>[].vrfs[].ospf`
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5195 Fix: Properly load Ansible connection vars into ANTA runner
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/action_plugin_vars.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_action_plugin_vars.py
Labels: state: Documentation role Updated

#5200 Feat(eos_cli_config_gen): Add support for agent shutdown option
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/agents.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/agents.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/agents.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/agents.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/agents.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5253 CI: Bump pre-commit j2lint version to latest release
  .pre-commit-config.yaml
Labels: one approval

#5254 Test(pyavd): Improve testing of schema validation
  .gitignore
  docs/contribution/input-variable-validation.md
  pyproject.toml
  python-avd/pyavd/_schema/avd_meta_schema.json
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/schema/test_avdschema_bool.py
  python-avd/tests/pyavd/schema/test_avdschema_dict.py
  python-avd/tests/pyavd/schema/test_avdschema_int.py
  python-avd/tests/pyavd/schema/test_avdschema_list.py
  python-avd/tests/pyavd/schema/test_avdschema_str.py
Labels: one approval

#5265 CI: Remove the molecule action usage from pull-request-management workflow
  .github/check-git-status.sh
  .github/requirements-ci-dev.txt
  .github/workflows/pull-request-management.yml
Labels: type: code quality, one approval

#5266 Feat(eos_designs): Added the support of notification_host_flap in mac address table
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-address-table.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/system-settings.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_address_table.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/mac_address_table.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#5276 Doc(eos_designs): Add network-services l3_port_channels to input variables
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: state: Documentation role Updated, role: eos_designs

#5271 Feat(eos_cli_config_gen): Added support for command hardware access-list update default-result permit
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/hardware.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/hardware.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/hardware.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/hardware-access-list-update-default-result-permit.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/hardware.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5136 Doc: Arista AVD A-Care TAC Support Overview
  README.md
  ansible_collections/arista/avd/README.md
  docs/_media/release_timeline_example_dark.svg
  docs/_media/release_timeline_example_light.svg
  docs/_media/software_lifecycle_dark.svg
  docs/_media/software_lifecycle_light.svg
  docs/stylesheets/extra.material.css
  docs/support/support_overview.md
  index.md
  mkdocs.yml
Labels: type: documentation

#5288 CI: Exclude www.arista.com.* from offline links check
  .github/workflows/offline-links-check.yml
Labels: type: code quality

#5274 Test(eos_designs): Add pytest coverage for network_services/ip_access_lists
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acls-internet-exit-access-lists.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ipv4-acls-zscaler-internet-exit-access-lists.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5292 Doc: update contribution guide
  README.md
Labels: type: documentation

#5287 Test(eos_designs): Add pytest coverage for underlay/static_routes
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-peer-ip-l3-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5291 Doc: underlay ethernet interfaces context update for custom templates
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/CUSTOM-TEMPLATES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/CUSTOM-TEMPLATES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/CUSTOM_TEMPLATES_L3LEAFS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_interface_descriptions_with_data.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CUSTOM-PYTHON_MODULES-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CUSTOM_PYTHON_MODULES_L3LEAFS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5281 Test(eos_designs): Add pytest coverage for eos_designs_facts/utils.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/undefined-peer-facts.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5280 Test(eos_designs): Added pytest coverage for shared_utils/ip_addressing.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-loopback-ipv4-pool.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-loopback-ipv6-pool.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-vtep-loopback-ipv4-pool.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5285 Test(eos_designs): Add pytest coverage for network_services/virtual_source_nat_vrfs.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/tenant-default-vrf-with-loopbacks.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/tenant-default-vrf-with-loopbacks.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/tenant-default-vrf-with-loopbacks.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated, one approval

#5298 Refactor: Address ansible-sanity failure from ansible devel
  ansible_collections/arista/avd/plugins/action/eos_validate_state_runner.py
Labels: one approval

#5264 Test(eos_designs): Add pytest coverage for shared_utils/cv_topology.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_MISSING_CV_TOPOLOGY_DEFAULT_MLAG_INTERFACEES.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology-default-uplink-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CV-TOPOLOGY-LEAF3A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/CV-TOPOLOGY-LEAF3B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-SPINE4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CV-TOPOLOGY-LEAF3A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/CV-TOPOLOGY-LEAF3B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-SPINE4.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_TOPOLOGY.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
Labels: state: CI Updated

#5165 Feat(eos_cli_config_gen): Add support for set-nexthop-peer under BGP
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-bgp.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-bgp.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-bgp.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_bgp.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, role: eos_designs

#5300 Test(eos_designs): Add pytest coverage for network_services/router_ospf.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/VRF_OSPF_MISSING_PROCESS_ID.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
Labels: state: CI Updated

#5282 Feat(eos_cli_config_gen): Added the support for list of ip domain in ip name server groups
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ip-name-server-groups.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/ip-name-server-groups.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-name-server-groups.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ip-name-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ip-name-server-groups.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ip_name_server_groups.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5284 Test(eos_designs): Add pytest coverage for overlay/route_maps.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-prevent-readvertise-to-server-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-prevent-readvertise-to-server-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn-prevent-readvertise-to-server-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-prevent-readvertise-to-server-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-prevent-readvertise-to-server-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn-prevent-readvertise-to-server-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/EVPN_PREVENT_READVERTISE_TO_SERVER.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5306 Test(eos_designs): Add pytest coverage for network_services/router_path_selection.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-default-policy-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-control-load-balance-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-policy-in-traffic-vrfs.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-empty-load-balance-policy.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-empty-load-balance-policy.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5319 Test(eos_designs): Add pytest coverage for base/ntp.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/node-type-l3-interfaces.yml
Labels: state: CI Updated

#5272 Refactor(eos_designs): Improve network_services/router_adaptive_virtual_topology.py and improve pytest coverage
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-control-plane-virtual-topology-path-groups.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-default-virtual-topology-path-group.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/wan-router-policy-unmatched.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-edge-3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_CUSTOM_CONTROL_PLANE_POLICY_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-custom-control-plane-policy-edge-2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-custom-control-plane-policy-edge-3.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_adaptive_virtual_topology.py
Labels: state: CI Updated

#5304 Test(eos_designs): Add pytest coverage for overlay/cvx.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mgmt-ip-cvx-servers.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated

#5315 Test(eos_designs): Add pytest coverage for structured_config/mlag/__init__
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/bgp-peer-groups-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/bgp-peer-groups-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/BGP_PEER_GROUPS.yml
Labels: state: CI Updated, one approval

#5312 Refactor(eos_designs): Improve pytest coverage for overlay/ip_security
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-ipsec-profiles.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/ip_security.py
Labels: state: CI Updated, one approval

#5322 Test(eos_designs): Add pytest coverage for network_services/loopback_interfaces.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-L2LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MH-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-L2LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MH-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MH_TENANT_NETWORKS.yml
Labels: state: CI Updated, one approval

#5324 CI(containers): fix universal build workflow
  .github/workflows/container_build_base.yml
  .github/workflows/container_build_dev.yml
  .github/workflows/container_build_fix.yml
  .github/workflows/container_build_template.yml
  .github/workflows/container_build_universal.yml
Labels: type: code quality

#5259 Feat(eos_designs): Add CloudEOS platform type
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
Labels: state: Documentation role Updated, role: eos_designs, one approval

#5056 Feat(eos_designs): all_active_multihoming_evpn_gateway
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-interdomain-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-ipvpngw-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-mlag-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-evpn-gateway-aa-mh-gw-platform-conflict.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_gateway_all_active_mh_gw.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_gateway_all_active_mh_gw.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/evpn_gateway_all_active_mh_gw.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-evpn-multi-domain-gateway-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5303 Feat(anta_runner): Add strict mode to fail the Ansible task if a test failed or errored
  ansible_collections/arista/avd/plugins/action/anta_workflow.py
  ansible_collections/arista/avd/plugins/modules/anta_workflow.py
  ansible_collections/arista/avd/roles/anta_runner/README.md
  ansible_collections/arista/avd/roles/anta_runner/defaults/main/main.yml
  ansible_collections/arista/avd/roles/anta_runner/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/anta_workflow.md
Labels: state: Documentation role Updated, one approval

#5323 Test(eos_designs): Improve pytest coverage for overlay/stun.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-custom-control-plane-policy-pathfinder-1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_CUSTOM_CONTROL_PLANE_POLICY_TESTS.yml
Labels: state: CI Updated, one approval

#5305 Fix(eos_designs): Fix descriptions not taking precedence for l3_edge and core_interfaces
  ansible_collections/arista/avd/molecule/ansible_only/intended/configs/l3_edge.cfg
  ansible_collections/arista/avd/molecule/ansible_only/intended/structured_configs/l3_edge.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/l3_edge.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_bgp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_bgp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_bgp.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Labels: state: CI Updated, one approval

#5295 Test(eos_designs): Add pytest coverage for shared_utils/ptp.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-p2p-links-more-than-2-nodes.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
Labels: state: CI Updated, one approval

#5311 Fix(eos_designs): Improve pytest coverage for connected_endpoints/monitor_sessions
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/monitor_sessions.py
Labels: one approval

#5134 Fix(eos_cli_config_gen): Fix reordering of name-server group between vrf host and root in monitor connectivity
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/monitor-connectivity.j2
Labels: state: CI Updated, one approval

#5333 Feat(cv_deploy): Handle WorkspaceStreamResponse with ResponseStatus.UNSPECIFIED
  python-avd/pyavd/_cv/client/change_control.py
  python-avd/pyavd/_cv/client/workspace.py
Labels: one approval

#5342 Doc: Update AAP doc page to reflect AAP as not TAC supported
  docs/getting-started/avd-aap.md
Labels: one approval

#4889 Feat(cv_deploy): Add verification of the duplicated devices
  ansible_collections/arista/avd/molecule/cv_deploy/converge.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/exceptions.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyavd/_cv/workflows/verify_inputs.py
  python-avd/pyavd/_utils/groupby.py
  python-avd/tests/pyavd/workflows/test_verify_inputs.py
Labels: state: CI Updated, state: Documentation role Updated, one approval

#5332 Refactor(eos_designs): Improved pytest coverage for metadata/cv_tags.py
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-generate-cv-device-tags-data-path.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-generate-cv-device-tags.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/invalid-generate-cv-interface-tags-data-path.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-generated-cv-device-tags-value-and-data-paths.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-generated-cv-interface-tags-value-and-data-paths.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/autovpn-cv-interface-tags-test.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/autovpn-cv-interface-tags-test.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
Labels: state: CI Updated

#4744 Test(cv_deploy): Add support for offline testing of CVClient
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/tests/pyavd/cv/__init__.py
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/45abde6fa8b829e3c0ee63e911713c6ec83b0ee8.json
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-prod-us-central1-c.arista.io/a54b9ef82b71dd7a11bcbc5a5112935a3ecc518c.json
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-staging.corp.arista.io/45abde6fa8b829e3c0ee63e911713c6ec83b0ee8.json
  python-avd/tests/pyavd/cv/api_recordings/arista.inventory.v1.DeviceService/GetAll/www.cv-staging.corp.arista.io/a54b9ef82b71dd7a11bcbc5a5112935a3ecc518c.json
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/mockery.py
Labels: one approval

#5197 Feat(eos_designs): Add core/l3 edge channel id generation options
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/core-interfaces-missing-id-with-channel-id-algorithm.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-1-isis-sr-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/core-2-ospf-ldp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-1-isis-sr-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/core-2-ospf-ldp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval
