Repository aristanetworks/avd, pull requests merged in 2025-03, with the labels that each got.

#5105 Refactor(eos_designs): Refactor eos_designs structured_config code for router_internet_exit
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-internet-exit.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_internet_exit.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_internet_exit.py
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#5122 CI(containers): Fix if condition in container builds
  .github/workflows/container_build_base.yml
  .github/workflows/container_build_dev.yml
  .github/workflows/container_build_universal.yml
Labels: type: code quality, one approval

#5128 Feat(eos_cli_config_gen): Add TWAMP sender profile knob under router TE
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-traffic-engineering.j2
Labels: state: CI Updated

#5119 Refactor(eos_designs): Refactor eos_designs structured_config code for spanning_tree
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/spanning_tree.py
Labels: one approval

#5084 Refactor(eos_designs): Refactor structured_config code for dhcp_servers.py
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-parent.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/inband-mgmt-spine2-ztp.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-parent.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/inband-mgmt-spine2-ztp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/INBAND_MGMT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/inband-mgmt-spine2-ztp.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/inband_ztp_bootstrap_file.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/dhcp_servers.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5131 Refactor(eos_designs): Refactor eos_designs structured_config code for mlag init
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/structured_config/mlag/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Labels: one approval

#5017 Feat(eos_designs): Add metric bandwidth support for l3_interfaces
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/wan-router-l3-interfaces-unsupported-rxtx-for-subinterface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/cv-pathfinder-edge1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, EPIC - AVD AutoVPN/WAN

#5139 Feat(eos_cli_config_gen): Support "authorization requests" for GNMI transport GRPC
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/management-api-gnmi.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/management-api-gnmi.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/management-api-gnmi.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/management_api_gnmi.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5123 Refactor(eos_designs): Refactor eos_designs structured_config code for flows init
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/flow-tracking-missing-tracker.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/flow-tracking-tests-spine2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/flow-tracking-tests-spine2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/FLOW_TRACKING_TESTS_SPINES_2.yml
  python-avd/pyavd/_eos_designs/structured_config/flows/__init__.py
Labels: state: CI Updated

#5151 CI: Bump dev req to anta 1.3 and update artifcats in CI
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine2-results.json
  ansible_collections/arista/avd/requirements-dev.txt
Labels: state: CI Updated

#5002 Refactor(eos_designs): Refactor eos_designs structured_config code for router_path_selection
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-virtual-topologies.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_virtual_topology.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_adaptive_virtual_topology.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_path_selection.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/utils_wan.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_path_selection.py
Labels: state: Documentation role Updated, role: eos_designs

#5161 CI: Making running from source work with molecule above 25.2 (#5101)
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.csv
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/FABRIC-state.md
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-spine2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-svc-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc1-wan2-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf1c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2a-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2b-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf2c-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3a.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-leaf3b.arista.com-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine1-results.json
  ansible_collections/arista/avd/molecule/eos_validate_state/reports/test_results/dc2-spine2-results.json
  ansible_collections/arista/avd/plugins/__init__.py
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/pytest.ini
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
Labels: state: CI Updated

#5158 Fix(eos_designs): Revert changed behavior for management_eapi (#5112)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/management_eapi.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5163 Doc: Release notes 5.2.3
  docs/release-notes/5.x.x.md
Labels: one approval

#5169 CI: Updating pylintrc and move to markdownlint-cli2 for performance (#5088)
  .github/.markdownlint.yaml
  .github/.markdownlintignore
  .markdownlint-cli2.yaml
  .pre-commit-config.yaml
  ansible_collections/arista/avd/pylintrc
  pylintrc
Labels: type: code quality, cherry-pick, one approval

#5164 Bump: Release 5.2.3
  ansible_collections/arista/avd/CHANGELOG.rst
  ansible_collections/arista/avd/changelogs/.plugin-cache.yaml
  ansible_collections/arista/avd/changelogs/changelog.yaml
  ansible_collections/arista/avd/changelogs/fragments_backup/v5.2.3.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  docs/release-notes/5.x.x.md
  python-avd/pyavd/__init__.py
Labels: cherry-pick, one approval

#5149 Feat(eos_cli_config_gen): Added support for 802.1x phone ACL bypass
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/switchport-default.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/switchport-default.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/switchport-default.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/switchport-default.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/switchport_default.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5176 Feat(eos_cli_config_gen): Support microsecond unit for qos_profiles threshold
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/qos-profiles.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/qos_profiles.schema.yml
Labels: role: eos_cli_config_gen, state: Documentation role Updated

#5180 Feat(eos_cli_config_gen): Add 'replay protection' support in MacSec profiles
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/mac-security-eth-po-entropy.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/mac-security.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/mac-security.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/mac_security.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5167 Feat(eos_cli_config_gen): Hardware forwarding id knob for loopbacks
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/loopbacks-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/loopback-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/loopback-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/loopback_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5175 Refactor(eos_designs): Refactor eos_designs structured_config code for network_services struct_cfgs
  python-avd/pyavd/_eos_designs/structured_config/network_services/struct_cfgs.py
Labels: one approval

#5148 Feat(eos_cli_config_gen): Add support for authentication login command-api
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/aaa-authentication.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-authentication.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-authentication.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_authentication.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated, one approval

#5168 Feat(eos_cli_config_gen): Support for configuring dhcp server ipv4 and ipv6 for Vlan interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vlan-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vlan-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/dhcp-servers.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vlan-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vlan_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5183 Feat(eos_cli_config_gen): Add support for spanning_tree_bpduguard `rate-limit count` under ethernet_interfaces
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/ethernet-interfaces.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ethernet-interfaces.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/ethernet_interfaces.schema.yml
Labels: role: eos_cli_config_gen, state: CI Updated, state: Documentation role Updated

#5019 Feat(eos_designs): Add l3_port_channel support in network services
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-with-members.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-with-mode.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-with-mtu.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-without-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/net-srv-l3-po-sub-interface-without-main-po.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-multicast-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-loopbacks-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/shared_utils/flow_tracking.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5009 Feat(eos_designs): Add support for RSS interface profile for select p…
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sfe-interface-profile-duplicate-interface-members.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sfe-interface-profile-exceed-max-rx-queue-cnt.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/sfe-interface-profile-worker-id-exceed-max.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/sfe-interface-profile-options.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/sfe-interface-profile-options.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/sfe-interface-profile-options.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-interfaces-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l3-port-channels-configuration.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_interfaces.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type_l3_port_channels.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_rx_queue_settings.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/base/platform_mixin.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5184 Feat(anta_runner): Add ANTA MLAG related tests
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf2b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-svc-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-svc-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf2b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf1a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf1b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf2a.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf2b.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf3a.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc2-leaf3b.arista.com.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/allow_bgp_vrfs_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/default_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.csv
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/reports/filtered_run/anta_report.md
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf1a.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf1b.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf2a.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf2b.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-svc-leaf1a.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-svc-leaf1b.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/DC1_L3_LEAVES.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/group_vars/DC1_SVC_LEAVES.yml
  ansible_collections/arista/avd/roles/anta_runner/README.md
  python-avd/pyavd/_anta/constants.py
  python-avd/pyavd/_anta/index.py
  python-avd/pyavd/_anta/input_factories/__init__.py
  python-avd/pyavd/_anta/input_factories/mlag.py
  python-avd/pyavd/_anta/lib/tests/__init__.py
Labels: state: CI Updated, state: Documentation role Updated

#5087 Refactor(eos_designs): Refactor eos_designs structured_config code for core_interfaces_and_l3_edge ethernet/port-channel interfaces, router-bgp and utils
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interface-l3-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces-with-port-channel.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-interfaces-core-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/duplicate-neighbors-l3-edge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5199 Fix(eos_cli_config_gen): Ethernet interface documentation template to change double ** into single *
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/inet-cloud.md
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site3-wan1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE2-LSR2.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
Labels: state: CI Updated

#5203 Doc: Add static route for site1-wan1 to SITE1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/documentation/devices/site1-wan1.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/SITE1.yml
  ansible_collections/arista/avd/examples/cv-pathfinder/images/wan-example-topo.svg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/configs/site1-wan1.cfg
  ansible_collections/arista/avd/examples/cv-pathfinder/intended/structured_configs/site1-wan1.yml
Labels: one approval

#5204 CI: Add Scope for anta_runner in release notes
  .github/generate_release.py
  .github/release.yml
Labels: type: code quality, one approval

#5191 Feat(eos_designs): Enable graceful-restart for underlay OSPF
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/l3_edge_multicast.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_multicast.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/underlay-ospf-graceful-restart.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_graceful_restart.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/router_ospf.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/router_ospf.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs

#5216 Doc(eos_designs): Fix typos in node type table and keys
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
Labels: state: Documentation role Updated, role: eos_designs

#5230 Fix(eos_designs): Avoid setting cv_tag "lan" for port-channel members
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/cv-pathfinder-edge4B.yml
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/cv_tags.py
Labels: state: CI Updated, one approval

#5229 Fix(eos_designs): Bring back connected endpoints short_esi support on EPVN-MPLS LERs
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER1.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/devices/SITE1-LER2.md
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER1.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/configs/SITE1-LER2.cfg
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER1.yml
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/intended/structured_configs/SITE1-LER2.yml
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
Labels: state: CI Updated, one approval, cherry-pick-for-4.10.x

#5218 Feat(eos_designs): Support MST PVST border under node_config
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/ptp-tests-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/ptp-tests-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PTP_TESTS_LEAFS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-l2-mlag-configuration.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Labels: state: CI Updated, state: Documentation role Updated, role: eos_designs, one approval

#5182 Refactor(eos_designs): Refactor code for underlay/overlay/connected_endpoints/network_services utils
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/connected_endpoints/utils.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/router_bgp.py
  python-avd/pyavd/_eos_designs/structured_config/overlay/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/route_maps.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/vlans.py
  python-avd/pyavd/_schema/models/avd_list.py
Labels: one approval
